**Data Scientist**

$EDA$ --*Exporatory Data Analysis*
-

1.Numpy - {Numerical Python}
2.Pandas - {Data base operation}
3.Matplotlib - {plotting }
4.Seaborn - {plotting}
5.Bokhe - {plotting }

$ML$ -- **Machine Learning**

SciKit learn -{used by data scientist}
MLlib -{used by data engineer}

**Deep Learning**

1.Tensorflow
2.keras
3.pyTorch
4.openCV

$NLP$ -- **Natural Learning Process**

1.mtk
2.SciPy

$BERT-MODEL$ --**Transformer**

1.Azure ML package
2.chat gpt package
3.open CV
4.FLASK
5.streamLit

$Deep Learning + NLP == Data Science$

# python package:-

EDA = [numpy, pandas, matplotlib]

ML = [skylean=python, MLlib=pyspark]

DL = [tensorflow,keras,pytorch,opencv]

NLP = [nltk,scipy]

x = 10  # Integer literal
y = 3.14  # Float literal
name = "John"  # String literal
is_valid = True  # Boolean literal
my_list = [1, 2, 3]  # List literal
my_tuple = (4, 5, 6)  # Tuple literal
my_dict = {'a': 1, 'b': 2}  # Dictionary literal

$Literals$

--literals are fixed value that can't be changed in program
--Literals are used to represent data types

eg:-
String, Charecter, boolean,etc..

Numeric Literals:

Integers: Whole numbers, e.g., 42, -10, 0b1010 (binary), 0o12 (octal), 0x1A (hexadecimal).
Floats: Decimal numbers, e.g., 3.14, -2.718, 1e-5 (scientific notation).
Complex: Numbers with real and imaginary parts, e.g., 2 + 3j.

String Literals:

Single-quoted: Enclosed within single quotes, e.g., 'Hello'.
Double-quoted: Enclosed within double quotes, e.g., "World".
Triple-quoted: Enclosed within triple single or double quotes, e.g., `'''Multi-line
string'''`, `"""Another multi-line
string"""`.


Boolean Literals:

True
False

Sequence Literals:

List: Enclosed within square brackets, e.g., [1, 2, 3].
Tuple: Enclosed within parentheses, e.g., (1, 2, 3).

Mapping Literal:

Dictionary: Enclosed within curly braces, with key-value pairs separated by colons,
e.g., {'name': 'Alice', 'age': 30}.

$print() function$

The print() function is a very versatile tool that is used to print anything
in Python.

# data type :-

integer ---int

float  ---float

string  ----str

boolean  ---bool

complex  ----complex

In [4]:
# Simple print function
print("Hello World!")

Hello World!

In [5]:
# Concatenating string and integer literal
print("January", 2010)

January 2010

In [7]:
# Concatenating two strings
print("this is string1", "this is string2")

this is string1 this is string2

# format() function

Using this function, we can construct a string from information like variables..

In [12]:
n1=10
n2=20
add=n1+n2
print("the addition of {} and {} is {}".format(n1,n2,add))

the addition of 10 and 20 is 30

In [14]:
string = 'Python! '
string * 3

'Python! Python! Python! '

In [16]:
string = 'EPAT Handbook!'
string[0] # 0 refers to an element E

'E'

In [28]:

#"""Returns the sum of of two numbers"""

def addition(a,b):
   
   return a+b
addition(2,5)

7

In [31]:
def factorial(n):
#"""Returns the factorial of n"""
    i = 0
    result = 1
    while(i != n):
      i = i + 1
      result = result * i
    return result

factorial(5)

120

• Data Science : NumPy, pandas, SciPy, etc
• Graphics : matplotlib, plotly, seaborn, bokeh, etc.
• Statistics : statsmodels
• Machine learning : SciKit-Learn, Keras, TensorFlow, Theano, etc.
• Web scraping : Scrapy, BeautifulSoup,
• GUI Toolkit : pyGtk, pyQT, wxPython, etc.
• Web Development : Django, web2py, Flask, Pyramid, etc.

whenever you see () this mean function 
another name of functon is called "method"

-inside bracket what you see are called parameter.

-another name for parameter is called arguments

In [1]:
s=(10,20,'Hello')
type(s)

tuple

In [2]:
 s.append(10)

AttributeError: 'tuple' object has no attribute 'append'

#If Else statement
if(conditional statement):
(statement to be executed)
else:
(alternate statement)

In [4]:
#eg
A=eval(input("Enter the value:-"))
if A%2==0:
   print("No. is Even")
else:
   print("No. is Odd")

Enter the value:- 43

No. is Odd

3. If Else Elif statement
if(conditional #1):
(statement 1)
elif(condition 2):
(statement# 2)
elif(cond 3):
(3rd statement)
else:
(alternate statement)

In [6]:
#eg.
M=eval(input("Enter your marks:-"))
if M>=60:
   print("first div")
elif 48<M<60:
   print("Second div")
elif 33<M<48:
   print("Third div")
else:
   print("Student is Fail")

Enter your marks:- 78

first div

# For Loop with Range() in Python

It is used for repeatation and iteration

In [8]:
for N in range(1,11):
  print('2*',N,'=',2*N)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [10]:
 for z in range(1,15):
   print('5*',z,'=',5*z)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50
5* 11 = 55
5* 12 = 60
5* 13 = 65
5* 14 = 70

In [12]:
## Reverse looping
for a in range(10,0,-1):
  print("2*",a,'=',2*a)

2* 10 = 20
2* 9 = 18
2* 8 = 16
2* 7 = 14
2* 6 = 12
2* 5 = 10
2* 4 = 8
2* 3 = 6
2* 2 = 4
2* 1 = 2

In [13]:
for i in range(3):
    print("a")

for i in range(2):
    print("b")

for i in range(3):
    print("3")

a
a
a
b
b
3
3
3

In [14]:
for i in range(10,16):
    print("the square of {} is {}".format(i,i*i))

the square of 10 is 100
the square of 11 is 121
the square of 12 is 144
the square of 13 is 169
the square of 14 is 196
the square of 15 is 225

In [15]:
def square():
    num1=eval(input("enter start number"))
    num2=eval(input("enter end number"))

    for i in range(num1,num2):
       print("the square of {} is {}".format(i,i*i))


square()

enter start number 4
enter end number 8

the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49

In [16]:
sum=0
for i in range(1,11):
    
    sum=sum+i
    print("{}+{} is :".format(sum,i))
    print(sum)

1+1 is :
1
3+2 is :
3
6+3 is :
6
10+4 is :
10
15+5 is :
15
21+6 is :
21
28+7 is :
28
36+8 is :
36
45+9 is :
45
55+10 is :
55

In [17]:
import random 
for i in range(5):
    num=random.randint(10,30)
    if num%2==0:
        print("the given number {} is even".format(num))
    else:
        print("the given number {} is odd".format(num))

the given number 25 is odd
the given number 15 is odd
the given number 28 is even
the given number 22 is even
the given number 25 is odd

In [18]:
num= eval(input("enter which number divisible you want to know:"))
for i in range (1,num+1):
    if(num/i)%2==0:
        print("{} is divisible by {}".format(num,i))

enter which number divisible you want to know: 65

In [19]:
[i**3 for i in range(0,10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [22]:
x = [10,20,30,40,50,60]
type(x)

list

In [25]:
y = ([10,20,30,40,50,60])
type(y)

list

# List

                                                - Lists are just like the arrays , declared in other 
                                                languages which is a ordered collection of data.
                                                - It                                                
is very flexible as the items in a list do not need t                                                 
be of the same typ
                                                - list elements are hetrogenous (diffrent) data types are allowede.

In [29]:
list1=[1,1,2,3,4,"a","b",3+5j]
type(list1)

list

In [32]:
list1[7]

(3+5j)

In [33]:
type(list1[7])

complex

In [34]:
s1="virat.kohli@blr.com,rohit.sharma@mumbai.com,kl.rahul@lucknow.com" 
s1.split(",")

['virat.kohli@blr.com', 'rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [35]:
s1="virat.kohli@blr.com,rohit.sharma@mumbai.com,kl.rahul@lucknow.com"
str1="virat.kohli@blr.com"
first_name=str1[:str1.find(".")]
print(first_name)

virat

In [36]:
s1="virat.kohli@blr.com,rohit.sharma@mumbai.com,kl.rahul@lucknow.com"
str1="virat.kohli@blr.com"
f_name=str1[:str1.find(".")]
s_name=str1[str1.find(".")+1:str1.find("@")]
c_name=str1[str1.find("@")+1:str1.find(".",str1.find(".")+1)]
print(f_name)
print(s_name)
print(c_name)

virat
kohli
blr