**$dictionay$**

In [ ]:
list1=["lal","pal","bal"]
list2=[25,50,75]

In [2]:
list1=["lal","pal","bal"]
list2=[25,50,75]

for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

lal age is 25
pal age is 50
bal age is 75

In [ ]:
dictionary is curley braces with key:value pairs

#{key:value}

In [ ]:
d1={"lal":25,"bal":50,"pal":75}

In [4]:
d1={"lal":25,"bal":50,"pal":75}
print(d1)
d2= {1:"a",2:"b",3:"c"}
print(d2)

{'lal': 25, 'bal': 50, 'pal': 75}
{1: 'a', 2: 'b', 3: 'c'}

In [5]:
d3={(2,4,6):"even",(1,3,5):"odd"}
print(d3)

#this is tuple

{(2, 4, 6): 'even', (1, 3, 5): 'odd'}

In [6]:
d3={[2,4,6]:"even",[1,3,5]:"odd"}
print(d3)

TypeError: unhashable type: 'list'

In [7]:
#{"key":<{}>}

d5={"item_list":{"apple","boy"}}
print(d5)

{'item_list': {'boy', 'apple'}}

In [9]:
a=[1,2]
b=(1,2)
c=1,2
print(a,b,c)

[1, 2] (1, 2) (1, 2)

# Dictionary **
-dictionary is akey value pairs 
-at key value position you can take any data types
-at key position list and dictionary will fail
-duplicate are not allowed

In [ ]:
-str
-list
-dict
-int
-float
-bool
-complex
-tuple

In [13]:
d1={"ram":25,"raheem":50,"lucifer":75,"jo":100}
print(max(d1))
print(min(d1))

ram
jo

In [14]:
d1={"ram":25,"raheem":50,"lucifer":75,"jo":100}

d1["ram"]

25

In [15]:
for key in d1:
    print("the age of {} is {}".format(key,d1[key]))

the age of ram is 25
the age of raheem is 50
the age of lucifer is 75
the age of jo is 100

*creating a empty dictionay*

In [18]:
s=""
for i in "apple":
    print(i)

a
p
p
l
e

In [20]:
s=""
for i in "apple":
    s=s+i

print(s)

apple

In [21]:
d1={}
d1["fruits"]="apple"
d1

{'fruits': 'apple'}

In [22]:
d1={}
d1["firstName"]="Deepak"
d1["lastName"]="kumar"
d1["age"]=28
d1["Country"]="India"
d1

{'firstName': 'Deepak', 'lastName': 'kumar', 'age': 28, 'Country': 'India'}

In [24]:
names=["ram","laxman","bharat"]
age=[30,32,34]

dict1={}
for i,j in zip(names,age):
    dict1[i]=j
    print(dict1)

{'ram': 30}
{'ram': 30, 'laxman': 32}
{'ram': 30, 'laxman': 32, 'bharat': 34}

In [29]:
names=["ram","laxman","bharat"]
age=[30,32,34]

dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    print(dict1)

{'ram': 30}
{'ram': 30, 'laxman': 32}
{'ram': 30, 'laxman': 32, 'bharat': 34}

In [30]:
names=["ram","laxman","bharat"]
age=[30,32,34]

dict1={names[i]:age[i] for i in range(len(names))}
print(dict1)

{'ram': 30, 'laxman': 32, 'bharat': 34}

In [31]:
names=["ram","laxman","bharat"]
age=[30,32,34]

dict1={names:age for names,age in zip(names,age)}
print(dict1)

{'ram': 30, 'laxman': 32, 'bharat': 34}

In [ ]:
#wap take 5 random number
#create a dictionary with even or odd
#output {"even":[20,22],"odd":[19,21,23]}

In [ ]:
import random
d1={}