In [ ]:
integer to other data types:-

In [1]:
num1=1;

In [2]:
num1

1

In [5]:
type(num1);

In [ ]:
int to float

In [6]:
float_num = float(num1)

In [7]:
float_num

1.0

In [8]:
type(float_num)

float

In [ ]:
int to string

In [9]:
str_num = str(num1)

In [10]:
type(str_num)

str

In [ ]:
you cannot convert english to math

In [11]:
number1 = 100
print(number1)

100

In [12]:
print(hello)

NameError: name 'hello' is not defined

In [13]:
print("how","are","you")

how are you

In [14]:
print("how are you")

how are you

In [ ]:
joining multiple print statement

In [16]:
print("hi",end="Hello")

hiHello

In [17]:
print("hi",end=" &")

hi &

In [19]:
num1=5
num2=5
sum=num1+num2;
print("the sum of the number", sum)

the sum of the number 10

In [20]:
num1=5
num2=5
sum=num1+num2;
print("the sum of ",num1,"and",num2,"is",sum)

the sum of  5 and 5 is 10

In [21]:
name="python"
city="hyd"
age=28

print("my name is",name,"my city is",city,"my age is",age)

my name is python my city is hyd my age is 28

In [22]:
num1=5
num2=5
sum=num1+num2;
print("the sum of {} and {} is {}".format(num1,num2,sum))

the sum of 5 and 5 is 10

In [ ]:
1.17

In [1]:
print(5%2)

1

In [2]:
input()

 24

'24'

In [3]:
input("enter number")

enter number 67

'67'

In [4]:
num = input("enter the number")

enter the number 65

In [8]:
type(num)

str

In [9]:
num1 = eval(input("enter the number"));
num2 = eval(input("enter the number"));
print(num1+num2)

enter the number 97
enter the number 89

186

In [1]:
basic_salary =eval(input("enter the basic salary"))

enter the basic salary 50000

In [2]:
basic_salary

50000

In [3]:
DA= eval(input("enter the da"))

enter the da 2000

In [4]:
hra=eval(input("enter the hra"))

enter the hra 3000

In [6]:
total_salary =basic_salary+DA+hra

In [7]:
total_salary

55000

In [ ]:
wap ask the user enter the salar?
ask the user tax percentage
calculate how tax user need to pay ?

In [ ]:
wap ask the user get a random value b/w 1 and 100 perform the square of it

In [ ]:
package name : random
method name : randint

In [14]:
import random  
number =random.randint(1,10)
print("enter square of {} is {}".format(number,number*number))

enter square of 4 is 16

In [ ]:
wap ask the user enter a distance  ,
ask the user enter a rate per distance
calcluate the total charge ?

In [20]:
distance=eval(input("enter the distance"))
rate_per_dis =eval(input("enter the rate per distance"));
print("net charge = {} distance and per distance i {}".format(distance,distance*rate_per_dis))

enter the distance 50
enter the rate per distance 5

net charge = 50 distance and per distance is 250

In [10]:
try:
    num1=90
    num2=78
    sum=num1+num2
    print("sum of {} and {} is {}".format(num1,num2,sum))
    
except Exception as e:
    print(e)

sum of 90 and 78 is 168

 try and exception are exist together
 *Note*

$lec-14$

#Conditional_Statemnet

if - else

In [ ]:
name="pyhton"
if <condition>
 #statement1
#statement2
else:
    #code

In [ ]:
= assign
== condition

In [11]:
num1= eval(input("enter the number"))
num2= eval(input("enter the number"))

enter the number 67
enter the number 67

In [15]:
num1= eval(input("enter the number"))
if(num1%2==0):
              print("the number {} is even".format(num1))
else:
     print("the number {} is odd".format(num1))

enter the number 67

the number 67 is odd

IndentationError: expected an indented block after 'try' statement on line 1 (3551271553.py, line 2)