# Data Scientists

where Data science is used:-
--------------------------------

 # 1. Finance

- loan prediction
- stock market prediction
- credit card usage

 # 2. e-Commerce

 - price tracking
 - recommendation
 - sentiment analysis

# 3. Medical
 - pattern recognition of disease
 - efficacy of vaccination
 - blood group availability
 - chat boats

# 4. Automobile

- self driving car 
- detection of parts
- user manual analysis


# 5. Education

- pass % of student for next year
- enrollment
- prediction of avg salary
- detect the face and the attendance

# 6. Agriculture

- Seed suggestion
- drone tech
- rain prediction
- seasonal crop analysis

# 7. Pharma

- drug accurate prediction
- alternate drug suggestion
- medical coding ====automated
- side effects
- bio war
- cyber war
- robotic war


# 8. IT company:-

- revenue prediction 
- churn prediction

# EDA : Exporatory data analysis

- Numpy {numerical python}
- Pandas {data base operation}
- matplotlib {plotting}
- seaborn {plotting}
- bokhe {plotting}

# Machine Learning :

- Sickit-learn {skLearn} {python} = used by data scientist
- MLlib - pyspark = used by data engineering

# Deep Learning

- tensorflow {google}
- keras 
- pyTorch
- openCV


# NLP -Natural Language Toolkit

- nltk
- scipy

# Bert model

    -transformers

    #Azure ml packages
    #chat gpt packages
    #open CV {computer vision}
    #flask
    #stremLit

    DEEP LEARNING + NLP ==DATA SCIENCE {AI application}

Q. what is package?

-collection of function or method

#step-1

import <package_name>

#step-2:

dir(<package_name>)

#step-3:

help(<package_name>.<method>)

# we will learn

# python package:-

#EDA = [numpy, pandas, matplotlib]

#ML = [skylean=python, MLlib=pyspark]

#DL = [tensorflow,keras,pytorch,opencv]

#NLP = [nltk,scipy]

# Variable 
- variable to store value.

# ----------Python----------

- officially release in 1991 
- by guido van rossum

# features of python:- or Services or facilities of python:-

- more facility --> life easy

# 11 features of python:-

1. simple 
2. platform independent languages
3. dynamically typed
4. interpreted
5. high level languages
6. robust(strong) language
7. freeware and open source
8. extensible
9. embedded
10. both functional and object oriented programming languages
11. support third party API such as numpy,pandas,matplotlib,scipy,scikit,tensorflow etc.,

In [27]:
"""
# explanation

1.simple:-
 simple programming language because of 3 factor -

 a). less line of code:-
 eg:-
 to generate calender for month 
    =>c-language take-250 lines of code =>java -25lines
    =>c# 25lines
    =>python -2 lines 
    
    
    //
    c language library are called = header file
    
    c++ library are called = header file/name spaces
    
    java library are called = package
    
    python library are called = module
    //
    
 *******************************
 b).
 Rich sets of modules are present 
 eg:- math etc.,
 
 
//
python provide in built facility called garbage collector 

- to remove un-used memory  

 
 *******************************
 c).
 
 ***********


"""
# module name are calender,math,random,cmath etc

""" 

2. Platform independent


a platform is nothing but type of OS being used to run our application / project/program

-python is platform independent,


"""

' \n\n2. Platform independent\n\n\na platform is nothing but type of OS being used to run our application / project/program\n\n-python is platform independent,\n\n\n'

In [28]:
import calendar as c 
print(c.month(2025,1))

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [29]:
# to design complete calender
print(c.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [30]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fma(x, y, z, /)
        Fused multiply-add operation.

        Compute (x * y) + z with a single round.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [31]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to 'utf-8'.
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(self, sub[, start[, end]], /)
 |      Return the number of non-overlapping occurrences of substring sub in string S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(self, suffix[, start[, end]], /)
 |      Return True if the string ends with the specified suffix, False otherwise.
 |
 |      suffix
 |        A string or a tuple of strings to try.
 |      start
 |        Optional start position. Default: start of the string.
 |      end
 |        Optional stop position. Default: end of the string.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(self, sub[, start[, end]], /)
 |      Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Return -1 on failure.
 |
 |  format(self, /, *args, **kwargs)
 |      Return a formatted version of the string, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(self, mapping, /)
 |      Return a formatted version of the string, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(self, sub[, start[, end]], /)
 |      Return the lowest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, /, count=-1)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(self, sub[, start[, end]], /)
 |      Return the highest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Return -1 on failure.
 |
 |  rindex(self, sub[, start[, end]], /)
 |      Return the highest index in S where substring sub is found, such that sub is contained within S[start:end].
 |
 |      Optional arguments start and end are interpreted as in slice notation.
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(self, prefix[, start[, end]], /)
 |      Return True if the string starts with the specified prefix, False otherwise.
 |
 |      prefix
 |        A string or a tuple of strings to try.
 |      start
 |        Optional start position. Default: start of the string.
 |      end
 |        Optional stop position. Default: end of the string.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=<unrepresentable>, z=<unrepresentable>, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# Data types:
- used for allocating memory space and for storing inputs.

- data type--->values--->object---class

- python object store  unlimited data whose memory space is common for all sort of operating system and python object takes single value , multiple value, hence python is platform independent

In [32]:
import keyword as k
k.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# ----Data type----

In [33]:
# In Python there are 14 data types

"""
And they are classified into six data types

1. Fundamental category data types---> [int,float,bool,complex]

2. Sequence Category data types ---->[str,byte,bytearray,range]

3. List Category data types [Collections data types] --->[list, tuple]

4. Set Category data types [Collections data types] --->[set,frozenset]

5. Dict Category data types [Collections data types] --->[dict]

6. None Category data types --->[none type]

"""

'\nAnd they are classified into six data types\n\n1. Fundamental category data types---> [int,float,bool,complex]\n\n2. Sequence Category data types ---->[str,byte,bytearray,range]\n\n3. List Category data types [Collections data types] --->[list, tuple]\n\n4. Set Category data types [Collections data types] --->[set,frozenset]\n\n5. Dict Category data types [Collections data types] --->[dict]\n\n6. None Category data types --->[none type]\n\n'

In [34]:
"""
1. Fundamental category data types

eg:-
    1.int
    2.float
    3.bool
    4.complex

---------------------

2. Sequence Category data types
eg:-

    1.str
    2.bytes
    3.bytearray
    4.range

-----------------------

3. List Category data types [Collections data types]

eg:-

    1.list
    2.tuple

-----------------------

4.Set Category data types [Collections data types]

eg:-

    1.set
    2.frozenset

-----------------------

5. Dict Category data types [Collections data types]

 eg:-

    1.dict

 --------------------

 6. None Category data types 

eg:-

    1. None types


"""

'\n1. Fundamental category data types\n\neg:-\n    1.int\n    2.float\n    3.bool\n    4.complex\n\n---------------------\n\n2. Sequence Category data types\neg:-\n\n    1.str\n    2.bytes\n    3.bytearray\n    4.range\n\n-----------------------\n\n3. List Category data types [Collections data types]\n\neg:-\n\n    1.list\n    2.tuple\n\n-----------------------\n\n4.Set Category data types [Collections data types]\n\neg:-\n\n    1.set\n    2.frozenset\n\n-----------------------\n\n5. Dict Category data types [Collections data types]\n\n eg:-\n\n    1.dict\n\n --------------------\n\n 6. None Category data types \n\neg:-\n\n    1. None types\n\n\n'

# 1. Fundamental category data types

- purpose of Fundamental category data types is to " store single value "

eg:-

    1.int
    2.float
    3.bool
    4.complex

# int

- "int" is pre-define class and treated as fundamental data type.

- to store "whole number / integer value without decimal places

- we have four type of number system

1. decimal number system
2. binary number system 
3. octal number system
4. hex decimal number system

# Float:-

- fundamental data types
- purpose is to store the real constant values.
- int can treated as float but float can't be treated as integer

In [35]:
a=3.4
print("%0.50f" %a)

3.39999999999999991118215802998747676610946655273438

In [36]:
a=50
b=3.5
c=a*b
print(c,type(c))

175.0 <class 'float'>

In [37]:
a=0.0000000000000000000000005
print(a,type(a))

5e-25 <class 'float'>

In [38]:
#here "e" has negative power 25 (25 number of zeros)
#this is scientific notation , it also save memory and size
#for storing big  floating data

a=0b1010.0b1111
print(a)

# not allowed here

SyntaxError: invalid decimal literal (1467001728.py, line 5)

# bool


- pre defined class treated as fundamental datatype

- to store true and false value ie.,(logical values)

- "1"-->true/yes
- "0" -->false/no

In [ ]:
a=True
b=False
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [ ]:
a=true
print(a,type(a))
# t==T here T and F are in capitalized

NameError: name 'true' is not defined

# Complex data Types

- it is pre defined data types , treated as fundamental data types

- to store complex value 

- perform operation on complex data

- notation a+bj or a-bj

- a is real part
- b is imaginary part
- j complex notation

In [ ]:
import cmath
cmath.sqrt(-1)

1j

In [ ]:
a= 2+3j
print(a.real,a.imag)

2.0 3.0

In [ ]:
""" 
whenever you see () this mean function ,
another name of function is called "method"

-inside bracket what you see are called parameter.

-another name for parameter is called arguments
"""

# Sequence category data types :-

- the purpose of sequence category data types is "to store sequence of value".

- there are 4 data type of sequence data types

    - 1. str
    - 2. bytes
    - 3. bytearray
    - 4. range

- 1. str

- it is pre defined class in sequence data type

- to store text data

eg:- firstName="deepak", placeName="koderma" ,description="about your details"

- with str - we can store both char data and string data 

- you can use single quotes or double quotes both are valid.

- single quote and double quote is used to store single line multi data.

- to store multiple line information we use triple quote.

- internally python uses single quote to store the data to reduce the memory spaces .

In [ ]:
str1="pyt#0$^n"
print(str1,type(str1))

pyt#0$^n <class 'str'>

In [ ]:
str1 = "python is developed by rossum"
print(str1,type(str1))

python is developed by rossum <class 'str'>

In [ ]:
# to store address information of a person

add1="guido van rossum"

In [ ]:
# single quote and double quote is used to store single line multi data.

# to store multi line data --->triple quote

In [ ]:
add2="""guido van rossum
        f,no 3-4 hillside
        python developer
        netherland"""

In [ ]:
print(add2,type(add2))

guido van rossum
        f,no 3-4 hillside
        python developer
        netherland <class 'str'>

In [ ]:
#  """_________
#     ---------
#     ------"""


# this is multi line .

In [ ]:
str1="python is \n Developed by Rossum \n Live in nitherland"

print(str1,type(str1))

python is
 Developed by Rossum
 Live in nitherland <class 'str'>

In [ ]:
len(str1)

52

In [ ]:
"""
consider the following str data

s="python"

left-to- right +ve Index
right to left -ve Index

"""
print(len(str1)-1)

51

# operation on str data:-

- with str data we can perform two type of operations:-

   - 1. indexing
   - 2. slicing

In [ ]:
#Indexing operations:-

s="python"

# purpose of indexing is to " get one value at a time from str object"

# in other words -process of obtaining one value from object is called "indexing"

# syntax : strObj[indexNumber]

# indexNumber can be +ve or -ve 

# if we enter invalid index then we get indexing error

In [ ]:
s="python"
print(s,type(s),s[1],s[-2])

python <class 'str'> y o

In [ ]:
# to find the last index.

s[len(s)-1]

'n'

In [ ]:
s[-len(s)]

'p'

In [ ]:
# Slicing operation in str

# process of obtaining range of char OR values (sub string) from main string is called slicing.

# to perform slicing operation , we have 5 types of syntax

""" 
1. strobj[begin:end]
2. strobj[begin:]
3. strobj[:end]
4. strobj[:]
5. strobj[begin:end:step]


 strobj[begin:end:step]--> this is basic syntax 

[-6]==p==[0]
[-5]==y==[1]
[-4]==t==[2]
[-3]==h==[3]
[-2]==o==[4]
[-1]==n==[5]


s[0:3]---"pyt" 
"""

In [ ]:
s="python"
s[0:3]

'pyt'

In [ ]:
s[2:5]

'tho'

In [ ]:
s[-4:-1]

'tho'

In [ ]:
s[-1:-4]

''

In [ ]:
# there is reverse in order so empty string

In [ ]:
s[-5:-1]

'ytho'

In [ ]:
# s[+ve begin:+ve end]
# forward direction always
# end>begin
# in endIndex always -1 to get exact answer

In [ ]:
s[1:-1]

'ytho'

In [ ]:
s[1:5]

'ytho'

In [ ]:
s[:]

'python'

In [ ]:
s[1:-2]

'yth'

In [ ]:
s[::1]

'python'

In [ ]:
s[::2]

'pto'

In [ ]:
s[0:6:2]

'pto'

In [ ]:
s[0:6:1]

'python'

In [ ]:
s[::-2]

'nhy'

# bytes data types

- bytes data types are pre defined class and treated as sequence data types

- the purpose of bytes data type is that " to implement end-t end encryption" in network based application.

- to implement end-to end encryption in network based application.

- bytes data type organize in numerical integer values in range of 0 to 256 ie., it store 0 to 255 values only.

- bytes data type does not contain any symbolic notation for storing bytes data because programmer will not store bytes data directly in program , but we can convert any other type value into bytes types()

- Syntax:- varname=bytes(object)

In [ ]:
list1=[100,200,10,0,256,45,67]
print(list1,type(list1))

b=bytes(list1)

[100, 200, 10, 0, 256, 45, 67] <class 'list'>

ValueError: bytes must be in range(0, 256)

In [ ]:
list1=[100, 200, 10, 0, 255, 45, 67,120]
print(list1,type(list1))

b=bytes(list1)

print(b,type(b))

[100, 200, 10, 0, 255, 45, 67, 120] <class 'list'>
b'd\xc8\n\x00\xff-Cx' <class 'bytes'>

In [ ]:
for val in b:
    print(val,type(val))

100 <class 'int'>
200 <class 'int'>
10 <class 'int'>
0 <class 'int'>
255 <class 'int'>
45 <class 'int'>
67 <class 'int'>
120 <class 'int'>

# bytearray data type

- the functionality of bytearray is " exactly  similar to bytes , but object of bytes it belongs to immutable objects because bytes objects does not support assignment whereas bytearray belong to mutable because objects of bytearray allows us to perform items assignment.

In [ ]:
list1=[100,200,256,0,55,166]
print(list1)
ba=bytearray(list1)

[100, 200, 256, 0, 55, 166]

ValueError: byte must be in range(0, 256)

In [ ]:
list1=[100,200,254,0,55,166]
print(list1,type(list1))
ba=bytearray(list1)
print(ba,type(ba))

[100, 200, 254, 0, 55, 166] <class 'list'>
bytearray(b'd\xc8\xfe\x007\xa6') <class 'bytearray'>

In [ ]:
# to get above encrypted list
for val in ba:
    print(val)

NameError: name 'ba' is not defined

# Immutable

- An objects is said to be immutable if it satisfies the the following properties

- 1. immutable object can't be changed at the same address (Immutable object values can be changed and modified values placed at different addresses)

- Immutable object never allows us to perform item assignment.

- eg :-
    int ,float , bool , complex , str , bytes, range , tuple, set , frozenset , nonetype

# Mutable

- A mutable objects is one ,whose content can be changed at the same address time

eg:-

list,set,dict

In [ ]:
a=10
print(a,id(a))
a=a+1
print(a,id(a))

10 140718325435096
11 140718325435128

In [ ]:
a="python"
print(a,id(a),type(a))

python 1350486424720 <class 'str'>

In [ ]:
a="python"
print(a,id(a),type(a))
a=a+"program"
print(a,id(a),type(a))

python 1350486424720 <class 'str'>
pythonprogram 1350588531632 <class 'str'>

In [ ]:
a="python"
a[0]

'p'

In [ ]:
a[0]=="j"

False

In [ ]:
a[0]="j"
print(a,id(a),type(a))

TypeError: 'str' object does not support item assignment

# Range

- range is pre defined class and treated as sequence category data type.

- the purpose of range data type is to " maintain sequence of integer values by maintaining equal interval of steps"

- an object of range , we can perform both indexing and slicing operations

- an object of range belongs to immutable because range object does not support item assignment.

- an object of range maintain insertion order.

- to create an object of range for storing range  OR sequence of values , we use 3 pre defined function they are :-


        - syntax1: range(value)

        - syntax2: range(begin, end)

        - syntax3: range(begin,end,step)

- syntax1: range(value)
 
 this values generate range of values from 0 to value-1

In [ ]:
r=range(0,6)
print(r)

range(0, 6)

In [ ]:
for val in r:
    print(val)

0
1
2
3
4
5

In [ ]:
# directly using range
for val in range(6):
    print(val)

0
1
2
3
4
5

In [ ]:
# syntax2: range(begin, end)

# this syntax generate range of values from start to stop-1

In [ ]:
for val in range(10,20):
    print(val)

10
11
12
13
14
15
16
17
18
19

In [ ]:
# NOTE 
"""THE above syntax uses default step +1 """

'THE above syntax uses default step +1 '

In [ ]:
# syntax range(start,stop,step):

for val in range(10,21,2):
    print(val)

10
12
14
16
18
20

In [ ]:
r=range(1000,1030,10)
for v in r:
    print(v)

1000
1010
1020

In [ ]:
import random 
for i in range(5):
    num=random.randint(10,31)
    if num%2==0:
        print("the given number {} is even".format(num))
    else:
        print("the given number {} is odd".format(num))

the given number 30 is even
the given number 10 is even
the given number 18 is even
the given number 19 is odd
the given number 17 is odd

- Fundamental data types - used to store single value.

- Sequence Data Types - used to store sequence of values.

- now my requirement is 
i want to store 100,10,120,1000,-420,3000,12.34

- numerical values ---duplicate and unique values .

- now my requirement is 10,"rossum",4.13,True

- therefore to store this kind of data we require list data types.

- eg: eno,ename,sal,dsg,city

In [ ]:
# new data types
# what we learn
"""
- purpose of list
- create an object of list 
- type of list
- memory management of list 
- operation on list 
- pre defined function in list 
- inner list or nested list 
- programming example
"""

'\n- purpose of list\n- create an object of list \n- type of list\n- memory management of list \n- operation on list \n- pre defined function in list \n- inner list or nested list \n- programming example\n'

# List category data types (collection data types)

- the purpose of list data types is to " store multiple values either of same types or different types in single object with unique and duplicate values.

- we have 2 data types in List category , they are 

    1. List [mutable]
    2. tuple(immutable)

# list--[]

- Property of list:-

   - list is a pre defined class and treated as list category data types.

   - the purpose of list category is to "store multiple values either of same type or different type or both the types in single object with unique and duplicates"

- Notation of list.

    - to store list data we use "square brackets [], and values are separated by commas.

    - syntax: varname=[val1,val2,...]

- object of list maintained insertion order.

- on object of list we can perform indexing and slicing operation.

In [1]:
list1=["RS",True,780,2+3j]
print(list1,type(list1),id(list1))

['RS', True, 780, (2+3j)] <class 'list'> 2204828271360

In [ ]:
list1[::2]

['RS', 780]

In [2]:
# changing the value at 0 index
list1[0]="guido van rossum"
print(list1,type(list1),id(list1))

['guido van rossum', True, 780, (2+3j)] <class 'list'> 2204828271360

In [ ]:
# list object belongs to mutable because it allow modification, updation,assignment by slicing and indexing.

In [ ]:
# how to create an empty list
list1=[]
print(list1)

[]

In [ ]:
# or list1=list()
# this will create empty list

In [ ]:
# to empty the list
lst=[1,3,5]
lst=list()
print(lst)

[]

In [ ]:
s="mississippi"
list1=list(s)
print(s,type(s))
print(list1,type(list1))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] <class 'list'>

In [ ]:
# all fundamental values are not possible to convert list because they are all non iterable.

In [ ]:
list1=["RS",True,780,2+3j]
a=10
list1=list(a)

TypeError: 'int' object is not iterable

In [ ]:
list1=list(1.2)

TypeError: 'float' object is not iterable

In [ ]:
list1=list(True)

TypeError: 'bool' object is not iterable

In [ ]:
list1=list(1+3j)

TypeError: 'complex' object is not iterable

In [ ]:
list1=list([1,2,3])
print(list1)

[1, 2, 3]

- we know that on the object of list , we can perform both indexing and slicing operation .

- with indexing we get , access single value and we can update single value of list object 

- with slicing operation we get / access multiple values and we can update multiple values of list object.

- hence with index and slicing operation on list we can access ad update value(s)

In [ ]:
lst=[10,"rs"]
print(lst,id(lst))

[10, 'rs'] 1350589097792

In [ ]:
# append()

# append() function is used to add element / values at the end of list

# Syntax: listobj.append(value)

In [ ]:
lst=[10,"rs"]
lst.append("deepak")
print(lst,id(lst))

[10, 'rs', 'deepak'] 2557709535552

In [ ]:
# insert()

lst = [10,"rs",34.34]
lst.insert(2,"python")
print(lst)

[10, 'rs', 'python', 34.34]

In [ ]:
lst.insert(0,"Rossum")
print(lst)

['Rossum', 10, 'rs', 'python', 34.34]

In [ ]:
# therefore list is ,mutable

In [ ]:
lst.insert(-1,"deepak")
print(lst)

['Rossum', 10, 'rs', 'python', 'deepak', 34.34]

In [ ]:
lst.insert(100,200)
print(lst)

['Rossum', 10, 'rs', 'python', 'deepak', 34.34, 200]

In [ ]:
# here 100 is index number and 200 is place value

In [ ]:
lst.insert(-100,200)
print(lst)

[200, 'Rossum', 10, 'rs', 'python', 'deepak', 34.34, 200]

In [ ]:
# insert()

# this function is used for inserting an element in existing list at specified index.

# here index can be +ve or -ve 

# if we specify invalid +ve index the value will be inserted in last element in list.

# if we specify invalid -ve index the value will be inserted in first element in list

# remove

In [ ]:
lst.remove("hyd")

ValueError: list.remove(x): x not in list

In [ ]:
# if value does not exist in list and we try to remove it we will get value error.

In [ ]:
lst=[10,20,10,30,40,20]
lst.remove(10)
lst.insert(100,200)
print(lst)

[20, 10, 30, 40, 20, 200]

In [ ]:
# it will remove the first occurrence of single element only.

In [ ]:
[].remove(100)

ValueError: list.remove(x): x not in list

In [ ]:
# no data is present

# popindex

In [ ]:
lst=[10,20,30,40,50,60,70,80,90,100]
lst.pop(0)
print(lst)

[20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# zero index has been removed

# by default pop elements remove last element [-1]

In [ ]:
lst.pop(4)
print(lst)

[20, 30, 40, 50, 70, 80, 90, 100]

In [ ]:
lst.pop(10)
print(lst)

IndexError: pop index out of range

In [ ]:
# Syntax:-

# listobj.pop(index)

# this function is used for removing elements from the list based on the index

# here index can be +ve and -ve

# if we provide invalid index then we get IndexError

In [ ]:
[].pop(0)

IndexError: pop from empty list

# del operator

- syntax:-
    del listobj[index] ----remove one element from list based on indexing

- syntax:-
    del listobj[beginIndex:endIndex:step] ----remove one element based on slicing

- syntax:-
    del listobj ---remove all elements from list and list object also

In [ ]:
lst=[10,20,30,40,50]
del lst
print(lst)

NameError: name 'lst' is not defined

In [ ]:
lst=[10,20,30,40,50]
del lst[::]
print(lst)

[]

In [ ]:
lst=[10,20,30,40,50]
lst.clear()
print(lst)
len(lst)

[]

0

In [ ]:
[].clear()

In [ ]:
# here output is none

In [ ]:
# clear()
# this function  is used to remove all element from list object
# if we call this function upon empty list object then we get space on none result

# how to remove duplicate in list

# convert this it into  set

In [ ]:
lst=[10,20,20,30,40,40,10,50,20,60,60,70]
print(lst)
s=set(lst)
print(s)

[10, 20, 20, 30, 40, 40, 10, 50, 20, 60, 60, 70]
{70, 40, 10, 50, 20, 60, 30}

In [ ]:
# here all element are unique .

# index()

In [ ]:
lst=[10,20,30,10,50,60,10,20]
print(lst)

[10, 20, 30, 10, 50, 60, 10, 20]

# enumerate

- enumerate is to find the exact number with index number

    - i = index
    - v = value

In [ ]:
lst=[10,20,30,10,50,60,10]
print(lst,type(lst))

for i,v in enumerate(lst):
    print(i,"--->",v)

[10, 20, 30, 10, 50, 60, 10] <class 'list'>
0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 10
4 ---> 50
5 ---> 60
6 ---> 10

In [ ]:
for i,v in enumerate(lst):
    if(v ==10):
        print(i,"--->",v)

0 ---> 10
3 ---> 10
6 ---> 10

In [ ]:
lst=[10, 20, 30, 10, 50, 60, 10]
for i,v in enumerate(lst):
    if(v==10):
        print(i,"-->",v)

lst1=lst.count(10)
print(lst1)

0 --> 10
3 --> 10
6 --> 10
3

In [ ]:
# enumerate is to find the exact number with index number

In [ ]:
s="mississippi"
for i,v in enumerate(s):
    print(i,"--->",v)

0 ---> m
1 ---> i
2 ---> s
3 ---> s
4 ---> i
5 ---> s
6 ---> s
7 ---> i
8 ---> p
9 ---> p
10 ---> i

In [ ]:
s="mississippi"
lst=list(s)
for i,v in enumerate(lst):
    if(v=="s"):
        print(i,"--->",v)
        
lst.count("s")

2 ---> s
3 ---> s
5 ---> s
6 ---> s

4

# enumerate

- this function is used for obtaining index and value entries for every element of iterable objects. (contain more than one value)

- syntax: enumerate(iterable object)

# copy()

- in python we have 2 types of copy technique , they are :-
    - 1.shallow copy
    - 2.deep copy

In [ ]:
# shallow copy

In [ ]:
""" 
- the property of shadow copy are 

1. the initial content of both the objects are same.

2. the memory address of both the object are different.

3. the modification are independent (whatever the changes we do on one object, those changes are not reflected to another object, because memory address are different)

--> to implement shallow copy , we use copy().

--> syntax:-

object2=object1.copy()


"""

' \n- the property of shadow copy are \n\n1. the initial content of both the objects are same.\n\n2.the memory address of both the object are different.\n\n3.the modification are independent (whatever the changes we do on one object, those changes are not reflected to another object, because memory address are different)\n\n--> to implement shallow copy , we use copy().\n\n--> syntax:-\n\nobject2=object1.copy()\n\n\n'

In [ ]:
lst=[10,"rs"]
lst2=lst.copy() # shallow copy
print(lst2,id(lst),id(lst2))

[10, 'rs'] 2557715718912 2557715981184

In [ ]:
# deep copy

"""  
- the property of deep copy are-
    1.the initial content of both the object are same .
    2.the memory address of both the object are same .
    3.the modification are dependent.(whatever the changes we do in one object , those changes are reflecting to another object because memory address are same )
"""

'  \n- the property of deep copy are-\n    1.the initial content of both the object are same .\n    2.the memory address of both the object are same .\n    3.the modification are dependent.(whatever the changes we do in one object , those changes are reflecting to another object because memory address are same )\n'

In [ ]:
# to implement deep copy , we use assignment operator
# (=)
# syntax:
# object2=object1

In [ ]:
lst=[10,"rs","b7"]
lst2=lst
print(id(lst),id(lst2),type(lst))

2557709561152 2557709561152 <class 'list'>

# count

- this function is used for counting number of occurrence of specific value.

- if specific value does not exist then we get 0.

In [ ]:
lst=[10,20,10,30,10,20,30,30,40,40,50,10,50,20]
print(lst,type(lst))
lst.count(10)

[10, 20, 10, 30, 10, 20, 30, 30, 40, 40, 50, 10, 50, 20] <class 'list'>

4

In [ ]:
lst=[10,20,10,30,10,20,30,30,40,40,50,10,50,20]
for i,v in enumerate(lst):
    if(v==20):
        print(i,"--->",v)
        
lst.count(20)

1 ---> 20
5 ---> 20
13 ---> 20

3

In [ ]:
lst=[10,20,10,30,10,20,30,30,40,40,50,10,50,20]
print(lst,type(lst))
lst.count(10)
lst.count(160)

[10, 20, 10, 30, 10, 20, 30, 30, 40, 40, 50, 10, 50, 20] <class 'list'>

0

In [ ]:
s="mississippi"
for i,v in enumerate(s):
    print(i,"--->",v)
    
lst=list(s)
print(lst)

lst.count("i")

0 ---> m
1 ---> i
2 ---> s
3 ---> s
4 ---> i
5 ---> s
6 ---> s
7 ---> i
8 ---> p
9 ---> p
10 ---> i
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

4

In [ ]:
lst=[10,20,30,40,50,60,70]
print(lst,id(lst))
lst.sort()
lst1=lst.reverse()
print(lst1,id(lst1))

[10, 20, 30, 40, 50, 60, 70] 1439859762048
None 140717897274000

In [ ]:
syntax:-
listobj.reverse()

- this function is used for reversing the elements(of listobj and reversed element placed in same listobj itself)

- front element become last element.

SyntaxError: invalid syntax (4073142731.py, line 1)

# sort()--most important

In [ ]:
lst1=[10,12,-2,30,5,25]
lst1.sort()
print(lst1,id(lst1))

[-2, 5, 10, 12, 25, 30] 2557715980736

In [ ]:
lst1.reverse()
print(lst1,id(lst1))

[30, 25, 12, 10, 5, -2] 2557715980736

In [ ]:
lst1.sort(reverse=True)
print(lst1,id(lst1))

[30, 25, 12, 10, 5, -2] 2557715980736

In [ ]:
lst1=[10,20,"rs","b7",2+4j,True,False]
lst1.sort()
print(lst1,id(lst1))

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
lst1=[10,20,"rs","b7",2+4j,True,False]
lst2=["python","javascript","react","html","css","nextjs","tailwind"]

lst1.extend(lst2)
print(lst1)

[10, 20, 'rs', 'b7', (2+4j), True, False, 'python', 'javascript', 'react', 'html', 'css', 'nextjs', 'tailwind']

In [ ]:
# merging to list we use extend function

In [ ]:
# when we use append then it is added within the same list 
# it will become nested list

In [ ]:
lst1.append(lst2)
print(lst1)

[10, 20, 'rs', 'b7', (2+4j), True, False, 'python', 'javascript', 'react', 'html', 'css', 'nextjs', 'tailwind', ['python', 'javascript', 'react', 'html', 'css', 'nextjs', 'tailwind']]

In [ ]:
#syntax:-

# lst1.extend(lst2)

Q. Find the element which occurence is max time

In [ ]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]
lst.sort()
print(lst)
for i,v in enumerate(lst):
    if(v==10):
        print(i,"-->",v)

[0, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 40, 50, 50, 60, 70, 70, 70, 80, 90]
1 --> 10
2 --> 10
3 --> 10
4 --> 10

In [ ]:
max(lst)

90

In [ ]:
# number of repeated elements

In [ ]:
mv=max(lst,key=lst.count)
print(mv)

20

# Inner list or nested list

- my requirement is to store -sno,sname,list of 3 subject internal marks, list of 3 subject external marks,cname

- lst=[10,"rs",17,15,18,78,70,79,"oucet"]

- lst=[10,"rs",[17,15,18],[78,70,79],"oucet"]

- matrix

In [ ]:
lst=[10,"rs",[17,15,18],[78,70,79],"oucet"]
lst[2]

[17, 15, 18]

In [ ]:
lst[3]

[78, 70, 79]

In [ ]:
lst[2][1]

15

In [ ]:
lst[-2][-2:]

[70, 79]

In [ ]:
lst[2].append(18)
print(lst)

[10, 'rs', [17, 15, 18, 18], [78, 70, 79], 'oucet']

In [ ]:
lst[3].insert(1,74)
print(lst)

[10, 'rs', [17, 15, 18, 18], [78, 74, 70, 79], 'oucet']

In [ ]:
lst[2].sort()
print(lst)

[10, 'rs', [15, 17, 18, 18], [78, 74, 70, 79], 'oucet']

In [ ]:
lst[-2].sort(reverse=True)
print(lst)

[10, 'rs', [15, 17, 18, 18], [79, 78, 74, 70], 'oucet']

In [ ]:
del lst[2][::2]
print(lst)

[10, 'rs', [17, 18], [79, 78, 74, 70], 'oucet']

In [ ]:
del lst[-2][1::2]
print(lst)

[10, 'rs', [17, 18], [79, 74], 'oucet']

In [ ]:
matrix1=[[10,20,30],[40,50,60],[70,80,90]]
for row in matrix1:
    print(row)
    
matrix2=[[1,2,3],[4,5,6],[7,8,9]]
for row in matrix2:
    print(row) 
    
matrix3=matrix1+matrix2
print(matrix3)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[[10, 20, 30], [40, 50, 60], [70, 80, 90], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# we will learn this in pandas

# tuple

- it is pre defined class treated as list as category data type.

- Real time importance of tuple is to "store constant value"

- eg: your bank account number , and your cname never changes in bank history , only your balance changed .

- to store tuple we use braces ()and values are separated by commas

In [ ]:
t1=(10,20,30,40,10,30,50,60)
print(t1,type(t1))

(10, 20, 30, 40, 10, 30, 50, 60) <class 'tuple'>

In [ ]:
t1.sort()
print(t1,type(t1))

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
t1=(10,20,30,40,10,30,50,60)
for i,v in enumerate(t1):
    print(i,"--->",v)

0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 40
4 ---> 10
5 ---> 30
6 ---> 50
7 ---> 60

In [ ]:
t1[1]="rossum"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# therefore it store constant values hence here no update , no del , no sort will occurred

In [ ]:
s="mississippi"
t1=tuple(s)
print(t1,type(t1))

('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') <class 'tuple'>

In [ ]:
len(t1)

11

In [ ]:
t1=()
print(t1,type(t1))

() <class 'tuple'>

In [ ]:
t2=10,20,30 
print(t2,type(t2))

(10, 20, 30) <class 'tuple'>

In [ ]:
t4=10,
print(t4,type(t4))

(10,) <class 'tuple'>

In [ ]:
x=(10)
print(x,type(x))

10 <class 'int'>

In [ ]:
y=("kvr")
print(y,type(y))

kvr <class 'str'>

In [ ]:
y=("kvr",)
print(y,type(y))

('kvr',) <class 'tuple'>

In [ ]:
len(y)

1

In [ ]:
# tuple is immutable

In [ ]:
# pre defined function in list
""" 
-append()
-insert()
-remove()
-pop(index)
-pop()
-clear()
-index()
-count()
-sort()
-reverse()
-copy()
-extend()
"""


# pre defined function in tuple

""" 
-index()
-count()
"""

#rest of the method are not present in tuple

' \n-index()\n-count()\n'

In [ ]:
t1=(10,20,30,10,30,20,10,50,10,30,20,60,50)
print(t1,type(t1))
max(t1)
max(t1,key=t1.count)

(10, 20, 30, 10, 30, 20, 10, 50, 10, 30, 20, 60, 50) <class 'tuple'>

10

In [ ]:
print(min(t1))
print(max(t1))

10
60

In [ ]:
#total tuple can be removed but you cannot removed individually

In [ ]:
#process to sort the data in tuple

In [ ]:
t1=(10,-3,5,7,50,20,25,-1,0,100)
lst=list(t1)
print(lst)

[10, -3, 5, 7, 50, 20, 25, -1, 0, 100]

In [ ]:
lst.sort()
print(lst,type(lst))

[-3, -1, 0, 5, 7, 10, 20, 25, 50, 100] <class 'list'>

In [ ]:
t2=tuple(lst)
print(t2,type(t2))

(-3, -1, 0, 5, 7, 10, 20, 25, 50, 100) <class 'tuple'>

In [ ]:
#another method

In [ ]:

t1=(10,-3,5,7,50,20,25,-1,0,100)
x=sorted(t1)
print(x,type(x))

[-3, -1, 0, 5, 7, 10, 20, 25, 50, 100] <class 'list'>

In [ ]:
x[::-1]

[100, 50, 25, 20, 10, 7, 5, 0, -1, -3]

In [ ]:
x=tuple(sorted(t1))
print(x,type(x))

(-3, -1, 0, 5, 7, 10, 20, 25, 50, 100) <class 'tuple'>

# Inner tuple

In [ ]:
t1=(10,"rs",(16,17,18),(78.79,80),"oucet")
print(t1,type(t1))

for val in t1:
    print(val,type(val),type(t1))

(10, 'rs', (16, 17, 18), (78.79, 80), 'oucet') <class 'tuple'>
10 <class 'int'> <class 'tuple'>
rs <class 'str'> <class 'tuple'>
(16, 17, 18) <class 'tuple'> <class 'tuple'>
(78.79, 80) <class 'tuple'> <class 'tuple'>
oucet <class 'str'> <class 'tuple'>

In [ ]:
t1[0:3]

(10, 'rs', (16, 17, 18))

In [ ]:
# you cannot do any changes 
# you can do indexing and slicing .

In [ ]:
t1[2].count(16)

1

# Tuple in list and list in tuple

In [ ]:
# tuple in list
t1=(10,"rs",[16,17,18],[67,68,69],"oucet")
print(t1,type(t1))

(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet') <class 'tuple'>

In [ ]:
for val in t1:
    print(val,type(val))
    print(t1)

10 <class 'int'>
(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet')
rs <class 'str'>
(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet')
[16, 17, 18] <class 'list'>
(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet')
[67, 68, 69] <class 'list'>
(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet')
oucet <class 'str'>
(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet')

In [ ]:
t1[2].append(19)
print(t1)

(10, 'rs', [16, 17, 18, 19], [67, 68, 69], 'oucet')

In [ ]:
t1[3].insert(1,77)
print(t1)

(10, 'rs', [16, 17, 18, 19], [67, 77, 68, 69], 'oucet')

In [ ]:
t1[2].sort()
print(t1)

(10, 'rs', [16, 17, 18, 19], [67, 77, 68, 69], 'oucet')

In [ ]:
t1.pop(2)
print(t1)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
del t1[2][1:3]
print(t1)

(10, 'rs', [16, 19], [67, 77, 68, 69], 'oucet')

In [ ]:
del t1[3][0]
print(t1)

(10, 'rs', [16, 19], [77, 68, 69], 'oucet')

# tuple in list

In [ ]:
l1=[10,"rs",(16,17,18),(77,78,79),"oucet"]
print(t1)

(10, 'rs', [16, 19], [77, 68, 69], 'oucet')

In [ ]:
tuple(sorted(l1[2]))[::-1]

(18, 17, 16)

In [ ]:
l1.append(("del","mum","hyd","blr"))
print(l1)

[10, 'rs', (16, 17, 18), (77, 78, 79), 'oucet', ('del', 'mum', 'hyd', 'blr')]

# Set Category data type:-

- the purpose of set category data type is that " to store multiple value either of same type or different type or both types in single object with unique element only.(duplicate are not allowed)

- we have 2 data types in list category . they are 
    - 1. set (mutable an immutable)
    - 2. Frozenset (immutable)

- what we learn 
property of set 
- what is set
- notation of set
- type of set
- operation on set
- pre defined function in set
- nested or inner set with tuple and list 
- programming examples

In [ ]:
# notation for set
# the value of set must be stored within curly braces {} and values are separated by commas.

# syntax: setobj={val1, val2,...val-n}

In [ ]:
""" 
--> set object never maintain insertion order because PVM display any of the possibility of element of set .

--> on set we cannot perform indexing and slicing because set never maintain insertion order

--> set belong to both mutable and immutable , [mutable when we perform add method], [immutable because we cannot perform indexing and slicing or item assignment]

"""

' \n--> set object never maintain insertion order because PVM display any of the possibility of element of set .\n\n--> on set we cannot perform indexing and slicing because set never maintain insertion order\n\n--> set belong to both mutable and immutable , [mutable when we perform add method], [immutable because we cannot perform indexing and slicing or item assignment]\n\n'

In [ ]:
s1={10,20,30,40,20,10,30,50,70,10}
print(s1,type(s1))

{50, 20, 70, 40, 10, 30} <class 'set'>

In [ ]:
# you can't predict in which order the set elements will come .

# hence this is commonly used in question paper set (a,b,c,d)

In [ ]:
s2={"python","js","html","css","react","tailwind","javascript","illustrator","photoshop",2025,1995}
print(s2,type(s2))

{'photoshop', 2025, 1995, 'illustrator', 'python', 'js', 'css', 'html', 'tailwind', 'javascript', 'react'} <class 'set'>

In [ ]:
s2[2]

TypeError: 'set' object is not subscriptable

In [ ]:
s1={10,"rs",34.56,True}
print(s1,type(s1),id(s1))

{True, 10, 34.56, 'rs'} <class 'set'> 2315086411616

In [ ]:
s1.add(2+3j)
print(s1,type(s1),id(s1))

{True, 34.56, 10, (2+3j), 'rs'} <class 'set'> 2315086411616

- to empty set

In [ ]:
s1={}
print(s1,type(s1),id(s1))

{} <class 'dict'> 2315091873408

In [ ]:
s1=set()
print(s1,type(s1),id(s1))

set() <class 'set'> 2315086411616

In [ ]:
len(s1)

0

In [ ]:
s2={10,20,3,4,5}
print(s2,type(s2),id(s2))

{3, 4, 5, 20, 10} <class 'set'> 2315086412064

In [ ]:
# empty set

# whose length is zero

# syntax: setobj=set()

In [ ]:
# non-empty set

# whose length is greater than Zero.

# syntax: setobj=set(obj)

In [ ]:
# to remove duplicate

lst=[10,20,30,40,50,60,70,80,90,20,10,30,10,40,50,60,70,20]

print(len(lst))

s1=set(lst)

print(s1,type(s1))

18
{70, 40, 10, 80, 50, 20, 90, 60, 30} <class 'set'>

In [ ]:
s="mississippi"
s1=set(s)
print(s1,type(s1))

{'s', 'p', 'i', 'm'} <class 'set'>

most important questions so far for revision

In [ ]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]
lst.sort()
print(lst,id(lst))

for i,v in enumerate(lst):
    if(v==10):
        print(i,"-->",v)
        
print(len(lst))
print(max(lst))
print(min(lst))
# to find the unique number in list convert this into set 
s1=set(lst)
print(s1)
# after getting the unique number then convert it into list again to sort the list
lst1=list(s1)
lst1.sort()
print(lst1)

[0, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 40, 50, 50, 60, 70, 70, 70, 80, 90] 1439865552256
1 --> 10
2 --> 10
3 --> 10
4 --> 10
24
90
0
{0, 70, 40, 10, 80, 50, 20, 90, 60, 30}
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# pre defined function in set:-


1.add()
2.remove()
3.pop() 
4.clear()
5.discard()
6.clear()
7.isDisjoint()
8.issubset
9.issuperset()
10.union()
11.intersect()
12.difference()
13.symmetric_difference()
14.symmetric_difference_update()
15.update()

SyntaxError: invalid decimal literal (3183470227.py, line 4)

### pre-defined function in set 

- we know that on object of set , we cannot perform indexing and slicing operation because set never maintain insertion order.

-  but on set object we can perform diffrent operations  by using pre-defined function which are present in set object.

#. add()
s1={10,"rs","python",True,}
s1.add("javascript")
print(s1,type(s1),id(s1))

In [ ]:
s1.add(3.14)
print(s1,type(s1),id(s1))

{True, 3.14, 10, 'rs', 'python', 'javascript'} <class 'set'> 2315086410944

In [ ]:
# item added in the same address.

# remove 

- this function is used for removing values from set objects.

- if the value does not exist in the set and try to remove then we get keyError.

- in place of remove we use discard we did't get any error .

In [ ]:
# pop()

# setobj.pop()

In [ ]:
s1={10,"rs",3.14,True,2+5j}
s1.pop()
print(s1)

{(2+5j), 3.14, 10, 'rs'}

In [ ]:
#in set any arbitrary element will be removed since it does not follow the indexing number .

In [ ]:
# clear
print(s1)

{(2+5j), 3.14, 10, 'rs'}

In [ ]:
s1.clear()
len(s1)

0

In [ ]:
# this function is used for removing all element from non-empty set object.

# if we call this function empty set object then we get none

In [ ]:
print(s1.clear())

None

In [ ]:
print(set().clear())

None

# isdisjoint()

In [ ]:
s1={10,20,30,40,50}
s2={5,15,25,35,45,55}
s3={5,17,19}

#s2=s3 are joint set
# 5 is present in both s2 and s3

# this property can be used in testing eg:-

# property of corona virus
# if a person matches any of the property then it is said to be infected.

print(s1.isdisjoint(s3))
print(s2.isdisjoint(s3))

True
False

In [ ]:
# syntax:
# setobj1.isdisjoint(setobj2)

# this function return true provided there is no common element present in setobj1 and setobj2

# this function return false provided there is one common element present in setobj1 and setobj2 called joint set or non disjoint set

In [ ]:
s1=set()
s2=set()
s1.isdisjoint(s2)

True

In [ ]:
set().isdisjoint(set())

True

# issuperset() , issubset()

In [ ]:
s1.issubset(s2)

True

In [ ]:
s1.issuperset(s2)

True

In [ ]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]
lst.sort()
print(lst,id(lst))

for i,v in enumerate(lst):
    if(v==10):
        print(i,"-->",v)
        
print(len(lst))
print(max(lst))
print(min(lst))
# to find the unique number in list convert this into set 
s1=set(lst)
print(s1)
# after getting the unique number then convert it into list again to sort the list
lst1=list(s1)
lst1.sort()
print(lst1)

[0, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 40, 50, 50, 60, 70, 70, 70, 80, 90] 2413436330048
1 --> 10
2 --> 10
3 --> 10
4 --> 10
24
90
0
{0, 70, 40, 10, 80, 50, 20, 90, 60, 30}
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# set

- remove()

syntax: setobj.remove(value)

- this function is used for removing  the value from the set object

- if the value is not in the set we will get key error

In [ ]:
s1={True,34.44,10,"rs","b7",2+3j}
print(s1,type(s1))
s1.remove(False)
print(s1,type(s1))

{True, 34.44, 'b7', 'rs', 10, (2+3j)} <class 'set'>

KeyError: False

# set
- union

- union
    syntax:-

    setObj3=setObj1.union(setObj2)

    - this function is used for obtaining unique values of setObj1 and setObj2 and place them in setObj3.

In [ ]:
s1={10,20,30,40}
print(s1,type(s1))
s2={10,20,25,35}
print(s2,type(s2))

# to get combination of s1 and s2
# use of union mean combining the elements and removing the duplicate 

s3=s1.union(s2)
print(s3,type(s3))

{40, 10, 20, 30} <class 'set'>
{25, 10, 35, 20} <class 'set'>
{35, 40, 10, 20, 25, 30} <class 'set'>

In [ ]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.union(y)
print(z,type(z))

{'mysql', 'html', 'css', 'python', 'restapi', 'django'} <class 'set'>

# intersection()

- syntax:-
    - setObj3=setObj1.intersection(setObj2)

In [ ]:
s1={10,20,30,40}
print(s1,type(s1))
s2={10,20,25,35}
print(s2,type(s2))

s3=s2.intersection(s1)
print(s3,type(s3))

{40, 10, 20, 30} <class 'set'>
{25, 10, 35, 20} <class 'set'>
{10, 20} <class 'set'>

In [ ]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.intersection(y)
print(z,type(z),len(z))

set() <class 'set'> 0

In [ ]:
s1={10,20,30,40,50}
s2={10,20,25,35}
s3={1,5,"python"}
s4=s1.union(s2,s3)
print(s4,type(s4))

{1, 35, 5, 40, 10, 50, 20, 25, 'python', 30} <class 'set'>

In [ ]:
s1={10,20,30,40,50}
s2={10,20,25,35}
s3={1,5,"python"}
s4=s1.intersection(s2,s3)
print(s4,type(s4))

set() <class 'set'>

- difference()

    this function remove the common elements from from both setObj1 and setObj2 and takes remaining elements from setObj1 and place them in setObj3

In [ ]:
s1={10,20,30,40,50}
s2={10,20,25,35}
s3={1,5,"python"}
s4=s1.difference(s2,s3)
print(s4,type(s4))

{40, 50, 30} <class 'set'>

In [ ]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.difference(y)
print(z,type(z),len(z))

{'python', 'html', 'django'} <class 'set'> 3

In [ ]:
k={1,2,3}
v={1,2,3}
r=k.difference(v)
print(r,type(r),len(r))

set() <class 'set'> 0

# symmetric_difference()

- setObj3=setObj1.symmetric_diffrence(setObj2)

- this element remove the common elements from both setObj1 and setObj2 and takes remaining elements from setObj and setObj2 and place them in setObj3

In [ ]:
s1={10,20,30,40}
s2={10,20,25,35}
s3=s1.symmetric_difference(s2)
print(s3)

{35, 40, 25, 30}

In [ ]:
k={1,2,3}
v={1,2,3}
r=k.symmetric_difference(v)
print(r,type(r),len(r))

set() <class 'set'> 0

In [ ]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.symmetric_difference(y)
print(z,type(z),len(z))

{'html', 'restapi', 'mysql', 'css', 'python', 'django'} <class 'set'> 6

# Most important Question (Interview):

In [ ]:
# find names of all the player who are playing all types of games---union()

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}

tournament=cric.union(tennis)
print(tournament)

{'rossum', 'kohli', 'rohit', 'travis', 'kinney'}

In [ ]:
# who play both games
cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.intersection(tennis)
print(tournament)

{'rossum'}

In [ ]:
#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.difference(tennis)
print(tournament)

{'kohli', 'rohit'}

In [ ]:
#only tennis player but not cricket

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=tennis.difference(cric)
print(tournament)

{'kinney', 'travis'}

In [ ]:
# exclusively playing cricket and tennis 
# ie., except "rossum" all the palyer

#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.symmetric_difference(tennis)
print(tournament)

{'kinney', 'kohli', 'rohit', 'travis'}

# without using this pre made function 
- MNC QUESTION
- To solve this  we will use bitwise operators

In [ ]:
#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.difference(tennis)
print(tournament)

{'kohli', 'rohit'}

In [ ]:
# find names of all the player who are playing all types of games---union()

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}

tournament=cric.union(tennis)
print(tournament)


# also

torunamnent2=cric|tennis
print(torunamnent2)

{'rossum', 'kohli', 'rohit', 'travis', 'kinney'}
{'rossum', 'kohli', 'rohit', 'travis', 'kinney'}

In [ ]:
# who play both games
cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.intersection(tennis)
print(tournament)

# also

torunamnent2=cric&tennis
print(torunamnent2)

{'rossum'}
{'rossum'}

In [ ]:
#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.difference(tennis)
print(tournament)


# also

torunamnent2=cric-tennis
print(torunamnent2)

{'kohli', 'rohit'}
{'kohli', 'rohit'}

In [ ]:
#only tennis player but not cricket

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=tennis.difference(cric)
print(tournament)

# also

torunamnent2=tennis-cric
print(torunamnent2)

{'kinney', 'travis'}
{'kinney', 'travis'}

In [ ]:
# exclusively playing cricket and tennis 
# ie., except "rossum" all the player

#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.symmetric_difference(tennis)
print(tournament)

# also

torunamnent2=cric^tennis
print(torunamnent2)

{'kinney', 'kohli', 'rohit', 'travis'}
{'kinney', 'kohli', 'rohit', 'travis'}

In [ ]:
# nested set or inner set

In [ ]:
s1={10,"rs",{16,17,18},{77,67,78},"oucet"}

#  writing set in set has no meaning since it has no indexing

# type error
# unhashable mean no indexing, no slicing ,no modification

TypeError: unhashable type: 'set'

In [ ]:
s1={10,"rs",[16,17,18],[77,67,78],"oucet"}

TypeError: unhashable type: 'list'

# set in set is not possible
# set in list is not possible

In [ ]:
s1={10,"rs",(16,17,18),(77,67,78),"oucet"}
print(s1,type(s1))

{'rs', 'oucet', 10, (16, 17, 18), (77, 67, 78)} <class 'set'>

# set in tuple is possible
# since it is immutable

In [ ]:
# to reverse an integer 
# step 1: convert integer to string
# step 2: reverse the string

x=123
str(x)
print(str(x)[::-1])

321

In [ ]:
x=-123
# reverse this as -321

str(x)[1:]
str(x)[1:][::-1]
print(int(str(x)[1:][::-1])*-1)

-321

# frozenset (immutable)

- the functionality of frozenset is exactly similar to set but an object of set belongs to both mutable(add,remove,pop,discard.etc) and also immutable in case of item assignment whereas frozenset object belongs to immutable because it niether perform item assignment or add,remove, discrad etc.,

In [ ]:
s1={10,20,30,40}
fs=frozenset(s1)
print(fs,type(fs))

frozenset({40, 10, 20, 30}) <class 'frozenset'>

In [ ]:
s="mississippi"
fs=frozenset(s)
print(fs,type(fs))

frozenset({'s', 'i', 'p', 'm'}) <class 'frozenset'>

- function in frozenset

- isdisjoint
- issuperset
- issubset
- union
- intersection
- difference
- symmetric difference
- copy

# dict category data type (collection data type)

- dict  --> dictionary ==> difficult word=meaning key,value

- key:value pair

- values of key are unique

- value of value are unique / duplicate

- to store the (key:value ), in dict we use curly braces.

- syntax:

    - varname={key1:value1,key2:value2,...}

    - here key1

In [ ]:
# to create empty dictionary
d1=dict()
print(d1,type(d1))

{} <class 'dict'>

In [ ]:
# to create empty dictionary
d1={}
print(d1,type(d1))

{} <class 'dict'>

In [ ]:
d1={10:1.2,20:1.3,10:3.4}
print(d1)

{10: 3.4, 20: 1.3}

In [ ]:
 # in dict we dont have indexing and slicing

In [ ]:
d1={10:1.2,20:1.3,10:3.4}
print(d1,id(d1))
d1[10]=3.7
print(d1,id(d1))

{10: 3.4, 20: 1.3} 2413442443392
{10: 3.7, 20: 1.3} 2413442443392

In [ ]:
# adding (key:value) to empty dict
# syntax : dictObj[key]=value
d1=dict()
d1[100]=1.2
d1[200]=2.2+0.1
print(d1)

{100: 1.2, 200: 2.3000000000000003}

In [ ]:
len(d1)

2

# Pre define function in dict

- we can perform insert the (key:value) and how to modify the value by passing value of key along with these operation.

- 1.clear()
- 2. pop()
- 3. popitem()
  4. copy()
  5. get()
  6. keys()
  7. values()
  8. items()

In [ ]:
d1={10:"apple",20:"banana",30:"guava"}
d1[0]

KeyError: 0

In [ ]:
d1[50]=4.5
print(d1)

{10: 'apple', 20: 'banana', 30: 'guava', 50: 4.5}

In [ ]:
# pre define function in dict

# clear

In [ ]:
d1={10:"apple",20:"banana",30:"guava"}
d1.clear()

print(d1,id(d1),type(d1))

{} 2413442269824 <class 'dict'>

In [ ]:
print(d1.clear())
print(d1,id(d1),type(d1))

None
{} 2413442269824 <class 'dict'>

In [ ]:
#pop
d1={10:"apple",20:"banana",30:"guava"}
d1.pop(20)
print(d1,id(d1),type(d1))

{10: 'apple', 30: 'guava'} 2413442200704 <class 'dict'>

- pop()
dictobj.pop(key)

- this function is used for removing (key,value) from non-empty dict object 

- if value does not exist then we get keyError

In [ ]:
d1.pop(50)
print(d1,id(d1),type(d1))

KeyError: 50

In [ ]:
d1.popitem()

print(d1,id(d1),type(d1))

{10: 'apple'} 2413442200704 <class 'dict'>

In [ ]:
# it automatically remove from last index

- popitem()

- this function is used for removing last (key,value) from non-empty dict object

- if dict is empty and we try to remove it from dictobj then we will get keyerror

In [ ]:
# copy
dictobj2=dictobj1.copy()

d2=d1 # shallow copy

NameError: name 'dictobj1' is not defined

In [ ]:
# get()
d1={10:"apple",20:"banana",30:"guava"}
val=d1.get(10)
print(val)

apple

In [ ]:
val=d1.get(900)
print(val)

None

- key()

- dictobj.keys()

- this function is used for obtaining value of key and placed in varname and whose type <class,'dict_keys>

In [ ]:
d1={10:"python",20:"java",30:"c",40:"javascript"}
d1.keys()

dict_keys([10, 20, 30, 40])

In [ ]:
ks=d1.keys()
print(ks)

dict_keys([10, 20, 30, 40])

In [ ]:
for k in d1.keys():
    print(k)

10
20
30
40

In [ ]:
for v in d1.values():
    print(v)

python
java
c
javascript

# items()

In [ ]:
d1.items()

dict_items([(10, 'python'), (20, 'java'), (30, 'c'), (40, 'javascript')])

In [ ]:
for k,v in d1.items():
    print(k,"-->",v)

10 --> python
20 --> java
30 --> c
40 --> javascript

# combination of dict with list ,tuple,set

In [ ]:
#dict in dict
#list in dict
#tuple in dict
#set in dict
#dict in list

In [ ]:
#dict iin dict
d1={"sno":10,"name":"rs","IM":{"cm":17,"os":16,"py":19},"EM":{"cm":67,"os":78,"py":67},"cname":"oucet"}

print(d1,id(d1),type(d1))

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19}, 'EM': {'cm': 67, 'os': 78, 'py': 67}, 'cname': 'oucet'} 2413436406336 <class 'dict'>

In [ ]:
for kv in d1.items():
    print(kv,type(kv))

('sno', 10) <class 'tuple'>
('name', 'rs') <class 'tuple'>
('IM', {'cm': 17, 'os': 16, 'py': 19}) <class 'tuple'>
('EM', {'cm': 67, 'os': 78, 'py': 67}) <class 'tuple'>
('cname', 'oucet') <class 'tuple'>

In [ ]:
for k,v in d1.items():
    print(k,"-->",v,type(v),"-->",type(d1))

sno --> 10 <class 'int'> --> <class 'dict'>
name --> rs <class 'str'> --> <class 'dict'>
IM --> {'cm': 17, 'os': 16, 'py': 19} <class 'dict'> --> <class 'dict'>
EM --> {'cm': 67, 'os': 78, 'py': 67} <class 'dict'> --> <class 'dict'>
cname --> oucet <class 'str'> --> <class 'dict'>

In [ ]:
# INTERNAL MARKS
for k,v in d1["IM"].items():
    print(k,"-->",v)

cm --> 17
os --> 16
py --> 19

In [ ]:
# EXTERNAL MARKS
for k,v in d1["EM"].items():
    print(k,"-->",v)

cm --> 67
os --> 78
py --> 67

In [ ]:
d1["IM"].pop("os")
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'py': 19}, 'EM': {'cm': 67, 'os': 78, 'py': 67}, 'cname': 'oucet'}

In [ ]:
d1={"sno":10,"name":"rs","IM":{"cm":17,"os":16,"py":19},"EM":{"cm":67,"os":78,"py":67},"cname":"oucet"}

d1["EM"]["cm"]=17
d1["IM"]["os"]=16
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19}, 'EM': {'cm': 17, 'os': 78, 'py': 67}, 'cname': 'oucet'}

In [ ]:
#update the "EM" of py
d1={"sno":10,"name":"rs","IM":{"cm":17,"os":16,"py":19},"EM":{"cm":67,"os":78,"py":67},"cname":"oucet"}

d1["EM"]["py"]=65
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19}, 'EM': {'cm': 67, 'os': 78, 'py': 65}, 'cname': 'oucet'}

In [ ]:
# calculate total marks

d1["total"]=dict()
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 17, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': {}}

In [ ]:
d1["total"]=d1["IM"]["py"]+d1["EM"]["py"]
d1["total"]=d1["IM"]["cm"]+d1["EM"]["cm"]
d1["total"]=d1["IM"]["os"]+d1["EM"]["os"]  
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 17, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': 94}

In [ ]:
#above we get the latest value only so we
d1["total"]=dict()
d1["total"]["cm"]=d1["IM"]["cm"]+d1["EM"]["cm"]
d1["total"]["os"]=d1["IM"]["os"]+d1["EM"]["os"]
d1["total"]["py"]=d1["IM"]["py"]+d1["EM"]["py"]
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 17, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': {'cm': 34, 'os': 94, 'py': 84}}

In [ ]:
#another method
d1["total"]["py"]=d1["IM"].get("py")+d1["EM"].get("py")
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 17, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': {'cm': 34, 'os': 94, 'py': 84}}

- dict in dict --possible

In [ ]:
# List in dict

In [ ]:
d1={"sno":10,"name":"rs","IM":[18,13,17],"EM":[55,66,68],"cname":"JNTU"}
for k,v in d1.items():
    print(k,"-->",v,type(v),"-->",type(d1))

sno --> 10 <class 'int'> --> <class 'dict'>
name --> rs <class 'str'> --> <class 'dict'>
IM --> [18, 13, 17] <class 'list'> --> <class 'dict'>
EM --> [55, 66, 68] <class 'list'> --> <class 'dict'>
cname --> JNTU <class 'str'> --> <class 'dict'>

In [ ]:
#sort
d1["IM"].sort()
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18], 'EM': [55, 66, 68], 'cname': 'JNTU'}

In [ ]:
# another method of sorting 
d1.get("EM").sort(reverse=True)
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18], 'EM': [68, 66, 55], 'cname': 'JNTU'}

In [ ]:
# add one more internal marks

d1["IM"].append(19)
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18, 19], 'EM': [68, 66, 55], 'cname': 'JNTU'}

In [ ]:
# another method
d1.get("EM").append(78)
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18, 19], 'EM': [68, 66, 55, 78], 'cname': 'JNTU'}

In [ ]:
# get the value of IM na EM only

x=["IM","EM"]
for k in x:
    print(k)

IM
EM

In [ ]:
for k in x:
    print(d1.get(k))

[13, 17, 18, 19]
[68, 66, 55, 78]

In [ ]:
#tuple in dict-possible

In [ ]:
d1={"sno":10,"name":"rs","IM":(18,13,17),"EM":(55,66,68),"cname":"JNTU"}

for k,v in d1.items():
    print(k,"-->",v,type(v),"-->",type(d1))

sno --> 10 <class 'int'> --> <class 'dict'>
name --> rs <class 'str'> --> <class 'dict'>
IM --> (18, 13, 17) <class 'tuple'> --> <class 'dict'>
EM --> (55, 66, 68) <class 'tuple'> --> <class 'dict'>
cname --> JNTU <class 'str'> --> <class 'dict'>

In [ ]:
#set in dict -possible

In [ ]:
prod={"tv":1.0,"mobile":0.35,"tab":0.25,"ref":1.5}
# find the highest price of the product
hp=max(prod,key=prod.get)
print(hp)

ref

In [ ]:
print("product name:{} and price is:{}".format(hp,prod.get(hp)))

product name:ref and price is:1.5

In [ ]:
tpl=(10,"rs",{"cm":13,"os":16,"py":14},"oucet")
print(tpl)

(10, 'rs', {'cm': 13, 'os': 16, 'py': 14}, 'oucet')

In [ ]:
for val in tpl:
    print(val,"-->",type(tpl))

10 --> <class 'tuple'>
rs --> <class 'tuple'>
{'cm': 13, 'os': 16, 'py': 14} --> <class 'tuple'>
oucet --> <class 'tuple'>

In [ ]:
tpl[2]["cm"]=18
print(tpl)

(10, 'rs', {'cm': 18, 'os': 16, 'py': 14}, 'oucet')

In [ ]:
s1={10,"rs",{"cm":13,"os":16,"py":14},"oucet"}
print(s1)

TypeError: unhashable type: 'dict'

In [ ]:
# dict in set is not possible

In [ ]:
list in list # P
list in tuple #P
list in set #NP
list in dict #P


tuple in tuple #P
tuple in list #P
tuple in set #P
tuple in dict #P


set in set #NP
set in list #P
set in tuple #P
set in dict #P

dict in dict #P
dict in list #P
dict in tuple #P
dict in set #NP

TypeError: argument of type 'type' is not iterable

# none type

In [ ]:
l1=[10,20,30,40]
l1.clear()
print(l1)

[]

In [ ]:
None==0

False

In [ ]:
None==""

False

In [ ]:
None==None

True

# Operation and Expression in python

- an operator is a symbol which will perform an operation on data 
OR  value or object

- if two or more object or variable or value connected with an operator then it is called expression

- in other words , an expression is a collection of object or variable or value connected with operator

- there are 7 type of operator

1. Arithmetic operator
2. Assignment operators
3. Relational operator
4. Logical operator
5. Bitwise operator[most important]
6. membership operators
    - in
    - not in
7. Identity operators
    - is
    - is not

- python programming does not support Unary operator(++) and (--)

 note :-
 - python support short hand operator

1. Arithmetic operator:-

7 type of arithmetic operator:-
1. "+" addition
2. "-" subtraction
3. "*" multiplication
4. "/" division # ()give float quotiet)
5. "//" floor division # (integer quotiet)
6. "%" modulus # (remainder of division)
7. "**" exponentiation # (power of)

In [ ]:
print(10**-2)

0.01

In [ ]:
#Q wap to demonstrate the function of arithmetic  operator?
print(10.0/3)

3.3333333333333335

In [ ]:
print(10.0//3)

3.0

In [ ]:
print(10//3)

3

In [ ]:
# find the sqrt without using math function
print(25**0.5)

5.0

In [ ]:
import math

print(math.sqrt(25))

5.0

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fma(x, y, z, /)
        Fused multiply-add operation.

        Compute (x * y) + z with a single round.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
n=float(input("enter the number"))
x=n**0.5
print(x)

5.0

In [ ]:
n= float(input("enter the number"))
res=n**0.5
print("square {} is {}".format(n,round(res)))

square 81.0 is 9

In [ ]:
# find the cube root
x=64
print(x**(1/3))

3.9999999999999996

In [ ]:
n= float(input("enter the number"))
res=n**(1/3)
print("cube {} is {}".format(n,round(res)))

cube 100.0 is 5

In [ ]:
# swap two number ?
a=input("enter the number")
b=input("enter the number")
x=a
a=b
b=x
print(" Swaped value of a:{}".format(a))
print(" Swaped value of b:{}".format(b))

 Swaped value of a:66
 Swaped value of b:55

In [ ]:
for val in range(65,91):
    print(val,"-->",chr(val))

65 --> A
66 --> B
67 --> C
68 --> D
69 --> E
70 --> F
71 --> G
72 --> H
73 --> I
74 --> J
75 --> K
76 --> L
77 --> M
78 --> N
79 --> O
80 --> P
81 --> Q
82 --> R
83 --> S
84 --> T
85 --> U
86 --> V
87 --> W
88 --> X
89 --> Y
90 --> Z

In [ ]:
for val in range(97,123):
    print(val,"-->",chr(val))

97 --> a
98 --> b
99 --> c
100 --> d
101 --> e
102 --> f
103 --> g
104 --> h
105 --> i
106 --> j
107 --> k
108 --> l
109 --> m
110 --> n
111 --> o
112 --> p
113 --> q
114 --> r
115 --> s
116 --> t
117 --> u
118 --> v
119 --> w
120 --> x
121 --> y
122 --> z

In [ ]:
"just">="jsut"

True

In [ ]:
"just"<="jsut"

False

# Program

In [ ]:
# swap two number ?
a=input("enter the number")
b=input("enter the number")
x=a
a=b
b=x
print(" Swaped value of a:{}".format(a))
print(" Swaped value of b:{}".format(b))

 Swaped value of a:89
 Swaped value of b:78

# Relational operator

In [ ]:
"Python">"python"

False

In [ ]:
"abc">="acb"

False

In [ ]:
for val in range(65,91):
    print(val,"-->",chr(val))

65 --> A
66 --> B
67 --> C
68 --> D
69 --> E
70 --> F
71 --> G
72 --> H
73 --> I
74 --> J
75 --> K
76 --> L
77 --> M
78 --> N
79 --> O
80 --> P
81 --> Q
82 --> R
83 --> S
84 --> T
85 --> U
86 --> V
87 --> W
88 --> X
89 --> Y
90 --> Z

In [ ]:
for val in range(97,123):
    print(val,"-->",chr(val))

97 --> a
98 --> b
99 --> c
100 --> d
101 --> e
102 --> f
103 --> g
104 --> h
105 --> i
106 --> j
107 --> k
108 --> l
109 --> m
110 --> n
111 --> o
112 --> p
113 --> q
114 --> r
115 --> s
116 --> t
117 --> u
118 --> v
119 --> w
120 --> x
121 --> y
122 --> z

In [ ]:
"just">="jsut"

True

In [ ]:
"just"<="jsut"

False

In [ ]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

# Logical operator

- the purpose of logical operator is that " to combine two or more relational expression"

- if two or more relational expressions connected with logical operator then it is called logical expression

- the logical expression is called comound test condition (multiple relational expressions )

- in python we have 3 type of logical expression 

- they are 

1. and --->physical ANDing
2. or --->physical ORing
3. not --->no name

# AND opertor

- the functionality of "and" operator. define in following truth table.

- false true =false
- true false = false
- false false =false
- true true = true

In [ ]:
True and True

True

In [ ]:
True & True

True

In [ ]:
# && has no meaning in python
True && True

SyntaxError: invalid syntax (2290736897.py, line 2)

In [ ]:
# MCQ type question 
10>2 and 10>30

False

In [ ]:
10>20 and 20>10

False

# Short circuit evaluation

- if two or more relational expressions are connected with "and" operator and if the result of first relational expression is false then PVM will evaluate second and sub-sequent relational expressions and total result of entire expression (logical expression) is false .this process of evaluation is called short circuit evaluation

# OR operator 

- the functionality of "or" operator. define in following truth table.

- false true = true
- true false = true
- false false = false
- true true = true

In [ ]:
100>20 or 20<50

True

# not Operator

- give the opposite result of boolean

In [ ]:
not True

False

In [ ]:
not 123

False

In [ ]:
not -345

False

In [ ]:
not 0

True

In [ ]:
# it is string non zero.
not "python"

False

In [ ]:
not "not"

False

In [ ]:
not "False"

False

In [ ]:
not False

True

In [ ]:
not ""

True

In [ ]:
not "10-10"

False

In [ ]:
100 and 200

200

In [ ]:
"""  
100 --non Zero  true
200  non Zero true
o/p --200
"""

'  \n100 --non Zero  true\n200  non Zero true\no/p --200\n'

In [ ]:
100  and 0

0

In [ ]:
-24 and -34

-34

In [ ]:
100 and 10 and 1

1

In [ ]:
100 and 0 and 10

0

In [ ]:
100 and True -54

-53

In [ ]:
100 and True and -55

-55

# or operator special points

In [ ]:
100 or 200

100

In [ ]:
100 or 0

100

In [ ]:
0 or 100

100

In [ ]:
0 or True or 200

True

In [ ]:
"python" or "java" or "c" or "html"

'python'

# Special point on "and" and "or" operators

In [ ]:
100 or 200 and 300 or 400

100

In [ ]:
# when "and" and "or" operators are present then "and " operator is given more priority.


# because "and" operator mean "*"
# and "or" operator mean "+-"

In [ ]:
"java" and "python" and "html" or "django"

'html'

In [ ]:
0 and 30 or -123 and 0 and "python" or True

True

# Bitwise operators - Most important

- Bitwise operator are used to perform operation on integer data in the form of bit by bit 

- bitwise operator are applicable on integer values but not applicable on floating point value.

- because floating point value does not contain certainity on floating point 

- whereas integer data contain certainity.

- the execution process of bitwise operator are shown below:-

- bitwise operator convert the integer data into binary bit
- bitwise operator applied on binary bit and perform operation depend on type of  bitwise operator.
- the result of bitwise operator display python execution environment in form of decimal number system.
-

In [ ]:
a=3.4
print("%0.20f" %a)

3.39999999999999991118

In [ ]:
a=5
print("%0.20f" %a)

5.00000000000000000000

# In python we have 6 type of bitwise operators.

1. << bitwise left shift operator
2. >> bitwise right shift operator
3. & bitwise AND operator
4. | bitwise OR operator
5. ^ bitwise XOR operator
6. ~ bitwise complement operator(tilde)

In [ ]:
# 1. << bitwise left shift operator

# (<<) ---> symbol

"""   
syntax:
    varname = givenValue<< number_of_bit

"""

'   \nsyntax:\n    varname = givenValue<< number_of_bit\n\n'

In [ ]:
a=10
b=3
c=a<<b
print(c)

80

In [ ]:
# to solve this use this formula

# a=10 , b=3

# 10*(2power of 3)

# a*(2power of b)

In [ ]:
32<<4

512

In [ ]:
"apple"<<2

TypeError: unsupported operand type(s) for <<: 'str' and 'int'

In [ ]:
10.2<<2

TypeError: unsupported operand type(s) for <<: 'float' and 'int'

In [ ]:
# Right shift operator
a=10
b=3
c=a>>b
print(c)

# formula
# a//(2power of b)

1

In [ ]:
10>>2

2

In [ ]:
# 10/(2power of 2)
# always take quotint value

In [ ]:
15>>3

1

In [ ]:
10>>1

5

In [ ]:
10>>0

10

# bitwise AND operator

In [ ]:
0&1

0

In [ ]:
1&0

0

In [ ]:
0&0

0

In [ ]:
1&1

1

In [ ]:
10&4

0

In [ ]:
4 and 10

10

In [ ]:
10 & 4

0

In [ ]:
True and True

True

In [ ]:
True & True

True

In [ ]:
10.2 and 2

2

In [ ]:
10.2 & 2

TypeError: unsupported operand type(s) for &: 'float' and 'int'

In [ ]:
s1={10,20,30}
s2={15,20,35}
s3=s1&s2
print(s3)

{20}

In [ ]:
s4=s1 and s2
print(s4)

{35, 20, 15}

In [ ]:
10 & 4

0

In [ ]:
# to solve this 
# step 1 
#convert 10 into binary ---0b1010
#step 2 
#convert 4 into binary ---0b100
#step 3
# now apply and operation
#  0b1010
#  0b0100
# _______ = apply and operotor you get
#  0b0000

In [ ]:
numToBinary=bin(10)
print(numToBinary)

0b1010

In [ ]:
numToBinary=bin(4)
print(numToBinary)

0b100

# Flow control statements in python

 - purpose of flow control statements in python

 1. conditional OR selection OR branching statement :-

  a. simple if statement
  b. if-else statement
  c. if..elif statement
  d. match case statement

  2. looping OR iterating or repetition statement:-

  a. for loop---for else loop
  b. while loop---while else loop
  
  3. Transfer flow statement:-

  a. break statement
  b. continue statement
  c. pass statement
  d. return statement

In [ ]:
# simple if statement
""""  
syntax:
if(test condition):
    statement1
    statement2
    ----------
    ----------

"""

'"  \nsyntax:\nif(test condition):\n    statement1\n    statement2\n    ----------\n    ----------\n\n'

In [ ]:
n=float(input("enter any number"))
if(n<=0):
    print("{} is invalid input".format(n))
if(n%2==0) and (n>0):
    print("{} is even number".format(n))
if(n%2!=0) and (n>0):
    print("{} is odd number".format(n))

52.0 is even number

# if else statements

In [ ]:
"""  
 syntax :-

    if(test condition):
       block of statements
    else:
     block of statements   
 
"""

'  \n syntax :-\n\n    if(test condition):\n       block of statements\n    else:\n     block of statements   \n \n'

# String handling 
- str operation on strings ie., indexing and slicing

In [ ]:
s="python"
s[0]

'p'

In [ ]:
s=s+" program"
print(s,type(s),id(s))

python program <class 'str'> 2105721419056

In [ ]:
# str is immutable object , we want to perform various operation by pre define function

# capitalize

In [ ]:
s="python"
s=s.capitalize()
print(s,type(s),id(s))

Python <class 'str'> 2105716591328

# title

In [ ]:
s="python"
s=s.title()
print(s,type(s),id(s))

Python <class 'str'> 2105716591328

In [ ]:
s="python is a oop language "
s=s.capitalize()
print(s,type(s),id(s))

Python is a oop language  <class 'str'> 2105721427312

In [ ]:
s="python is a oop language "
s=s.title()
print(s,type(s),id(s))

Python Is A Oop Language  <class 'str'> 2105721433152

# count()

In [ ]:
s="python is a oop language "
s=s.count("o")
print(s,type(s),id(s))

3 <class 'int'> 140735408047080

In [ ]:

s="python is a oop language "
s=s.count("a")
print(s,type(s),id(s))

3 <class 'int'> 140735408047080

In [ ]:
s=1276757612553613111
# find how many time 1 occurrences
s1=str(s)
s1=s1.count("1")
print(s1)

6

# swapcase()

In [ ]:
s="PyThOn"
s1=s.swapcase()
print(s1)

pYtHoN

# isalpha()

In [ ]:
s="PyThOn"
s1=s.isalpha()
print(s1)

True

# split()

In [ ]:
s="Py12Th67o4N9"
# get the number and charecter separately

In [ ]:
s="python is a oop language"
s1=s.split()
print(s1)

['python', 'is', 'a', 'oop', 'language']

In [ ]:
s="09-03-1995"
s1=s.split("-")
print(s1)
print("DD=",s1[0])
print("MM=",s1[1])
print("YY=",s1[2])

['09', '03', '1995']
DD= 09
MM= 03
YY= 1995

In [ ]:
s="Apple#Mango-Kiwi#Guava"
s1=s.split("#")
print(s1)

['Apple', 'Mango-Kiwi', 'Guava']

In [ ]:
y=s1[1].split("-")
print(y)

['Mango', 'Kiwi']

In [ ]:
s1[1]=y[0]
print(s1)

['Apple', 'Mango', 'Guava']

In [ ]:
s1.insert(-1,y[1])
print(s1)

['Apple', 'Mango', 'Kiwi', 'Guava']

In [ ]:
s="python is hll program"
x=s.split()
print(x)

['python', 'is', 'hll', 'program']

In [ ]:
lst=['python', 'is', 'hll', 'program']
s=" "
s1=s.join(lst)
print(s1)

python is hll program

In [ ]:
s="   python"
s1=s.lstrip()
print(s1)

python

# Looping or Iterating or Repetative statement

- while loop or while else loop
- for loop or else loop

- Looping statements containing 
1. Initialisation
2. conditional part
3. updation part

In [ ]:
"""  

# while loop
- syntax-1:-

while(test condition):
    statement(s)
    increment/decrement statement

- syntax-2:-

while(test condition):
    statement(s)
    increment/decrement statement
else:
    statement(s)


"""

'  \n\n# while loop\n- syntax-1:-\n\nwhile(test condition):\n    statement(s)\n    increment/decrement statement\n\n- syntax-2:-\n\nwhile(test condition):\n    statement(s)\n    increment/decrement statement\nelse:\n    statement(s)\n\n\n'

In [ ]:
# wap to generate 1 to 10 number .

i=1 # initialization
while(i<=10): # condition
    print("{}".format(i))
    i=i+1 # updation
else:
    print("loop completed")

1
2
3
4
5
6
7
8
9
10
loop completed

In [ ]:
n=int(input("enter the number you want to generate:"))
i=1 # initialization
while(n<=i):# condition
    print("{}".format(i))
    i=i-1 # updation
else:
    print("loop completed")

loop completed

In [ ]:
# generate n to 1 

n=int(input("enter the number you want to generate:"))

if(n<=0):
    print("{} is invalid input".format())
else:
    i=n
    while(i>=1):
        print("{}".format(i))
        i=i-1 # updation
    else:
        print("loop completed")

5
4
3
2
1
loop completed

In [ ]:
#wap to generate odd number within n
n=int(input("enter the number you want to generate:"))

if(n<=0):
    print("{} is invalid input".format())
else:
    i=1
    while(i<=n):
        print("{} is odd".format(i))
        i=i+2 # updation
    else:
        print("loop completed")

1 is odd
3 is odd
5 is odd
loop completed

In [ ]:
#wap to generate odd number within n , it should be in decreasing order

n=int(input("enter the number you want to generate:"))

if(n<=0):
    print("{} is invalid input".format())
else:
    i=n
    while(i>=1):
        print("{} is odd".format(i))
        i=i-2 # updation
    else:
        print("loop completed")

5 is odd
3 is odd
1 is odd
loop completed

In [ ]:
# another way

n=int(input("enter the number you want to generate:"))

if(n<=0):
    print("{} is invalid input".format())
else:
    while(n>=2):
        print("{} is odd".format(n))
        n=n-2 # updation

5 is odd
3 is odd

# For loop

In [ ]:
# wap to generate 1 to n number where n is +ve:-

# while loop 
n=10
i=1
while(i<=n):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=int(input("enter the number"))
if(n<0):
    print("{} is invalid ".format(n))
else:
    print("number ")
    for i in range(1,n+1):
        print(i)

number
1
2
3
4
5

In [ ]:
# wap to print n to 1

n=int(input("enter the number"))
if(n<=0):
    print("{} is invalid ".format(n))
else:
    for i in range(n,0,-1):
        print(i)

5
4
3
2
1

In [ ]:
# wap to generate odd and even numbers number

for i in range(1,11):
    if(i%2==0):
        print(i,"is even")
    else:
        print(i,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
# find the sum of first n natural number, wher en is +ve

n=int(input("enter the number"))
if(n<=0):
    print("{} is invalid number".format(n))
else:
    sum=0
    for i in range(1,n+1):
        sum+=i
        print("sum of first {} natural number is {}".format(n,sum))

sum of first 10 natural number is 1
sum of first 10 natural number is 3
sum of first 10 natural number is 6
sum of first 10 natural number is 10
sum of first 10 natural number is 15
sum of first 10 natural number is 21
sum of first 10 natural number is 28
sum of first 10 natural number is 36
sum of first 10 natural number is 45
sum of first 10 natural number is 55

In [ ]:
# python fullstack programming will help you to become 

"""
- data analyst
- data analytics
- Business Intelligence Engineering
- Data Analyzer
- Data science 
 
numpy 20days
panda 20 days
matplotlib 10 days

"""

In [ ]:
# square of natural number
n=int(input("enter the number"))
for i in range(1,n+1):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

# FUNCTION

In [ ]:
"""  
Index
-----------
=>Purpose of Functions
=>Types of languages
	a) Un-Structured Programming Lang
	b) Structured Programming Lang
=>Definition of Function
=>Parts of Function
=>Phases in Functions
=>Syntax for Defining Functions
=>Programming Examples
=>Number of approaches to define Functions
=>Programming Examples
____________________________

=>Arguments and Parameters
=>Types of Arguments
		1. Positional Arguments
		2. Default Arguments
		3. Keyword Arguments
		4. Variable Length Arguments
		5. Keyword Variable Length Arguments
=>Programming Examples
__________________________

=>Global  and Local Variables
=>Programming Examples
=>global keyword
=>globals()
=>Programming Examples
=>Anonymous OR Lambda Functions
=>Implementation of Anonymous OR Lambda Functions
=>Programming Examples
________________________

Special Functions in Python
	a) filter() with Normal and Anonymous Function
	b) map() with Normal and Anonymous Function
	c) reduce() with Normal and Anonymous Function
=>Programming Examples
___________
Nested function or decorator

"""

# Types of languages

- Un-structured programming language example [GW-BASIC]
- Structured programming language example [C,C++,Python,Java,C#]

# a) Un-Structured Programming Lang

- Since Un-Structured Programming Lang does not contains the concept of FUNCTIONS and Hence 
    whose Applications having the following  Limitations.

	1. Application development Time is More
	2. Application takes More memory Space
	3. Application execution time is More
	4. Application Performance Degraded
	5. Redundency ( Duplication or Replication) of the Code is More.

Examples:  GW-BASIC

# b) Structured Programming Lang
- Since Structured Programming Lang  contains the concept of FUNCTIONS and Hence 
    whose Applications having the following  Advantages.
	1. Application development Time is Less
	2. Application takes Less memory Space
	3. Application execution time is Less
	4. Application Performance Enahnced (Improved)
	5. Redundency ( Duplication or Replication) of the Code is Minimized.

Examples:     C,C++,Java,PYTHON,C#.net...etc

# Functions in Python

- The purpose of Functions is that " To Perform Certain Operation /Task and Provides Code 
    Re-Usability".
    - The Advantages of Functions in any languages are
		1. Application Development time is Less
		2. Application Memory Space is Less
		3. Application Execution Time is Less
		4. Application Performance  is Enhanced
		5. Redundency of the Code is Minimized

	# Parts of Functions

	- At the time Developing functions in real time, we must ensure that, there must exist 2 Parts. they are
		1. Function Definition
		2. Function Calls
	- Every Function Definition Exists Only Once.
	- Function Definition will execute when we call by using function calls OR Without  calling the Function 
    by using Function Calls PVM will not execute Function Definition.
 

	# Phases in Functions

	- At the time Defining the functions, the Programmer must ensure that there must exist the following Phases.
		1. Every Function Must take INPUT
		2. Every Function Must PROCESS the Input
		3. Every Function Must give OUTPUT or RESULT

# Number of approaches to define function
- 4 way to define function

In [ ]:

# - Approach:1

# define a function for addition of two number

def addop(a,b):# here a,b are called formal parameters
    c=a+b # here c is called local  variables
    return c
    print(c)
addop(10,20)

30

In [ ]:
# return is keyword that is used to return the local varia RESULT


def mulop(a,b):
    
    c=a*b 
    return c

#main program
a=float(input("Enter First Value:"))
b=float(input("Enter Second Value:"))
res=mulop(a,b) # Function call
print("Mul({},{})={}".format(a,b,res))

Mul(10.0,10.0)=100.0

# parameter and argument
__________________

# Parameter:-
 
 - parameter are classified into two types:-
 1. Formal parameter
 2. Local parameter/ variable

 - Formal parameter are those which are used in function heading .
 - the purpose of of formal parameter is to " store  or hold input coming from function call"
 

____________________________

# local variable

- local variable are those which are used as a part of function body
- the purpose of local variable is to " store result of function processing logic

# Example :-

-def functionName(a,b,c): # a,b,c are called formal parameter
-d= a+b+c # d is called local variable

# Argument 

- argument are also called variable
- argument are used inside function call
____________________________________

- the relationship between argument and parameter is that every value of argument must pass to formal parameter
- based on passing the value of argument to formal parameter , argument are classified into 5 types:-
 1. Positional argument
 2. default argument
 3. keyword argument
 4. variable length argument
 5. keyword variable length

# Anonymous functions or Lambda functions
- anonymous function are those which does not have any name function name explicitly .
- the purpose of anonymous function is " to perform instant operation"
- Instant operation are those which are used at point of time only but no longer interested to use in other part s of the application.
- to define anonymous function we use lambda keyword. and hence anonymous function are called lambda function.
- anonymous function perform instant operation they contain single executable statement only ( not multiple )
- anonymous function return the result the automatically / implicitly / ( there is no need to write return statement)

# Syntax:-

- varname = lambda Param-list : expression


__Explanation:-__

- 'lambda' keyword is used to declare a lambda function
- param list = represent list of formal parameters which are used for holding or storing the input coming from function call.
- expression represent single executable statement and it is the solution  or logic for instant operation.

In [ ]:
# define a function to add two number
# this is normal function
def addop(a,b):
    c=a+b
    return c

res=addop(10,20)
print(res)

30

In [ ]:
# using lambda function
addop1 = lambda a,b:a+b
print(addop1(10,20))

30

In [ ]:
# find the max  of two number
findMax= lambda a,b: a if a>b else b 
print(findMax(20,30))

30

In [ ]:
findMax2= lambda a,b:"a is greater" if a>b else "b is greater" if b>a else "both value are equal"
print(findMax2(51,5))

a is greater

In [ ]:

# find the min and max from list
findmax= lambda values: max(values)
findmin= lambda values: min(values)

#main code 
print("enter the list of values separated by space")
vals= [int(val) for val in input().split()]
print("content of the list",vals)
bv= findmax(vals)
sv= findmin(vals)
print(bv,sv)

enter the list of values separated by space
content of the list [10]
10 10

# Basic Program for interview

In [ ]:
# find the sum of first 10 natural number 
sum=0
for i in range(1,11):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# find the table of 6
for i in range(1,11):
    print("{}*{}={}".format(6,i,6*i))

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [ ]:
# find the square of first 10 number 

for i in range(1,11):
    print("the square of {} is {}".format(i,i*i))

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81
the square of 10 is 100

In [ ]:
# wap to find the cube of first 10 natural number

for i in range(1,11):
    print("the cube of {} is {}".format(i,i**3))

the cube of 1 is 1
the cube of 2 is 8
the cube of 3 is 27
the cube of 4 is 64
the cube of 5 is 125
the cube of 6 is 216
the cube of 7 is 343
the cube of 8 is 512
the cube of 9 is 729
the cube of 10 is 1000

In [ ]:
# wap to find the first 10 natural number and check even or odd

for i in range(1,11):
    if i%2==0:
        print("{} is even".format(i))
    else:
        print("{} is odd".format(i))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
# wap to find factorial 
n=int(input("Enter a Number for Cal factorial:"))
if(n<0):
    print("{} is Invalid Input".format(n))
else:
    f=1
    for i in range(1,n+1):
        f=f*i
    else:
        print("\t{}!={}".format(n,f))

	10!=3628800

In [ ]:
n=int(input("enter the number"))
if(n<0):
    print("number you enter {} is invalid or negative")
else:
    sum=0
    for i in range(1,n+1):
        sum+=i
        print("{} sum of number is {}".format(n,sum))

5 sum of number is 1
5 sum of number is 3
5 sum of number is 6
5 sum of number is 10
5 sum of number is 15

In [ ]:
for i in range(1,6): # Outer Loop
    print("value of i outer loop:{}".format(i))
    print("------------------------------")
    for j in range(1,4): # Inner Loop
        print("\tvalue of j-Inner Loop:{}".format(j))
    else:
        print("\tI am coming out of inner loop")
        print("------------------------------")
else:
    print("I am coming out of outer loop")

value of i outer loop:1
------------------------------
	value of j-Inner Loop:1
	value of j-Inner Loop:2
	value of j-Inner Loop:3
	I am coming out of inner loop
------------------------------
value of i outer loop:2
------------------------------
	value of j-Inner Loop:1
	value of j-Inner Loop:2
	value of j-Inner Loop:3
	I am coming out of inner loop
------------------------------
value of i outer loop:3
------------------------------
	value of j-Inner Loop:1
	value of j-Inner Loop:2
	value of j-Inner Loop:3
	I am coming out of inner loop
------------------------------
value of i outer loop:4
------------------------------
	value of j-Inner Loop:1
	value of j-Inner Loop:2
	value of j-Inner Loop:3
	I am coming out of inner loop
------------------------------
value of i outer loop:5
------------------------------
	value of j-Inner Loop:1
	value of j-Inner Loop:2
	value of j-Inner Loop:3
	I am coming out of inner loop
------------------------------
I am coming out of outer loop

In [ ]:
#program for generating Mul Table for a given +ve number

n=int(input("Enter a Number for generating Mul Table:"))
if(n<=0):
    print("{} is Invalid Input".format(n))
else:
    print('-'*50)
    print("Mul Table for:{}".format(n))
    print('-' * 50)
    i=1 # Init Part
    while(i<11):
        print("\t{} x {}={}".format(n,i,n*i))
        i=i+1
    else:
        print("*"*50)

--------------------------------------------------
Mul Table for:5
--------------------------------------------------
	5 x 1=5
	5 x 2=10
	5 x 3=15
	5 x 4=20
	5 x 5=25
	5 x 6=30
	5 x 7=35
	5 x 8=40
	5 x 9=45
	5 x 10=50
**************************************************

In [ ]:
def AverageSum():
        try:
            n1=eval(input("enter 1st number"))
            n2=eval(input("enter 2nd number"))
            n3=eval(input("enter 3rd number"))
            n4=eval(input("enter 4th number"))
            avg= (n1+n2+n3+n4)/4
            print("the average of {} , {} , {} and {} is {}".format(n1,n2,n3,n4,avg))
        except Exception as e:
            print(e)

In [ ]:
AverageSum()

the average of 10 , 20 , 30 and 40 is 25.0

In [ ]:
def sum(n1,n2):
    add=n1+n2
    print("the addition of {} and {} is {}".format(n1,n2,add))

sum(69,89)

the addition of 69 and 89 is 158

In [ ]:
def numbers():
    num1=eval(input("enter 1st number"))
    num2=eval(input("enter 2nd number"))
    num3=eval(input("enter 3rd number"))
    if num2<num1>num3:
        print(num1,"is the greatest mumber")
        a=num1

    elif num2>num3:
        print(num2,"is the greatest mumber")
        a=num2

    else:
        print(num3,"is the greatest mumber")
        a=num3

    return(a)

a=numbers()

30 is the greatest mumber

In [ ]:
list1=["hyd","mumbai","chennai","delhi"]

#output:["Hyd","Mumbai","Chennai","Delhi"]

#METHOD-1 : use append method
#M-2 : use list comprehension
#M-3 : use lambda function

In [ ]:
list1=["hyd","mumbai","chennai","delhi"]

list2=[]
for i in list1:
    list2.append(i.capitalize())

print(list2)

['Hyd', 'Mumbai', 'Chennai', 'Delhi']

In [ ]:
list3=[i.capitalize() for i in list1]
print(list3)

['Hyd', 'Mumbai', 'Chennai', 'Delhi']

In [ ]:
"""  
lambda <arg> :<output>,<iterator>
"""

'  \nlambda <arg> :<output>,<iterator>\n'

In [ ]:
list3=[i.capitalize() for i in list1]
print(list3)

['Hyd', 'Mumbai', 'Chennai', 'Delhi']

In [ ]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai', 'Delhi']

In [ ]:
tuple(map(lambda i:i.capitalize(),list1))

('Hyd', 'Mumbai', 'Chennai', 'Delhi')

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]

#apply the square
#apply the cube

In [ ]:
#lambda <argument> : <output>,<iterator>
list1=[1,2,3,4,5,6,7,8,9]
for i in map(lambda i:i*i,list1):
    print(i)

1
4
9
16
25
36
49
64
81

In [ ]:
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list(map(lambda i:i*i*i,list1))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
list1=[1,2,3]
list2=[11,22,33]

#output [12,24,36]

In [ ]:

list1=[1,2,3]
list2=[11,22,33]
for i,j in zip(list1,list2):
    print(i+j)

12
24
36

In [ ]:
lambda i,j:i+j,list1,list2

(<function __main__.<lambda>(i, j)>, [1, 2, 3], [11, 22, 33])

In [ ]:
list(map(lambda i,j:i+j,list1,list2))

[12, 24, 36]

In [ ]:
list1=["h#d","mum#bai","banglore","de#hi"]

list2=[]
for i in list1:
    if "#" in i:
        list2.append(i)

print(list2)

['h#d', 'mum#bai', 'de#hi']

In [ ]:
[i for i in list1 if "#" in i]

['h#d', 'mum#bai', 'de#hi']

In [ ]:
list(map(lambda i:"#" in i,list1))

[True, True, False, True]

In [ ]:
list(filter(lambda i:"#" in i,list1))

['h#d', 'mum#bai', 'de#hi']

In [ ]:
list1=["h#d","mum#bai","banglore","de#hi"]
"#" in "h#d"

True

In [ ]:
#n: new line
#t: tab

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b)  # True (same values)
print(a is b)  # False (different memory locations)
# is checks object identity (whether they refer to the same memory location).
# == checks for value equality (whether they have the same content).

In [ ]:
# In lamda there is no "return" keywords

# Special function in python

- There are 3 special functions in python:- 
- map()
- filter()
- reduce()

# filter():-

- filter() function in python is used to create a new list from elements of an iterable for which a function returns true.
- Syntax:varname = filter(functionName, iterableObject)

In [1]:


def pos(val):
    if(val>0):
        return True
    else:
        return False

lst=[10,20,30,-1,-10,-20,40,-50,0, 70]
positiveList=filter(pos,lst)
print(positiveList,type(positiveList))
pslst=list(positiveList)
print(pslst,type(pslst))

<filter object at 0x0000022FCBBCB0A0> <class 'filter'>
[10, 20, 30, 40, 70] <class 'list'>

In [2]:
#  to find the neg value
def neg(val):
    if (val<0):
        return True
    else:
        return False


lst=[10,20,30,-1,-10,-20,40,-50,0, 70]
negativeList=filter(neg,lst)
print(positiveList,type(positiveList))
nslst=list(negativeList)
print(nslst,type(nslst))

<filter object at 0x0000022FCBBCB0A0> <class 'filter'>
[-1, -10, -20, -50] <class 'list'>

In [3]:
# writing via lambda function

pos= lambda val: val>0
neg= lambda val: val<0

lst=[10,20,30,-1,-10,-20,40,-50,0, 70]
positiveList=filter(pos,lst)
negativeList=filter(neg,lst)
print(positiveList,type(positiveList))
pslst=list(positiveList)
print(pslst,type(negativeList))
nslst=list(negativeList)
print(nslst,type(nslst))

<filter object at 0x0000022FCBBCA950> <class 'filter'>
[10, 20, 30, 40, 70] <class 'filter'>
[-1, -10, -20, -50] <class 'list'>

In [4]:
# accept dynamically value from keywords:
print("enter list of values speaparated by space:")
lst=[int(val) for val in input().split()]
print("content of the list=",lst)

# define function to filter the pos and neg
pos= lambda val:val>0
# define function to filter the negative value
neg=lambda val:val<0
# filter the positive and negative value 
ps=list(filter(pos,lst))
ns=list(filter(neg,lst))
print("list of positive value={} \n and list of negative value is {}".format(ps,ns))

enter list of values speaparated by space:
content of the list= [10, 20]
list of positive value=[10, 20]
 and list of negative value is []

In [5]:
print("Enter list of values separated by space:")
lst=[int(val) for val in input().split()]
print("content of list=",lst)
psEvenLst=list(filter(lambda val: val>0 and val%2==0,lst))
nsEvenLst=list(filter(lambda val: val<0 and val%2==0,lst))
print("list of positive even numbers=",psEvenLst)
print("list of negative even numbers=",nsEvenLst)

Enter list of values separated by space:
content of list= [10, 20, -4]
list of positive even numbers= [10, 20]
list of negative even numbers= [-4]

In [6]:
# wap to find the number , aplhabet , vowel, special symbol

#value ="P2y&t0onP2r*g#m"

In [7]:
value ="P2y&t0onP2r*g#m"
aplhas= list(filter(lambda ch:ch.isalpha(),value))
print(aplhas)
print("".join(aplhas))

['P', 'y', 't', 'o', 'n', 'P', 'r', 'g', 'm']
PytonPrgm

In [8]:
digits=tuple(filter(lambda ch:ch.isdigit(),value))
print(digits)
print("".join(digits))
print("".join(sorted(digits)))
print("".join(sorted(digits)[::-1]))

('2', '0', '2')
202
022
220

In [9]:
# special symbol
symbols=list(filter(lambda ch: not ch.isalnum(),value))
print(symbols)

['&', '*', '#']

In [10]:
value ="P2y&t0onP2r*g#m"
aplhas= list(filter(lambda ch:ch.isalpha() and ch.isupper(),value))
print(aplhas)
print("".join(aplhas))

['P', 'P']
PP

- filter is used for "filtering out the some element from list of elements by applying to function" .
- syntax: varName=filter(functionName,iterableObject)

- "functionName - represnt either normal function or anonymous function
- iterableObject - represent the sequence of list, set and dict.
-

# map()

- requirement 

- old marks= [40,60,30,80,10]
- new marks = [add grace marks]

syntax: varName= map(functionName,iterableObject)

- map send every element of iterableObject to the specified function, process it and return the modified value (result) and new list of elements will be obtained " the process will be continued until all element of iterable object completed.

In [12]:
# wap to read list of salary and obtain new list of salary
def increment(sal):
    sal=sal+sal*(20/100)
    return sal
    
print("enter list of old salary:")
oldsal= [float(sal) for sal in input().split()]
print("list of old salaries",oldsal)
nsl=map(increment,oldsal) # here nsl is called  object of class map
print(nsl)
newsal=list(nsl)
print(newsal)

enter list of old salary:
list of old salaries [10.0, 20.0, 30.0, -90.0, -7.0]
<map object at 0x0000022FCBBCA410>
[12.0, 24.0, 36.0, -108.0, -8.4]

In [13]:
lst1=[10,20,30,40]
lst2=["rs","vk"]

for x,y in zip(lst1,lst2):
    print(x,"-->",y)

10 --> rs
20 --> vk

In [14]:
# hacker rank question
animal=["cat","dog","human","tiger"]
sound=["meow","bow","unnecessary-sound","roar"]

for x,y in zip(animal,sound):
    print(x,"-->",y)

cat --> meow
dog --> bow
human --> unnecessary-sound
tiger --> roar

In [15]:
# using lambda and tuple 
animal=["cat","dog","human","tiger"]
sound=["meow","bow","unnecessary-sound","roar"]

animal_sound=tuple(map(lambda ani,snd: ani+"-"+snd,animal,sound))
print(animal_sound)

('cat-meow', 'dog-bow', 'human-unnecessary-sound', 'tiger-roar')