# Data Scientists

where Data science is used:-
--------------------------------

 # 1. Finance

- loan prediction
- stock market prediction
- credit card usage

 # 2. e-Commerce

 - price tracking
 - recommendation
 - sentiment analysis

# 3. Medical
 - pattern recognition of disease
 - efficacy of vaccination
 - blood group availability
 - chat boats

# 4. Automobile

- self driving car 
- detection of parts
- user manual analysis


# 5. Education

- pass % of student for next year
- enrollment
- prediction of avg salary
- detect the face and the attendance

# 6. Agriculture

- Seed suggestion
- drone tech
- rain prediction
- seasonal crop analysis

# 7. Pharma

- drug accurate prediction
- alternate drug suggestion
- medical coding ====automated
- side effects
- bio war
- cyber war
- robotic war


# 8. IT company:-

- revenue prediction 
- churn prediction

# EDA : Exporatory data analysis

- Numpy {numerical python}
- Pandas {data base operation}
- matplotlib {plotting}
- seaborn {plotting}
- bokhe {plotting}

# Machine Learning :

- Sickit-learn {skLearn} {python} = used by data scientist
- MLlib - pyspark = used by data engineering

# Deep Learning

- tensorflow {google}
- keras 
- pyTorch
- openCV


# NLP -Natural Language Toolkit

- nltk
- scipy

# Bert model

    -transformers

    #Azure ml packages
    #chat gpt packages
    #open CV {computer vision}
    #flask
    #stremLit

    DEEP LEARNING + NLP ==DATA SCIENCE {AI application}

Q. what is package?

-collection of function or method

#step-1

import <package_name>

#step-2:

dir(<package_name>)

#step-3:

help(<package_name>.<method>)

# we will learn

# python package:-

#EDA = [numpy, pandas, matplotlib]

#ML = [skylean=python, MLlib=pyspark]

#DL = [tensorflow,keras,pytorch,opencv]

#NLP = [nltk,scipy]

# Variable 
- variable to store value.

# ----------Python----------

- officially release in 1991 
- by guido van rossum

# features of python:- or Services or facilities of python:-

- more facility --> life easy

# 11 features of python:-

1. simple 
2. platform independent languages
3. dynamically typed
4. interpreted
5. high level languages
6. robust(strong) language
7. freeware and open source
8. extensible
9. embedded
10. both functional and object oriented programming languages
11. support third party API such as numpy,pandas,matplotlib,scipy,scikit,tensorflow etc.,

In [1]:
"""
# explanation

1.simple:-
 simple programming language because of 3 factor -

 a). less line of code:-
 eg:-
 to generate calender for month 
    =>c-language take-250 lines of code =>java -25lines
    =>c# 25lines
    =>python -2 lines 
    
    
    //
    c language library are called = header file
    
    c++ library are called = header file/name spaces
    
    java library are called = package
    
    python library are called = module
    //
    
 *******************************
 b).
 Rich sets of modules are present 
 eg:- math etc.,
 
 
//
python provide in built facility called garbage collector 

- to remove un-used memory  

 
 *******************************
 c).
 
 ***********


"""
# module name are calender,math,random,cmath etc

""" 

2. Platform independent


a platform is nothing but type of OS being used to run our application / project/program

-python is platform independent,


"""

' \n\n2. Platform independent\n\n\na platform is nothing but type of OS being used to run our application / project/program\n\n-python is platform independent,\n\n\n'

In [2]:
import calendar as c 
print(c.month(2025,1))

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [3]:
# to design complete calender
print(c.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [5]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [6]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# Data types:
- used for allocating memory space and for storing inputs.

- data type--->values--->object---class

- python object store  unlimited data whose memory space is common for all sort of operating system and python object takes single value , multiple value, hence python is platform independent

In [7]:
import keyword as k
k.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# ----Data type----

In [9]:
# In Python there are 14 data types

"""
And they are classified into six data types

1. Fundamental category data types---> [int,float,bool,complex]

2. Sequence Category data types ---->[str,byte,bytearray,range]

3. List Category data types [Collections data types] --->[list, tuple]

4. Set Category data types [Collections data types] --->[set,frozenset]

5. Dict Category data types [Collections data types] --->[dict]

6. None Category data types --->[none type]

"""

'\nAnd they are classified into six data types\n\n1. Fundamental category data types---> [int,float,bool,complex]\n\n2. Sequence Category data types ---->[str,byte,bytearray,range]\n\n3. List Category data types [Collections data types] --->[list, tuple]\n\n4. Set Category data types [Collections data types] --->[set,frozenset]\n\n5. Dict Category data types [Collections data types] --->[dict]\n\n6. None Category data types --->[none type]\n\n'

In [ ]:
"""
1. Fundamental category data types

eg:-
    1.int
    2.float
    3.bool
    4.complex

---------------------

2. Sequence Category data types
eg:-

    1.str
    2.bytes
    3.bytearray
    4.range

-----------------------

3. List Category data types [Collections data types]

eg:-

    1.list
    2.tuple

-----------------------

4.Set Category data types [Collections data types]

eg:-

    1.set
    2.frozenset

-----------------------

5. Dict Category data types [Collections data types]

 eg:-

    1.dict

 --------------------

 6. None Category data types 

eg:-

    1. None types


"""

# 1. Fundamental category data types

- purpose of Fundamental category data types is to " store single value "

eg:-

    1.int
    2.float
    3.bool
    4.complex

# int

- "int" is pre-define class and treated as fundamental data type.

- to store "whole number / integer value without decimal places

- we have four type of number system

1. decimal number system
2. binary number system 
3. octal number system
4. hex decimal number system

# Float:-

- fundamental data types
- purpose is to store the real constant values.
- int can treated as float but float can't be treated as integer

In [10]:
a=3.4
print("%0.50f" %a)

3.39999999999999991118215802998747676610946655273438

In [11]:
a=50
b=3.5
c=a*b
print(c,type(c))

175.0 <class 'float'>

In [12]:
a=0.0000000000000000000000005
print(a,type(a))

5e-25 <class 'float'>

In [13]:
#here "e" has negative power 25 (25 number of zeros)
#this is scientific notation , it also save memory and size
#for storing big  floating data

a=0b1010.0b1111
print(a)

# not allowed here

SyntaxError: invalid decimal literal (1467001728.py, line 5)

# bool


- pre defined class treated as fundamental datatype

- to store true and false value ie.,(logical values)

- "1"-->true/yes
- "0" -->false/no

In [14]:
a=True
b=False
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [15]:
a=true
print(a,type(a))
# t==T here T and F are in capitalized

NameError: name 'true' is not defined

# Complex data Types

- it is pre defined data types , treated as fundamental data types

- to store complex value 

- perform operation on complex data

- notation a+bj or a-bj

- a is real part
- b is imaginary part
- j complex notation

In [16]:
import cmath
cmath.sqrt(-1)

1j

In [17]:
a= 2+3j
print(a.real,a.imag)

2.0 3.0

In [ ]:
""" 
whenever you see () this mean function ,
another name of function is called "method"

-inside bracket what you see are called parameter.

-another name for parameter is called arguments
"""

# Sequence category data types :-

- the purpose of sequence category data types is "to store sequence of value".

- there are 4 data type of sequence data types

    - 1. str
    - 2. bytes
    - 3. bytearray
    - 4. range

- 1. str

- it is pre defined class in sequence data type

- to store text data

eg:- firstName="deepak", placeName="koderma" ,description="about your details"

- with str - we can store both char data and string data 

- you can use single quotes or double quotes both are valid.

- single quote and double quote is used to store single line multi data.

- to store multiple line information we use triple quote.

- internally python uses single quote to store the data to reduce the memory spaces .

In [2]:
str1="pyt#0$^n"
print(str1,type(str1))

pyt#0$^n <class 'str'>

In [3]:
str1 = "python is developed by rossum"
print(str1,type(str1))

python is developed by rossum <class 'str'>

In [4]:
# to store address information of a person

add1="guido van rossum"

In [5]:
# single quote and double quote is used to store single line multi data.

# to store multi line data --->triple quote

In [6]:
add2="""guido van rossum
        f,no 3-4 hillside
        python developer
        netherland"""

In [7]:
print(add2,type(add2))

guido van rossum
        f,no 3-4 hillside
        python developer
        netherland <class 'str'>

In [8]:
#  """_________
#     ---------
#     ------"""


# this is multi line .

In [9]:
str1="python is \n Developed by Rossum \n Live in nitherland"

print(str1,type(str1))

python is
 Developed by Rossum
 Live in nitherland <class 'str'>

In [10]:
len(str1)

52

In [11]:
"""
consider the following str data

s="python"

left-to- right +ve Index
right to left -ve Index

"""
print(len(str1)-1)

51

# operation on str data:-

- with str data we can perform two type of operations:-

   - 1. indexing
   - 2. slicing

In [ ]:
#Indexing operations:-

s="python"

# purpose of indexing is to " get one value at a time from str object"

# in other words -process of obtaining one value from object is called "indexing"

# syntax : strObj[indexNumber]

# indexNumber can be +ve or -ve 

# if we enter invalid index then we get indexing error

In [12]:
s="python"
print(s,type(s),s[1],s[-2])

python <class 'str'> y o

In [13]:
# to find the last index.

s[len(s)-1]

'n'

In [14]:
s[-len(s)]

'p'

In [ ]:
# Slicing operation in str

# process of obtaining range of char OR values (sub string) from main string is called slicing.

# to perform slicing operation , we have 5 types of syntax

""" 
1. strobj[begin:end]
2. strobj[begin:]
3. strobj[:end]
4. strobj[:]
5. strobj[begin:end:step]


 strobj[begin:end:step]--> this is basic syntax 

[-6]==p==[0]
[-5]==y==[1]
[-4]==t==[2]
[-3]==h==[3]
[-2]==o==[4]
[-1]==n==[5]


s[0:3]---"pyt" 
"""

In [15]:
s="python"
s[0:3]

'pyt'

In [16]:
s[2:5]

'tho'

In [17]:
s[-4:-1]

'tho'

In [18]:
s[-1:-4]

''

In [19]:
# there is reverse in order so empty string

In [20]:
s[-5:-1]

'ytho'

In [26]:
# s[+ve begin:+ve end]
# forward direction always
# end>begin
# in endIndex always -1 to get exact answer

In [22]:
s[1:-1]

'ytho'

In [23]:
s[1:5]

'ytho'

In [24]:
s[:]

'python'

In [25]:
s[1:-2]

'yth'

In [27]:
s[::1]

'python'

In [28]:
s[::2]

'pto'

In [29]:
s[0:6:2]

'pto'

In [30]:
s[0:6:1]

'python'

In [32]:
s[::-2]

'nhy'

# bytes data types

- bytes data types are pre defined class and treated as sequence data types

- the purpose of bytes data type is that " to implement end-t end encryption" in network based application.

- to implement end-to end encryption in network based application.

- bytes data type organize in numerical integer values in range of 0 to 256 ie., it store 0 to 255 values only.

- bytes data type does not contain any symbolic notation for storing bytes data because programmer will not store bytes data directly in program , but we can convert any other type value into bytes types()

- Syntax:- varname=bytes(object)

In [33]:
list1=[100,200,10,0,256,45,67]
print(list1,type(list1))

b=bytes(list1)

[100, 200, 10, 0, 256, 45, 67] <class 'list'>

ValueError: bytes must be in range(0, 256)

In [34]:
list1=[100, 200, 10, 0, 255, 45, 67,120]
print(list1,type(list1))

b=bytes(list1)

print(b,type(b))

[100, 200, 10, 0, 255, 45, 67, 120] <class 'list'>
b'd\xc8\n\x00\xff-Cx' <class 'bytes'>

In [35]:
for val in b:
    print(val,type(val))

100 <class 'int'>
200 <class 'int'>
10 <class 'int'>
0 <class 'int'>
255 <class 'int'>
45 <class 'int'>
67 <class 'int'>
120 <class 'int'>

# bytearray data type

- the functionality of bytearray is " exactly  similar to bytes , but object of bytes it belongs to immutable objects because bytes objects does not support assignment whereas bytearray belong to mutable because objects of bytearray allows us to perform items assignment.

In [36]:
list1=[100,200,256,0,55,166]
print(list1)
ba=bytearray(list1)

[100, 200, 256, 0, 55, 166]

ValueError: byte must be in range(0, 256)

In [37]:
list1=[100,200,254,0,55,166]
print(list1,type(list1))
ba=bytearray(list1)
print(ba,type(ba))

[100, 200, 254, 0, 55, 166] <class 'list'>
bytearray(b'd\xc8\xfe\x007\xa6') <class 'bytearray'>

In [39]:
# to get aboce encrypted list
for val in ba:
    print(val)

100
200
254
0
55
166

# Immutable

- An objects is said to be immutable if it satisfies the the following properties

- 1. immutable object can't be changed at the same address (Immutable object values can be changed and modified values placed at different addresses)

- Immutable object never allows us to perform item assignment.

- eg :-
    int ,float , bool , complex , str , bytes, range , tuple, set , frozenset , nonetype

# Mutable

- A mutable objects is one ,whose content can be changed at the same address time

eg:-

list,set,dict

In [40]:
a=10
print(a,id(a))
a=a+1
print(a,id(a))

10 140718325435096
11 140718325435128

In [41]:
a="python"
print(a,id(a),type(a))

python 1350486424720 <class 'str'>

In [42]:
a="python"
print(a,id(a),type(a))
a=a+"program"
print(a,id(a),type(a))

python 1350486424720 <class 'str'>
pythonprogram 1350588531632 <class 'str'>

In [43]:
a="python"
a[0]

'p'

In [44]:
a[0]=="j"

False

In [45]:
a[0]="j"
print(a,id(a),type(a))

TypeError: 'str' object does not support item assignment

# Range

- range is pre defined class and treated as sequence category data type.

- the purpose of range data type is to " maintain sequence of integer values by maintaining equal interval of steps"

- an object of range , we can perform both indexing and slicing operations

- an object of range belongs to immutable because range object does not support item assignment.

- an object of range maintain insertion order.

- to create an object of range for storing range  OR sequence of values , we use 3 pre defined function they are :-


        - syntax1: range(value)

        - syntax2: range(begin, end)

        - syntax3: range(begin,end,step)

- syntax1: range(value)
 
 this values generate range of values from 0 to value-1

In [46]:
r=range(0,6)
print(r)

range(0, 6)

In [47]:
for val in r:
    print(val)

0
1
2
3
4
5

In [48]:
# directly using range
for val in range(6):
    print(val)

0
1
2
3
4
5

In [49]:
# syntax2: range(begin, end)

# this syntax generate range of values from start to stop-1

In [50]:
for val in range(10,20):
    print(val)

10
11
12
13
14
15
16
17
18
19

In [51]:
# NOTE 
"""THE above syntax uses default step +1 """

'THE above syntax uses default step +1 '

In [52]:
# syntax range(start,stop,step):

for val in range(10,21,2):
    print(val)

10
12
14
16
18
20

In [53]:
r=range(1000,1030,10)
for v in r:
    print(v)

1000
1010
1020

In [55]:
import random 
for i in range(5):
    num=random.randint(10,31)
    if num%2==0:
        print("the given number {} is even".format(num))
    else:
        print("the given number {} is odd".format(num))

the given number 30 is even
the given number 10 is even
the given number 18 is even
the given number 19 is odd
the given number 17 is odd

- Fundamental data types - used to store single value.

- Sequence Data Types - used to store sequence of values.

- now my requirement is 
i want to store 100,10,120,1000,-420,3000,12.34

- numerical values ---duplicate and unique values .

- now my requirement is 10,"rossum",4.13,True

- therefore to store this kind of data we require list data types.

- eg: eno,ename,sal,dsg,city

In [58]:
# new data types
# what we learn
"""
- purpose of list
- create an object of list 
- type of list
- memory management of list 
- operation on list 
- pre defined function in list 
- inner list or nested list 
- programming example
"""

'\n- purpose of list\n- create an object of list \n- type of list\n- memory management of list \n- operation on list \n- pre defined function in list \n- inner list or nested list \n- programming example\n'

# List category data types (collection data types)

- the purpose of list data types is to " store multiple values either of same types or different types in single object with unique and duplicate values.

- we have 2 data types in List category , they are 

    1. List [mutable]
    2. tuple(immutable)

# list--[]

- Property of list:-

   - list is a pre defined class and treated as list category data types.

   - the purpose of list category is to "store multiple values either of same type or different type or both the types in single object with unique and duplicates"

- Notation of list.

    - to store list data we use "square brackets [], and values are separated by commas.

    - syntax: varname=[val1,val2,...]

- object of list maintained insertion order.

- on object of list we can perform indexing and slicing operation.

In [59]:
list1=["RS",True,780,2+3j]
print(list1,type(list1))

['RS', True, 780, (2+3j)] <class 'list'>

In [60]:
list1[::2]

['RS', 780]

In [62]:
# changing the value at 0 index
list1[0]="guido van rossum"
print(list1,type(list1))

['guido van rossum', True, 780, (2+3j)] <class 'list'>

In [65]:
# list object belongs to mutable because it allow modification, updations,assignment by slicing and indexing.

In [68]:
# how to create an empty list
list1=[]
print(list1)

[]

In [69]:
# or list1=list()
# this will create empty list

In [72]:
# to empty the list
lst=[1,3,5]
lst=list()
print(lst)

[]

In [73]:
s="mississippi"
list1=list(s)
print(s,type(s))
print(list1,type(list1))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] <class 'list'>

In [74]:
# all fundamental values are not possible to convert list because they are all non iterable.

In [76]:
list1=["RS",True,780,2+3j]
a=10
list1=list(a)

TypeError: 'int' object is not iterable

In [77]:
list1=list(1.2)

TypeError: 'float' object is not iterable

In [78]:
list1=list(True)

TypeError: 'bool' object is not iterable

In [79]:
list1=list(1+3j)

TypeError: 'complex' object is not iterable

In [80]:
list1=list([1,2,3])
print(list1)

[1, 2, 3]

- we know that on the object of list , we can perform both indexing and slicing operation .

- with indexing we get , access single value and we can update single value of list object 

- with slicing operation we get / access multiple values and we can update multiple values of list object.

- hence with index and slicing operation on list we can access ad update value(s)

In [82]:
lst=[10,"rs"]
print(lst,id(lst))

[10, 'rs'] 1350589097792

In [1]:
# append()

# append() function is used to add element / values at the end of list

# Syntax: listobj.append(value)

In [2]:
lst=[10,"rs"]
lst.append("deepak")
print(lst,id(lst))

[10, 'rs', 'deepak'] 2557709535552

In [3]:
# insert()

lst = [10,"rs",34.34]
lst.insert(2,"python")
print(lst)

[10, 'rs', 'python', 34.34]

In [4]:
lst.insert(0,"Rossum")
print(lst)

['Rossum', 10, 'rs', 'python', 34.34]

In [5]:
# therefore list is ,mutable

In [6]:
lst.insert(-1,"deepak")
print(lst)

['Rossum', 10, 'rs', 'python', 'deepak', 34.34]

In [7]:
lst.insert(100,200)
print(lst)

['Rossum', 10, 'rs', 'python', 'deepak', 34.34, 200]

In [8]:
# here 100 is index number and 200 is place value

In [9]:
lst.insert(-100,200)
print(lst)

[200, 'Rossum', 10, 'rs', 'python', 'deepak', 34.34, 200]

In [10]:
# insert()

# this function is used for inserting an element in existing list at specified index.

# here index can be +ve or -ve 

# if we specify invalid +ve index the value will be inserted in last element in list.

# if we specify invalid -ve index the value will be inserted in first element in list

# remove

In [11]:
lst.remove("hyd")

ValueError: list.remove(x): x not in list

In [12]:
# if value does not exist in list and we try to remove it we will get value error.

In [13]:
lst=[10,20,10,30,40,20]
lst.remove(10)
lst.insert(100,200)
print(lst)

[20, 10, 30, 40, 20, 200]

In [14]:
# it will remove the first occurrence of single element only.

In [15]:
[].remove(100)

ValueError: list.remove(x): x not in list

In [16]:
# no data is present

# popindex

In [17]:
lst=[10,20,30,40,50,60,70,80,90,100]
lst.pop(0)
print(lst)

[20, 30, 40, 50, 60, 70, 80, 90, 100]

In [23]:
# zero index has been removed

# by default pop elements remove last element [-1]

In [19]:
lst.pop(4)
print(lst)

[20, 30, 40, 50, 70, 80, 90, 100]

In [20]:
lst.pop(10)
print(lst)

IndexError: pop index out of range

In [21]:
# Syntax:-

# listobj.pop(index)

# this function is used for removing elements from the list based on the index

# here index can be +ve and -ve

# if we provide invalid index then we get IndexError

In [22]:
[].pop(0)

IndexError: pop from empty list

# del operator

- syntax:-
    del listobj[index] ----remove one element from list based on indexing

- syntax:-
    del listobj[beginIndex:endIndex:step] ----remove one element based on slicing

- syntax:-
    del listobj ---remove all elements from list and list object also

In [24]:
lst=[10,20,30,40,50]
del lst
print(lst)

NameError: name 'lst' is not defined

In [26]:
lst=[10,20,30,40,50]
del lst[::]
print(lst)

[]

In [27]:
lst=[10,20,30,40,50]
lst.clear()
print(lst)
len(lst)

[]

0

In [28]:
[].clear()

In [29]:
# here output is none

In [30]:
# clear()
# this function  is used to remove all element from list object
# if we call this function upon empty list object then we get space on none result

# how to remove duplicate in list

# convert this it into  set

In [31]:
lst=[10,20,20,30,40,40,10,50,20,60,60,70]
print(lst)
s=set(lst)
print(s)

[10, 20, 20, 30, 40, 40, 10, 50, 20, 60, 60, 70]
{70, 40, 10, 50, 20, 60, 30}

In [32]:
# here all element are unique .

# index()

In [33]:
lst=[10,20,30,10,50,60,10,20]
print(lst)

[10, 20, 30, 10, 50, 60, 10, 20]

# enumerate

In [41]:
lst=[10,20,30,10,50,60,10]
print(lst,type(lst))

for i,v in enumerate(lst):
    print(i,"--->",v)

[10, 20, 30, 10, 50, 60, 10] <class 'list'>
0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 10
4 ---> 50
5 ---> 60
6 ---> 10

In [37]:
# i = index
# v = value

In [38]:
for i,v in enumerate(lst):
    if(v ==10):
        print(i,"--->",v)

0 ---> 10
3 ---> 10
6 ---> 10

In [39]:
# enumerate is to find the exact number with index number

In [40]:
s="mississippi"
for i,v in enumerate(s):
    print(i,"--->",v)

0 ---> m
1 ---> i
2 ---> s
3 ---> s
4 ---> i
5 ---> s
6 ---> s
7 ---> i
8 ---> p
9 ---> p
10 ---> i

In [44]:
s="mississippi"
lst=list(s)
for i,v in enumerate(lst):
    if(v=="s"):
        print(i,"--->",v)

2 ---> s
3 ---> s
5 ---> s
6 ---> s

# enumerate

- this function is used for obtaining index and value entries for every element of iterable objects. (contain more than one value)

- syntax: enumerate(iterable object)

# copy()

- in python we have 2 types of copy technique , they are :-
    - 1.shallow copy
    - 2.deep copy

In [45]:
# shallow copy

In [46]:
""" 
- the property of shadow copy are 

1. the initial content of both the objects are same.

2.the memory address of both the object are different.

3.the modification are independent (whatever the changes we do on one object, those changes are not reflected to another object, because memory address are different)

--> to implement shallow copy , we use copy().

--> syntax:-

object2=object1.copy()


"""

' \n- the property of shadow copy are \n\n1. the initial content of both the objects are same.\n\n2.the memory address of both the object are different.\n\n3.the modification are independent (whatever the changes we do on one object, those changes are not reflected to another object, because memory address are different)\n\n--> to implement shallow copy , we use copy().\n\n--> syntax:-\n\nobject2=object1.copy()\n\n\n'

In [47]:
lst=[10,"rs"]
lst2=lst.copy() # shallow copy
print(lst2,id(lst),id(lst2))

[10, 'rs'] 2557715718912 2557715981184

In [48]:
# deep copy

"""  
- the property of deep copy are-
    1.the initial content of both the object are same .
    2.the memory address of both the object are same .
    3.the modification are dependent.(whatever the changes we do in one object , those changes are reflecting to another object because memory address are same )
"""

'  \n- the property of deep copy are-\n    1.the initial content of both the object are same .\n    2.the memory address of both the object are same .\n    3.the modification are dependent.(whatever the changes we do in one object , those changes are reflecting to another object because memory address are same )\n'

In [49]:
# to implement deep copy , we use assignment operator
# (=)
# syntax:
# object2=object1

In [50]:
lst=[10,"rs","b7"]
lst2=lst
print(id(lst),id(lst2),type(lst))

2557709561152 2557709561152 <class 'list'>

# count

- this function is used for counting number of occurrence of specific value.

- if specific value does not exist then we get 0.

In [51]:
lst=[10,20,10,30,10,20,30,30,40,40,50,10,50,20]
print(lst,type(lst))
lst.count(10)

[10, 20, 10, 30, 10, 20, 30, 30, 40, 40, 50, 10, 50, 20] <class 'list'>

4

In [52]:
lst=[10,20,10,30,10,20,30,30,40,40,50,10,50,20]
print(lst,type(lst))
lst.count(10)
lst.count(160)

[10, 20, 10, 30, 10, 20, 30, 30, 40, 40, 50, 10, 50, 20] <class 'list'>

0

In [53]:
s="mississippi"
for i,v in enumerate(s):
    print(i,"--->",v)
    
lst=list(s)
print(lst)

lst.count("i")

0 ---> m
1 ---> i
2 ---> s
3 ---> s
4 ---> i
5 ---> s
6 ---> s
7 ---> i
8 ---> p
9 ---> p
10 ---> i
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

4

In [54]:
lst=[10,20,30,40,50,60,70]
print(lst,id(lst))

lst1=lst.reverse()
print(lst1,id(lst1))

[10, 20, 30, 40, 50, 60, 70] 2557715743424
None 140718387679888

In [55]:
syntax:-
listobj.reverse()

- this function is used for reversing the elements(of listobj and reversed element placed in same listobj itself)

- front element become last element.

SyntaxError: invalid syntax (4073142731.py, line 1)

# sort()--most important

In [56]:
lst1=[10,12,-2,30,5,25]
lst1.sort()
print(lst1,id(lst1))

[-2, 5, 10, 12, 25, 30] 2557715980736

In [57]:
lst1.reverse()
print(lst1,id(lst1))

[30, 25, 12, 10, 5, -2] 2557715980736

In [58]:
lst1.sort(reverse=True)
print(lst1,id(lst1))

[30, 25, 12, 10, 5, -2] 2557715980736

In [59]:
lst1=[10,20,"rs","b7",2+4j,True,False]
lst1.sort()
print(lst1,id(lst1))

TypeError: '<' not supported between instances of 'str' and 'int'

In [61]:
lst1=[10,20,"rs","b7",2+4j,True,False]
lst2=["python","javascript","react","html","css","nextjs","tailwind"]

lst1.extend(lst2)
print(lst1)

[10, 20, 'rs', 'b7', (2+4j), True, False, 'python', 'javascript', 'react', 'html', 'css', 'nextjs', 'tailwind']

In [62]:
# merging to list we use extend function

In [65]:
# when we use append then it is added within the same list 
# it will become nested list

In [64]:
lst1.append(lst2)
print(lst1)

[10, 20, 'rs', 'b7', (2+4j), True, False, 'python', 'javascript', 'react', 'html', 'css', 'nextjs', 'tailwind', ['python', 'javascript', 'react', 'html', 'css', 'nextjs', 'tailwind']]

In [66]:
#syntax:-

# lst1.extend(lst2)

Q. Find the element which occurence is max time

In [67]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]
lst.sort()
print(lst)

[0, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 40, 50, 50, 60, 70, 70, 70, 80, 90]

In [68]:
lst.count(10)

4

In [69]:
max(lst)

90

In [70]:
# number of repeated elements

In [71]:
mv=max(lst,key=lst.count)
print(mv)

20

# Inner list or nested list

- my requirement is to store -sno,sname,list of 3 subject internal marks, list of 3 subject external marks,cname

- lst=[10,"rs",17,15,18,78,70,79,"oucet"]

- lst=[10,"rs",[17,15,18],[78,70,79],"oucet"]

- matrix

In [72]:
lst=[10,"rs",[17,15,18],[78,70,79],"oucet"]
lst[2]

[17, 15, 18]

In [73]:
lst[3]

[78, 70, 79]

In [74]:
lst[2][1]

15

In [75]:
lst[-2][-2:]

[70, 79]

In [76]:
lst[2].append(18)
print(lst)

[10, 'rs', [17, 15, 18, 18], [78, 70, 79], 'oucet']

In [77]:
lst[3].insert(1,74)
print(lst)

[10, 'rs', [17, 15, 18, 18], [78, 74, 70, 79], 'oucet']

In [78]:
lst[2].sort()
print(lst)

[10, 'rs', [15, 17, 18, 18], [78, 74, 70, 79], 'oucet']

In [79]:
lst[-2].sort(reverse=True)
print(lst)

[10, 'rs', [15, 17, 18, 18], [79, 78, 74, 70], 'oucet']

In [80]:
del lst[2][::2]
print(lst)

[10, 'rs', [17, 18], [79, 78, 74, 70], 'oucet']

In [81]:
del lst[-2][1::2]
print(lst)

[10, 'rs', [17, 18], [79, 74], 'oucet']

In [82]:
matrix1=[[10,20,30],[40,50,60],[70,80,90]]
for row in matrix1:
    print(row)
    
matrix2=[[1,2,3],[4,5,6],[7,8,9]]
for row in matrix2:
    print(row)
    
matrix3=matrix1+matrix2
print(matrix3)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[[10, 20, 30], [40, 50, 60], [70, 80, 90], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [83]:
# we will learn this in pandas

# tuple

- it is pre defined class treated as list as category data type.

- Real time importance of tuple is to "store constant value"

- eg: your bank account number , and your cname never changes in bank history , only your balance changed .

- to store tuple we use braces ()and values are separated by commas

In [84]:
t1=(10,20,30,40,10,30,50,60)
print(t1,type(t1))

(10, 20, 30, 40, 10, 30, 50, 60) <class 'tuple'>

In [85]:
t1.sort()
print(t1,type(t1))

AttributeError: 'tuple' object has no attribute 'sort'

In [86]:
t1=(10,20,30,40,10,30,50,60)
for i,v in enumerate(t1):
    print(i,"--->",v)

0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 40
4 ---> 10
5 ---> 30
6 ---> 50
7 ---> 60

In [87]:
t1[1]="rossum"

TypeError: 'tuple' object does not support item assignment

In [88]:
# therefore it store constant values hence here no update , no del , no sort will occurred

In [89]:
s="mississippi"
t1=tuple(s)
print(t1,type(t1))

('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') <class 'tuple'>

In [90]:
len(t1)

11

In [91]:
t1=()
print(t1,type(t1))

() <class 'tuple'>

In [92]:
t2=10,20,30 
print(t2,type(t2))

(10, 20, 30) <class 'tuple'>

In [93]:
t4=10,
print(t4,type(t4))

(10,) <class 'tuple'>

In [94]:
x=(10)
print(x,type(x))

10 <class 'int'>

In [95]:
y=("kvr")
print(y,type(y))

kvr <class 'str'>

In [96]:
y=("kvr",)
print(y,type(y))

('kvr',) <class 'tuple'>

In [97]:
len(y)

1

In [98]:
# tuple is immutable

In [99]:
# pre defined function in list
""" 
-append()
-insert()
-remove()
-pop(index)
-pop()
-clear()
-index()
-count()
-sort()
-reverse()
-copy()
-extend()
"""


# pre defined function in tuple

""" 
-index()
-count()
"""

#rest of the method are not present in tuple

' \n-index()\n-count()\n'

In [100]:
t1=(10,20,30,10,30,20,10,50,10,30,20,60,50)
print(t1,type(t1))
max(t1)
max(t1,key=t1.count)

(10, 20, 30, 10, 30, 20, 10, 50, 10, 30, 20, 60, 50) <class 'tuple'>

10

In [102]:
print(min(t1))
print(max(t1))

10
60

In [103]:
#total tuple can be removed but you cannot removed individually

In [104]:
#process to sort the data in tuple

In [105]:
t1=(10,-3,5,7,50,20,25,-1,0,100)
lst=list(t1)
print(lst)

[10, -3, 5, 7, 50, 20, 25, -1, 0, 100]

In [106]:
lst.sort()
print(lst,type(lst))

[-3, -1, 0, 5, 7, 10, 20, 25, 50, 100] <class 'list'>

In [107]:
t2=tuple(lst)
print(t2,type(t2))

(-3, -1, 0, 5, 7, 10, 20, 25, 50, 100) <class 'tuple'>

In [110]:
#another

In [108]:

t1=(10,-3,5,7,50,20,25,-1,0,100)
x=sorted(t1)
print(x,type(x))

[-3, -1, 0, 5, 7, 10, 20, 25, 50, 100] <class 'list'>

In [109]:
x[::-1]

[100, 50, 25, 20, 10, 7, 5, 0, -1, -3]

In [111]:
x=tuple(sorted(t1))
print(x,type(x))

(-3, -1, 0, 5, 7, 10, 20, 25, 50, 100) <class 'tuple'>