# Pandas
- why do we nned panadas ?
- it is fast , flexible and powerful data mining library , pandas is the most crucial module for applying data science using python 

- *********************
- Advantage of pandas:-
    - easy import and export into tabular formaty data structures like dataframe
    - routing( function and method ) for manipulation
    - easy handling of missing data
    - data set cleaning , merging and joining.
    - reshaping data set .
    column can be inserted ,deleted and updated from dataframe and higher dimension object.
    - time series based data manipulation and analysis API
    - group by functionality to perform split apply combine operation.
    - well integrated with other library  like numpy and and matplotlib.
    - data produce by pandas are often used as data visualisation.

In [ ]:
"""  
  data structure used in pandas:-
  1. series
  2. data frame
  3. panel
"""

# series
    - it is 1D array , it is capable of storing same type  + diffrent type and all types and internally treated as same type as object.
    - all values in series contain by default indices (row indices {start from 0 to n-1 here n represent number of values})
    - programtically , we can give programmer defined indices for values of series instead of default indices.
    - series object are "mutable" objects.
    - series data can be accessed either w.r.t indices (axis) or  programmer defined indices called (label).
    - on series object we can perform indexing and slicing operations.

******************************
- number of approaches to create an object of series:-
    - varname = pandas.Series(object,index,dtype)

In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [2]:
# creating an object of series
# syntax varname = pandas.Series(object,index,dtype

In [4]:
a=100
print(a,type(a))

100 <class 'int'>

In [5]:
s=pd.Series(a)
print(s,type(s))

0    100
dtype: int64 <class 'pandas.core.series.Series'>

In [7]:
s=pd.Series(10.15)
print(s,type(s))

0    10.15
dtype: float64 <class 'pandas.core.series.Series'>

In [9]:
fo=12.34
s=pd.Series(fo)
print(s,type(s))

0    12.34
dtype: float64 <class 'pandas.core.series.Series'>

In [10]:
fo=False
s=pd.Series(fo)
print(s,type(s))

0    False
dtype: bool <class 'pandas.core.series.Series'>

In [12]:
fo=12.34+5j
s=pd.Series(fo)
print(s,type(s))

0    12.34+ 5.00j
dtype: complex128 <class 'pandas.core.series.Series'>

In [13]:
a=100
s=pd.Series(a,dtype=float)
print(s,type(s))

0    100.0
dtype: float64 <class 'pandas.core.series.Series'>

In [14]:
s1="python"
s=pd.Series(s1)
print(s,type(s1))

0    python
dtype: object <class 'str'>

In [16]:
# creating a series object by using range
r=range(6)
s=pd.Series(r)
print(s,type(s))

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64 <class 'pandas.core.series.Series'>

In [22]:
# creating a series object by using range with default indices
r=range(6)
s=pd.Series(r,index=[1,2,3,4,5,6])
print(s,type(s))

1    0
2    1
3    2
4    3
5    4
6    5
dtype: int64 <class 'pandas.core.series.Series'>

In [23]:
# creating a series object by using range with default indices
r=range(6)
s=pd.Series(r,index=["id1", "id2", "id3", "id4","id5","id6"])
print(s,type(s))

id1    0
id2    1
id3    2
id4    3
id5    4
id6    5
dtype: int64 <class 'pandas.core.series.Series'>

In [27]:
s["id1"]

np.int64(0)

In [28]:
s["id5"]

np.int64(4)

In [ ]:
# keyerror - because no default indices present when we give programmer defined int indices.

In [30]:
# creating a series of object by using list/tuple with default indices
lst=[10,20,30,40,50,60]
s=pd.Series(lst)
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64 <class 'pandas.core.series.Series'>

In [33]:
# creating a series of object by using list/tuple with default indices
lst=[10,20,30,40,50,60]
s=pd.Series(lst,index=[1,2,3,4,5,6],dtype=float)
print(s,type(s))

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
dtype: float64 <class 'pandas.core.series.Series'>

In [34]:
# creating a series of object by using list/tuple with default indices
lst=[10,20,30,40,50,60]
s=pd.Series(lst,index=[int(x) for x in range(1,7)],dtype=float)
print(s,type(s))

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
dtype: float64 <class 'pandas.core.series.Series'>

In [36]:
# creating a series of object by using list/tuple with default indices
lst=[10,20,30,40,50,60]
s=pd.Series(lst,index=["id" + str(int(x)) for x in range(1,7)],dtype=float)
print(s,type(s))

id1    10.0
id2    20.0
id3    30.0
id4    40.0
id5    50.0
id6    60.0
dtype: float64 <class 'pandas.core.series.Series'>

In [37]:
# creating a series of object by using list/tuple with default indices
tpl=(10,20,30,40,50,60)
s=pd.Series(lst,index=["id" + str(int(x)) for x in range(1,7)],dtype=float)
print(s,type(s))

id1    10.0
id2    20.0
id3    30.0
id4    40.0
id5    50.0
id6    60.0
dtype: float64 <class 'pandas.core.series.Series'>

In [39]:
# creating a series of object by using set with default indices
# set does not maintain insertion order
s1={10,20,30,40,50,60}
print(s1,type(s1))

{50, 20, 40, 10, 60, 30} <class 'set'>

In [44]:
# creating a series of object by using set with default indices
# set does not maintain insertion order
s1={10,20,30,40,50,60}
print(s1,type(s1))
print(50*"*")
s=pd.Series(s1)
print(s,type(s))

{50, 20, 40, 10, 60, 30} <class 'set'>
**************************************************

TypeError: 'set' type is unordered

In [46]:
# in pandas set is not possible if you want then convert it into list/tuple

In [47]:
# creating a series of object by using dict  
d1={10:"python",20:"django",30:"ml",40:"dl"}
print(d1,type(d1))

{10: 'python', 20: 'django', 30: 'ml', 40: 'dl'} <class 'dict'>

In [48]:
s=pd.Series(d1)
print(s,type(s))

10    python
20    django
30        ml
40        dl
dtype: object <class 'pandas.core.series.Series'>

In [49]:
s[10]

'python'

In [51]:
s[20]

'django'

In [52]:
s[10:30]

Series([], dtype: object)

In [53]:
#empty series is created

In [54]:
d={"crs1":["python","django","data science"],"crs2":["java","hibernet","spring"]}

In [55]:
for key,value in d.items():
    print("{}-->{}".format(key,value))

crs1-->['python', 'django', 'data science']
crs2-->['java', 'hibernet', 'spring']

In [56]:
s=pd.Series(d)
print(s)

crs1    [python, django, data science]
crs2          [java, hibernet, spring]
dtype: object

In [57]:
s["crs1"]

['python', 'django', 'data science']

In [58]:
s[1]

C:\Users\deepa\AppData\Local\Temp\ipykernel_4872\878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

['java', 'hibernet', 'spring']

In [60]:
import numpy as np
a=np.array((100,200,300,400,500))
print(a)
print(20*"-")
s=pd.Series(a)
print(s)

[100 200 300 400 500]
--------------------
0    100
1    200
2    300
3    400
4    500
dtype: int64

In [64]:
a=np.array((100,200,300,400,500))
print(a)
s=pd.Series(a,index=["id" +str(int(x)) for x in range(1,len(a)+1)],dtype=float)

[100 200 300 400 500]