In [1]:
# pandas --> loc and iloc

"""  
loc and iloc uses square bracket
-> present in both in series and  dataframes object.
-> 
-----------------------
=>loc[] is used for slicing the data either on the basis row index and column index.
=> loc[] always take row index and column names only (never take column index)
syntax: dataFrameObj.loc[]
dataFrameObj.loc[row_number]
dataFrameObj.loc[row_number,[col name,..]]
dataFrameObj.loc[start:stop:step,[col name]]


"""

'  \nloc and iloc uses square bracket\n-> present in both in series and  dataframes object.\n-> \n-----------------------\n=>loc[] is used for slicing the data either on the basis row index and column index.\n=> loc[] always take row index and column names only (never take column index)\nsyntax: dataFrameObj.loc[]\ndataFrameObj.loc[row_number]\ndataFrameObj.loc[row_number,[col name,..]]\ndataFrameObj.loc[start:stop:step,[col name]]\n\n\n'

In [2]:
# info() - it is a pre defined function in series and dataframe object and the gives the following information

In [3]:
import pandas as pd
import numpy as np
# get the data from student.csv into dataframe
df= pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\student-dataset.csv")
print("="*50)
print(df)
print("="*50)

==================================================
      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]
==================================================

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB

In [5]:
df.loc[3,["name","nationality"]]

name                    Natasha Yarusso
nationality    United States of America
Name: 3, dtype: object

In [6]:
#syntax
#dataFrameObj.loc[row_number,[colName1,colName2..]]

In [7]:
df.loc[3:7]

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5
5,5,Rochelle Johnson,United States of America,Indianapolis,39.77,-86.16,F,NaN,21,3.4,3.1,3.7,5.0,2,4.0,4
6,6,Joey Abreu,China,Shenyang,41.79,123.43,M,NaN,22,3.7,3.9,3.6,2.0,5,5.0,5
7,7,Preston Suarez,Brazil,São Paulo,-23.47,-46.67,M,NaN,22,3.8,3.7,3.6,2.0,5,5.0,4

In [8]:
#iloc[]
"""  
=>iloc[] is used for slicing the data either on the basis rows(Index) and column(columns)
=>iloc[] always takes row indeces and never takes column indecs
=>
"""

'  \n=>iloc[] is used for slicing the data either on the basis rows(Index) and column(columns)\n=>iloc[] always takes row indeces and never takes column indecs\n=>\n'

In [9]:
#syntax:
#dataFrameObj.iloc[row_number,[ColNumber1,colNumber2,..]]

#dataFrameObj.iloc[rowStart:rowStop:rowStep,colStart:colStop:colStep]

In [10]:
#get the 7th records
df1=df.iloc[7]
df1

id                                 7
name                  Preston Suarez
nationality                   Brazil
city                       São Paulo
latitude                      -23.47
longitude                     -46.67
gender                             M
ethnic.group                     NaN
age                               22
english.grade                    3.8
math.grade                       3.7
sciences.grade                   3.6
language.grade                   2.0
portfolio.rating                   5
coverletter.rating               5.0
refletter.rating                   4
Name: 7, dtype: object

In [11]:
# get the first name
y=df1["name"][:7]
y

'Preston'

In [12]:
df.iloc[3:10,[1,3]]["name"]

3     Natasha Yarusso
4      Brooke Cazares
5    Rochelle Johnson
6          Joey Abreu
7      Preston Suarez
8            Lee Dong
9       Maa'iz al-Dia
Name: name, dtype: object

In [13]:
## Check missing values
df.isnull().sum()

id                      0
name                    0
nationality             0
city                    0
latitude                0
longitude               0
gender                  0
ethnic.group          307
age                     0
english.grade           0
math.grade              0
sciences.grade          0
language.grade          0
portfolio.rating        0
coverletter.rating      0
refletter.rating        0
dtype: int64