# data frame
- dataframe is one of the class and whose object allows us to store the data in tabular format or 2d format and we can perform data analysis.
- data frame is one of the 2 dimension label array capable of storing similar type or diffrent type or both type in single object.
- even we store multiple value of diffrent type internally those value are treated as object .
- dataframe=data set + indices + columns 
- data set represent the collection of values and they may contain same type or diffrent type
- indices represent row indices , whose indices by default start from 0 to N-1, here N is the number of rows.
- the default rows indices can be assigned by programmer accordinng to programmer choice.
- column represent column indices , whose default start from 0 to M-1 here M is the number of columns.
- an objectof dataframe is "Mutable"  we can perform many operation at same address.

In [2]:
# number of approaches to create an object of dataframe:-

"""  

syntax:- 

varname= pandas.DataFrame(object,index,columns,dtype)

"""

'  \n\nsyntax:- \n\nvarname= pandas.DataFrame(object,index,columns,dtype)\n\n'

In [3]:
import pandas as pd

In [4]:
a=10
print(a,type(a))

10 <class 'int'>

In [5]:
a=10

df=pd.DataFrame(a)
print(df)

ValueError: DataFrame constructor not properly called!

In [ ]:
# note :
""" 
- therefore above is ValueError
-for single value there is no meaning for creating dataset. 
-single value cannot be created as dimension
"""

' \n- therefore above is ValueError\n-for single value there is no meaning for creating dataset. \n-single value cannot be created as dimension\n'

In [ ]:
a=10.12

df=pd.DataFrame(a)
print(df)

ValueError: DataFrame constructor not properly called!

In [ ]:
a="python"

df=pd.DataFrame(a)
print(df)

ValueError: DataFrame constructor not properly called!

In [ ]:
# ValueError

In [ ]:
# how to create an object with single valued object (int,float,bool,complex,str)

# to convert single valued --> object in list type

In [ ]:
a=1000
# here a is a int single value
# convert it into list 
lst=list([a])
print(lst)

[1000]

In [ ]:
# convert it into dataframe
a=1000
# here a is a int single value
# convert it into list 
lst=list([a])
print(lst)
df=pd.DataFrame(lst)
print(df)

[1000]
      0
0  1000

In [ ]:
s="python"
lst=list(s)
print(lst)
df=pd.DataFrame(lst)
print(df)

['p', 'y', 't', 'h', 'o', 'n']
   0
0  p
1  y
2  t
3  h
4  o
5  n

In [ ]:
# convert the lsit into dataframe
lst =[100,"rossum","travis",32.22,"hunter"]
print(lst)
df=pd.DataFrame(lst)
print(df)
print(type(df))

[100, 'rossum', 'travis', 32.22, 'hunter']
        0
0     100
1  rossum
2  travis
3   32.22
4  hunter
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# convert the lsit into dataframe
lst =[100,"rossum","travis",32.22,"hunter",[10,20,30]]
print(lst)
df=pd.DataFrame(lst)
print(df)
print(type(df))

[100, 'rossum', 'travis', 32.22, 'hunter', [10, 20, 30]]
              0
0           100
1        rossum
2        travis
3         32.22
4        hunter
5  [10, 20, 30]
<class 'pandas.core.frame.DataFrame'>

In [ ]:
lst=[[10,20,30],["rossum","travis","hunter"]]
print(lst)
print(50*"-")
df=pd.DataFrame(lst,columns=["id","name","famous"])
print(df)

[[10, 20, 30], ['rossum', 'travis', 'hunter']]
--------------------------------------------------
       id    name  famous
0      10      20      30
1  rossum  travis  hunter

In [ ]:
# convert list value into dataframe

lst=[[10,"rs"],[20,"ts"],[30,"hs"]]
print(lst)
print(50*"-")
df=pd.DataFrame(lst,index=["row1","row2","row3"],columns=["id","name"])
print(df)

[[10, 'rs'], [20, 'ts'], [30, 'hs']]
--------------------------------------------------
      id name
row1  10   rs
row2  20   ts
row3  30   hs

In [ ]:
# convert tuple value into dataframe

lst=([10,"rs"],[20,"ts"],[30,"hs"])
print(lst)
print(50*"-")
df=pd.DataFrame(lst,index=["row1","row2","row3"],columns=["id","name"])
print(df)

([10, 'rs'], [20, 'ts'], [30, 'hs'])
--------------------------------------------------
      id name
row1  10   rs
row2  20   ts
row3  30   hs

In [ ]:
# convert tuple value into dataframe

lst=((10,"rs"),(20,"ts"),(30,"hs"))
print(lst)
print(50*"-")
df=pd.DataFrame(lst,index=["row1","row2","row3"],columns=["id","name"])
print(df)

((10, 'rs'), (20, 'ts'), (30, 'hs'))
--------------------------------------------------
      id name
row1  10   rs
row2  20   ts
row3  30   hs

In [ ]:
# set
st={10,20,30,40,50}
print(st)
df=pd.DataFrame(st)
print(df)

{50, 20, 40, 10, 30}
    0
0  50
1  20
2  40
3  10
4  30

In [ ]:
#dictionary
d={100:"rs",200:"ts",300:"hs"}
print(d)

{100: 'rs', 200: 'ts', 300: 'hs'}

In [ ]:
d={"sub1":["pyhton","javascript","datascience"],"sub2":["html","css","react"],"sub3":["oracle","sql","mongodb"]}

print(d,type(d))

{'sub1': ['pyhton', 'javascript', 'datascience'], 'sub2': ['html', 'css', 'react'], 'sub3': ['oracle', 'sql', 'mongodb']} <class 'dict'>

In [ ]:
for key, value in d.items():
    print(key,"->",value)

sub1 -> ['pyhton', 'javascript', 'datascience']
sub2 -> ['html', 'css', 'react']
sub3 -> ['oracle', 'sql', 'mongodb']

In [ ]:
d={"sub1":["pyhton","javascript","datascience"],"sub2":["html","css","react"],"sub3":["oracle","sql","mongodb"]}

print(d,type(d))

df=pd.DataFrame(d)
print(df,type(df))

{'sub1': ['pyhton', 'javascript', 'datascience'], 'sub2': ['html', 'css', 'react'], 'sub3': ['oracle', 'sql', 'mongodb']} <class 'dict'>
          sub1   sub2     sub3
0       pyhton   html   oracle
1   javascript    css      sql
2  datascience  react  mongodb <class 'pandas.core.frame.DataFrame'>

In [ ]:
d={"sub1":["pyhton","javascript","datascience"],"sub2":["html","css","react"],"sub3":["oracle","sql","mongodb"]}

print(d,type(d))

df=pd.DataFrame(d,index=["level1","level2","level3"])
print(df,type(df))

{'sub1': ['pyhton', 'javascript', 'datascience'], 'sub2': ['html', 'css', 'react'], 'sub3': ['oracle', 'sql', 'mongodb']} <class 'dict'>
               sub1   sub2     sub3
level1       pyhton   html   oracle
level2   javascript    css      sql
level3  datascience  react  mongodb <class 'pandas.core.frame.DataFrame'>

In [ ]:
# creating dataframe object by using dict
d={10:"python",20:"java",30:"c",40:"c++"}
print(d)
print(50*"-")
df=pd.DataFrame(d)
print(df,type(df))

{10: 'python', 20: 'java', 30: 'c', 40: 'c++'}
--------------------------------------------------

ValueError: If using all scalar values, you must pass an index

In [ ]:
# you will get the value error 
# since you are passing the single value in dict
# for removing error you need to provide the index

In [ ]:
# creating dataframe object by using dict
d={10:"python",20:"java",30:"c",40:"c++"}
print(d)
print(50*"-")
df=pd.DataFrame(d,index=["course"])
print(df,type(df))

{10: 'python', 20: 'java', 30: 'c', 40: 'c++'}
--------------------------------------------------
            10    20 30   40
course  python  java  c  c++ <class 'pandas.core.frame.DataFrame'>

In [ ]:
import numpy as np
# creating nd array object
d={"sub1":["pyhton","javascript","datascience"],"sub2":["html","css","react"],"sub3":["oracle","sql","mongodb"]}

print(d,type(d))

a=np.array(d)
print(a,type(a))
print(a.ndim)

{'sub1': ['pyhton', 'javascript', 'datascience'], 'sub2': ['html', 'css', 'react'], 'sub3': ['oracle', 'sql', 'mongodb']} <class 'dict'>
{'sub1': ['pyhton', 'javascript', 'datascience'], 'sub2': ['html', 'css', 'react'], 'sub3': ['oracle', 'sql', 'mongodb']} <class 'numpy.ndarray'>
0

In [ ]:
# creating dataframe obejct using dict
d={"sub1":["pyhton","javascript","datascience"],"sub2":["html","css","react"],"sub3":["oracle","sql","mongodb"]}
a=np.array(d)
print(a,type(a))
print(a.ndim)
df=pd.DataFrame(a)
print(df,type(df))

{'sub1': ['pyhton', 'javascript', 'datascience'], 'sub2': ['html', 'css', 'react'], 'sub3': ['oracle', 'sql', 'mongodb']} <class 'numpy.ndarray'>
0

ValueError: Must pass 2-d input. shape=()

In [ ]:
# you will get the value error 
# to make txt file to csv file ["fileName.csv"] it must be contain with in the double quoted string

In [7]:
# create an object of dataframe by using csv file
#syntax
""" 
dataframeObj=pandas.read_csv("absolute path of csv with double slash")
"""
df=pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\student.csv")
print(df)

   sno   sname  marks
0  100  rossum  45.67
1  200  travis  56.87
2  300  hunter  66.10

In [8]:
df.set_index("sno")

      sname  marks
sno
100  rossum  45.67
200  travis  56.87
300  hunter  66.10