# attribute of Series object
    - name of pandas series object
    - get all values of series as a list
    - get count of number of element in series
    - check if series is empty or not
    - get first n element of pandas series
    - get last n element of pandas series
    - get the count of non NaN value
    --------------------------------
    # add and remove series element
    - adding / merging series together
    - subtracting two series
    - deleting element from series
    - get sum of all values in the series
    - get the max values in the series

In [2]:
import numpy as np
import pandas as pd

In [5]:
import pandas as pd
names = pd.Series(["dori","itty","dhurvi","geet"],index=["a","b","c","d"])
print(names)

a      dori
b      itty
c    dhurvi
d      geet
dtype: object

In [6]:
print(names.values)

['dori' 'itty' 'dhurvi' 'geet']

In [8]:
lst=list(names.values)
print(lst)

['dori', 'itty', 'dhurvi', 'geet']

In [16]:
import numpy as np
print("type of NaN=",type(np.NaN))

AttributeError: `np.NaN` was removed in the NumPy 2.0 release. Use `np.nan` instead.

In [ ]:
# missing number in pandas are represented by NaN

In [17]:
a=np.array([10,20,None,30,40,True])
print(a)

[10 20 None 30 40 True]

In [18]:
s=pd.Series(a)
print(s)

0      10
1      20
2    None
3      30
4      40
5    True
dtype: object

In [19]:
print(s.count())

5

In [21]:
s1=pd.Series(["dori","itty","dhurvi","geet",10,20,30,False,None],name="students")
print(s1)

0      dori
1      itty
2    dhurvi
3      geet
4        10
5        20
6        30
7     False
8      None
Name: students, dtype: object

In [ ]:
# get the first n element in pandas series --- we use head() of series object.

In [23]:
s1=pd.Series(range(10,200,5))
print(s1)

0      10
1      15
2      20
3      25
4      30
5      35
6      40
7      45
8      50
9      55
10     60
11     65
12     70
13     75
14     80
15     85
16     90
17     95
18    100
19    105
20    110
21    115
22    120
23    125
24    130
25    135
26    140
27    145
28    150
29    155
30    160
31    165
32    170
33    175
34    180
35    185
36    190
37    195
dtype: int64

In [24]:
print(s1.head())

0    10
1    15
2    20
3    25
4    30
dtype: int64

In [ ]:
print(len(s1))

38

In [26]:
#get first three elements in pandas series
print(s1.head(3))

0    10
1    15
2    20
dtype: int64

In [27]:
# to get last 10 value we use tail() of series object
print(s1.tail())

33    175
34    180
35    185
36    190
37    195
dtype: int64

In [28]:
print(s1.tail(10))

28    150
29    155
30    160
31    165
32    170
33    175
34    180
35    185
36    190
37    195
dtype: int64

In [29]:
# another method to get first 5
s1[0:5]

0    10
1    15
2    20
3    25
4    30
dtype: int64

In [30]:
# another method to get last 5
s1[-5:]

33    175
34    180
35    185
36    190
37    195
dtype: int64

In [31]:
# add and remove series element
# to add the element of one series object to another we use a function add()

#syntax: varname=serobj1.add(serobj2,fill_value=None)

In [38]:
# to add a series element
s1=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
s2=pd.Series([10,20,30,40],index=["a","b","g","e"])
res=s1.add(s2)
print(res)

a    110.0
b    220.0
c      NaN
d      NaN
e    540.0
g      NaN
dtype: float64

In [39]:
# fill NaN with other value 
s1=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
s2=pd.Series([10,20,30,40],index=["a","b","g","e"])
res=s1.add(s2,fill_value=0)
print(res)

a    110.0
b    220.0
c    300.0
d    400.0
e    540.0
g     30.0
dtype: float64

In [40]:
# to subtract a series element
s1=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
s2=pd.Series([10,20,30,40],index=["a","b","g","e"])
res=s1.subtract(s2)
print(res)

a     90.0
b    180.0
c      NaN
d      NaN
e    460.0
g      NaN
dtype: float64

In [41]:
# to subtract a series element
s1=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
s2=pd.Series([10,20,30,40],index=["a","b","g","e"])
res=s1.subtract(s2,fill_value=0)
print(res)

a     90.0
b    180.0
c    300.0
d    400.0
e    460.0
g    -30.0
dtype: float64

In [42]:
# to multiply a series element
s1=pd.Series([100,200,300,400,500],index=["a","b","c","d","e"])
s2=pd.Series([10,20,30,40],index=["a","b","g","e"])
res=s1.multiply(s2)
print(res)

a     1000.0
b     4000.0
c        NaN
d        NaN
e    20000.0
g        NaN
dtype: float64

In [45]:
# to delete c
res=s1.drop("c")
print(res)

a    100
b    200
d    400
e    500
dtype: int64

In [46]:
print(s1)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [47]:
# note s1 is not modified