In [12]:
import pandas as pd
import numpy as np

In [13]:
d={"id":[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,310,320,330],"name":["dhurvi","itty","deepak","dori","lovely","pragati","shayam","sandeep","sangeeta","usha","mahadeo","prem","bablu","harish","harshit","anand","rishita","parwati","jagdish","karan","sanoj","anushkha","daleshwar","kishor","horil","rajesh","chander","badri","parmeshwar","ramu","mahendra","jagdish","ramapati"],"city":["delhi","delhi","mumbai","mumbai","pune","pune","pune","ranchi","kolkatta","pune","orrisa","chennai","haryana","chandigarh","ludhiyana","amritsar","patna","guahati","chennai","kolkatta","orrisa","chennai","haryana","chandigarh","ludhiyana","amritsar","patna","guahati","chennai","kolkatta","delhi","mumbai","banglore"],"designation":["tl","se","se","pm","hr","hr","tl","pm","hr","se","tl","tl","se","se","pm","hr","hr","tl","pm","hr","se","tl","tl","se","se","pm","hr","hr","tl","pm","hr","se","tl"]}

df=pd.DataFrame(d)
print(df)
df.to_csv("D:\\clone\\DataAnalyst_DPK\\files\\workingPeople.csv")

     id        name        city designation
0    10      dhurvi       delhi          tl
1    20        itty       delhi          se
2    30      deepak      mumbai          se
3    40        dori      mumbai          pm
4    50      lovely        pune          hr
5    60     pragati        pune          hr
6    70      shayam        pune          tl
7    80     sandeep      ranchi          pm
8    90    sangeeta    kolkatta          hr
9   100        usha        pune          se
10  110     mahadeo      orrisa          tl
11  120        prem     chennai          tl
12  130       bablu     haryana          se
13  140      harish  chandigarh          se
14  150     harshit   ludhiyana          pm
15  160       anand    amritsar          hr
16  170     rishita       patna          hr
17  180     parwati     guahati          tl
18  190     jagdish     chennai          pm
19  200       karan    kolkatta          hr
20  210       sanoj      orrisa          se
21  220    anushkha     chennai          tl
22  230   daleshwar     haryana          tl
23  240      kishor  chandigarh          se
24  250       horil   ludhiyana          se
25  260      rajesh    amritsar          pm
26  270     chander       patna          hr
27  280       badri     guahati          hr
28  290  parmeshwar     chennai          tl
29  300        ramu    kolkatta          pm
30  310    mahendra       delhi          hr
31  320     jagdish      mumbai          se
32  330    ramapati    banglore          tl

In [14]:
for record in df.iterrows():
    print(record)

(0, id                 10
name           dhurvi
city            delhi
designation        tl
Name: 0, dtype: object)
(1, id                20
name            itty
city           delhi
designation       se
Name: 1, dtype: object)
(2, id                 30
name           deepak
city           mumbai
designation        se
Name: 2, dtype: object)
(3, id                 40
name             dori
city           mumbai
designation        pm
Name: 3, dtype: object)
(4, id                 50
name           lovely
city             pune
designation        hr
Name: 4, dtype: object)
(5, id                  60
name           pragati
city              pune
designation         hr
Name: 5, dtype: object)
(6, id                 70
name           shayam
city             pune
designation        tl
Name: 6, dtype: object)
(7, id                  80
name           sandeep
city            ranchi
designation         pm
Name: 7, dtype: object)
(8, id                   90
name           sangeeta
city           kolkatta
designation          hr
Name: 8, dtype: object)
(9, id              100
name           usha
city           pune
designation      se
Name: 9, dtype: object)
(10, id                 110
name           mahadeo
city            orrisa
designation         tl
Name: 10, dtype: object)
(11, id                 120
name              prem
city           chennai
designation         tl
Name: 11, dtype: object)
(12, id                 130
name             bablu
city           haryana
designation         se
Name: 12, dtype: object)
(13, id                    140
name               harish
city           chandigarh
designation            se
Name: 13, dtype: object)
(14, id                   150
name             harshit
city           ludhiyana
designation           pm
Name: 14, dtype: object)
(15, id                  160
name              anand
city           amritsar
designation          hr
Name: 15, dtype: object)
(16, id                 170
name           rishita
city             patna
designation         hr
Name: 16, dtype: object)
(17, id                 180
name           parwati
city           guahati
designation         tl
Name: 17, dtype: object)
(18, id                 190
name           jagdish
city           chennai
designation         pm
Name: 18, dtype: object)
(19, id                  200
name              karan
city           kolkatta
designation          hr
Name: 19, dtype: object)
(20, id                210
name            sanoj
city           orrisa
designation        se
Name: 20, dtype: object)
(21, id                  220
name           anushkha
city            chennai
designation          tl
Name: 21, dtype: object)
(22, id                   230
name           daleshwar
city             haryana
designation           tl
Name: 22, dtype: object)
(23, id                    240
name               kishor
city           chandigarh
designation            se
Name: 23, dtype: object)
(24, id                   250
name               horil
city           ludhiyana
designation           se
Name: 24, dtype: object)
(25, id                  260
name             rajesh
city           amritsar
designation          pm
Name: 25, dtype: object)
(26, id                 270
name           chander
city             patna
designation         hr
Name: 26, dtype: object)
(27, id                 280
name             badri
city           guahati
designation         hr
Name: 27, dtype: object)
(28, id                    290
name           parmeshwar
city              chennai
designation            tl
Name: 28, dtype: object)
(29, id                  300
name               ramu
city           kolkatta
designation          pm
Name: 29, dtype: object)
(30, id                  310
name           mahendra
city              delhi
designation          hr
Name: 30, dtype: object)
(31, id                 320
name           jagdish
city            mumbai
designation         se
Name: 31, dtype: object)
(32, id                  330
name           ramapati
city           banglore
designation          tl
Name: 32, dtype: object)

In [15]:
print(df)

     id        name        city designation
0    10      dhurvi       delhi          tl
1    20        itty       delhi          se
2    30      deepak      mumbai          se
3    40        dori      mumbai          pm
4    50      lovely        pune          hr
5    60     pragati        pune          hr
6    70      shayam        pune          tl
7    80     sandeep      ranchi          pm
8    90    sangeeta    kolkatta          hr
9   100        usha        pune          se
10  110     mahadeo      orrisa          tl
11  120        prem     chennai          tl
12  130       bablu     haryana          se
13  140      harish  chandigarh          se
14  150     harshit   ludhiyana          pm
15  160       anand    amritsar          hr
16  170     rishita       patna          hr
17  180     parwati     guahati          tl
18  190     jagdish     chennai          pm
19  200       karan    kolkatta          hr
20  210       sanoj      orrisa          se
21  220    anushkha     chennai          tl
22  230   daleshwar     haryana          tl
23  240      kishor  chandigarh          se
24  250       horil   ludhiyana          se
25  260      rajesh    amritsar          pm
26  270     chander       patna          hr
27  280       badri     guahati          hr
28  290  parmeshwar     chennai          tl
29  300        ramu    kolkatta          pm
30  310    mahendra       delhi          hr
31  320     jagdish      mumbai          se
32  330    ramapati    banglore          tl

In [16]:
# based on index
df.shape

(33, 4)

In [17]:
print("number of rows=",df.shape[0])

number of rows= 33

In [18]:
# for columns
for i in range(df.shape[1]):
    print(df.iloc[:,i])
    print("____________________")

0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9     100
10    110
11    120
12    130
13    140
14    150
15    160
16    170
17    180
18    190
19    200
20    210
21    220
22    230
23    240
24    250
25    260
26    270
27    280
28    290
29    300
30    310
31    320
32    330
Name: id, dtype: int64
____________________
0         dhurvi
1           itty
2         deepak
3           dori
4         lovely
5        pragati
6         shayam
7        sandeep
8       sangeeta
9           usha
10       mahadeo
11          prem
12         bablu
13        harish
14       harshit
15         anand
16       rishita
17       parwati
18       jagdish
19         karan
20         sanoj
21      anushkha
22     daleshwar
23        kishor
24         horil
25        rajesh
26       chander
27         badri
28    parmeshwar
29          ramu
30      mahendra
31       jagdish
32      ramapati
Name: name, dtype: object
____________________
0          delhi
1          delhi
2         mumbai
3         mumbai
4           pune
5           pune
6           pune
7         ranchi
8       kolkatta
9           pune
10        orrisa
11       chennai
12       haryana
13    chandigarh
14     ludhiyana
15      amritsar
16         patna
17       guahati
18       chennai
19      kolkatta
20        orrisa
21       chennai
22       haryana
23    chandigarh
24     ludhiyana
25      amritsar
26         patna
27       guahati
28       chennai
29      kolkatta
30         delhi
31        mumbai
32      banglore
Name: city, dtype: object
____________________
0     tl
1     se
2     se
3     pm
4     hr
5     hr
6     tl
7     pm
8     hr
9     se
10    tl
11    tl
12    se
13    se
14    pm
15    hr
16    hr
17    tl
18    pm
19    hr
20    se
21    tl
22    tl
23    se
24    se
25    pm
26    hr
27    hr
28    tl
29    pm
30    hr
31    se
32    tl
Name: designation, dtype: object
____________________

In [19]:
df.columns

Index(['id', 'name', 'city', 'designation'], dtype='object')

In [20]:
df.columns[::-1]

Index(['designation', 'city', 'name', 'id'], dtype='object')

# iterate the over rows and columns  of dataframe
- 1. iterate over rows of dataframe by index labels
- iterrows()
- 2. iterate over rows of dataframe by index position
- df.shape[0]
- 3. iterate over rows of dataframe by columns names
- df.columns
- 4. iterate over rows of dataframe by columns numbers
- df.shape[1]

In [21]:
#for (index_label,index_series) in df.iterrows():
 #   print(index_label)
 #   print(index_series)
#    print("____________________")

# ITERATE OVER SEQUENCE OF COLUMNS

In [22]:
#df.columns
# df.shape

In [ ]:
# pandas merging dataframe
# dfNew = pd.concat([firstDF,secondDF,thirdDF])
# print(dfNew)
# must have same number of columns

In [24]:
# transpose dataframe
# transposeData=df.T