In [1]:
import numpy as np
import pandas as pd

In [3]:
# get the data
df=pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\Modifiedemp.csv")
print(df)

   Unnamed: 0  sno     name   sal  comm         com  totalSal
0           0  100   rossum  8000    80         psf      8080
1           1  200   travis  3500    35       numpy      3535
2           2  300   kinney  4000    65      pandas      4065
3           3  400  brendam  6000    50  javascript      6050
4           4  500    rohit  5000    80       react      5080
5           5  600   hunter  5500    90        next      5590

# Data filtering an Updation on DataFrame object

In [4]:
# conditional based updation

In [5]:
df.columns

Index(['Unnamed: 0', 'sno', 'name', 'sal', 'comm', 'com', 'totalSal'], dtype='object')

In [6]:
df.loc[df["com"]=="psf"]

   Unnamed: 0  sno    name   sal  comm  com  totalSal
0           0  100  rossum  8000    80  psf      8080

In [7]:
#to get only names
df.loc[df["com"]=="psf"]["name"]

0    rossum
Name: name, dtype: object

In [8]:
# count the number of people
len(df.loc[df["com"]=="psf"]["name"])

1

In [10]:
# update "psf" as "python software foundation"
df.loc[df["com"]=="psf",["com"]]="python software foundation"
print(df)

   Unnamed: 0  sno     name   sal  comm                         com  totalSal
0           0  100   rossum  8000    80  python software foundation      8080
1           1  200   travis  3500    35                       numpy      3535
2           2  300   kinney  4000    65                      pandas      4065
3           3  400  brendam  6000    50                  javascript      6050
4           4  500    rohit  5000    80                       react      5080
5           5  600   hunter  5500    90                        next      5590

In [13]:
# pick the person who have commision 80

df.loc[(df["name"]=="rohit") & (df["comm"]==80)]

   Unnamed: 0  sno   name   sal  comm    com  totalSal
4           4  500  rohit  5000    80  react      5080

In [ ]:
#syntax
# dataframeObj.loc[(compound condition),["col name","colname2",..]]=expression

In [ ]:
# give the grading 
# 100-75 distinction
# 75-65 first
# 65-55 second
# <60 third

In [15]:
# get the data
df=pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\student-dataset.csv")
print(df)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]

In [16]:
df.columns

Index(['id', 'name', 'nationality', 'city', 'latitude', 'longitude', 'gender',
       'ethnic.group', 'age', 'english.grade', 'math.grade', 'sciences.grade',
       'language.grade', 'portfolio.rating', 'coverletter.rating',
       'refletter.rating'],
      dtype='object')

In [17]:
df["english.grade"]

0      3.5
1      2.9
2      3.9
3      3.3
4      3.7
      ...
302    3.6
303    3.6
304    3.2
305    3.0
306    3.8
Name: english.grade, Length: 307, dtype: float64

In [ ]:
# 1.5 lec31
# df.loc[((df["percent"]>=60) & (df["percent"]<65)),["grade"]]="second"
# print(df)