# Pandas - groupby()

In [19]:
# syntax:-
# DataFrameObj.groupby("colName")

In [1]:
# varName=DataFrameObj.groupby("colName")

In [2]:
# example on groupby

In [3]:
# get the people data with state wise
#grp_people=df.groupby("state")

In [4]:
# using the for loop
# for gname,ginfo in grp_people:
#     print(gname)
#     print("\t{0} people".format(len(ginfo))) 
#     print(ginfo)

In [5]:
# obtain first record of each group
#grp_people=df.groupby("state").first()

In [6]:
# get the last record of each gropu
#grp_people=df.groupby("state").last()

In [7]:
# get the third record of each group
#grp_people=df.groupby("state").nth(2)

In [8]:
# get the count of each group exclusively
#grp_people=df.groupby("state").count()
# get the count of each group including NaN values
#grp_people=df.groupby("state").size()

In [9]:
# name of people living that state
#grp_people=df.groupby("state")["name"]
#grp_people=df.groupby("state")["name"].count()

In [10]:
import pandas as pd
import numpy as np

In [11]:
d={"id":[10,20,30,40,50,60,70],"name":["dhurvi","itty","deepak","dori","lovely","pragati","shayam"],"city":["delhi","delhi","mumbai","mumbai","pune","pune","pune"],"state":["delhi","delhi","maharashtra","maharashtra","maharashtra","maharashtra","maharashtra"]}

df=pd.DataFrame(d)
print(df)

df.to_csv("D:\\clone\\DataAnalyst_DPK\\files\\cityPeople.csv")

   id     name    city        state
0  10   dhurvi   delhi        delhi
1  20     itty   delhi        delhi
2  30   deepak  mumbai  maharashtra
3  40     dori  mumbai  maharashtra
4  50   lovely    pune  maharashtra
5  60  pragati    pune  maharashtra
6  70   shayam    pune  maharashtra

In [12]:
# get the people data with state wise
grp_people=df.groupby("state")
print(grp_people.groups)

{'delhi': [0, 1], 'maharashtra': [2, 3, 4, 5, 6]}

In [13]:
grp_people=df.groupby("state").first()
print(grp_people)

             id    name    city
state
delhi        10  dhurvi   delhi
maharashtra  30  deepak  mumbai

In [14]:
grp_people=df.groupby("state")["name"]
print(grp_people)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000002B55D3E4590>

In [15]:
df.groupby("state")["name"].size()

state
delhi          2
maharashtra    5
Name: name, dtype: int64

In [16]:
d={"id":[10,20,30,40,50,60,70,80,90,100],"name":["dhurvi","itty","deepak","dori","lovely","pragati","shayam","aadi","bablu","anuj"],"city":["delhi","delhi","mumbai","mumbai","pune","pune","pune","goa","kolkatta","hydrabad"],"state":["delhi","delhi","maharashtra","maharashtra","maharashtra","maharashtra","maharashtra","goa","kolkatta","hydrabad"],"age":[20,21,22,23,24,25,26,27,28,29],"experience":[1,2,3,4,5,6,7,8,9,10],"salary":[10000,20000,30000,40000,50000,60000,70000,80000,90000,100000]}

df=pd.DataFrame(d)
print(df)

df.to_csv("D:\\clone\\DataAnalyst_DPK\\files\\studentLife.csv")

    id     name      city        state  age  experience  salary
0   10   dhurvi     delhi        delhi   20           1   10000
1   20     itty     delhi        delhi   21           2   20000
2   30   deepak    mumbai  maharashtra   22           3   30000
3   40     dori    mumbai  maharashtra   23           4   40000
4   50   lovely      pune  maharashtra   24           5   50000
5   60  pragati      pune  maharashtra   25           6   60000
6   70   shayam      pune  maharashtra   26           7   70000
7   80     aadi       goa          goa   27           8   80000
8   90    bablu  kolkatta     kolkatta   28           9   90000
9  100     anuj  hydrabad     hydrabad   29          10  100000

In [17]:
# create list in list from above data frame
lst=[[10,"dhurvi","delhi","delhi",20,1,10000],
[20,"itty","delhi","delhi",21,2,20000],
[30,"deepak","mumbai","maharashtra",22,3,30000],
[40,"dori","mumbai","maharashtra",23,4,40000]]

In [18]:
df=pd.DataFrame(lst,columns=["id","name","city","state","age","experience","salary"])
print(df)

   id    name    city        state  age  experience  salary
0  10  dhurvi   delhi        delhi   20           1   10000
1  20    itty   delhi        delhi   21           2   20000
2  30  deepak  mumbai  maharashtra   22           3   30000
3  40    dori  mumbai  maharashtra   23           4   40000

In [20]:
# get the mean age column value in each group
values=df.groupby("city").agg({"age":"mean","salary":"sum"})
print(values)

         age  salary
city
delhi   20.5   30000
mumbai  22.5   70000

In [23]:
values2=df.groupby("city")["age"].agg(["size","sum","mean","median","std","var"])
print(values2)

        size  sum  mean  median       std  var
city
delhi      2   41  20.5    20.5  0.707107  0.5
mumbai     2   45  22.5    22.5  0.707107  0.5

In [24]:
# case study 1
d={"cid":[10,20,30,40,50,60,70,80,90,100],"name":["dhurvi","itty","deepak","dori","lovely","pragati","shayam","aadi","bablu","anuj"],"city":["TS","AP","MUM","MUM","AP","TS","TS","AP","TS","MUM"],"expert":["python","python","java","java","c","c","c","python","python","java"],"age":[88,78,79,23,22,24,22,23,22,23],}

df=pd.DataFrame(d)
print(df)

df.to_csv("D:\\clone\\DataAnalyst_DPK\\files\\citizen.csv")

   cid     name city  expert  age
0   10   dhurvi   TS  python   88
1   20     itty   AP  python   78
2   30   deepak  MUM    java   79
3   40     dori  MUM    java   23
4   50   lovely   AP       c   22
5   60  pragati   TS       c   24
6   70   shayam   TS       c   22
7   80     aadi   AP  python   23
8   90    bablu   TS  python   22
9  100     anuj  MUM    java   23

In [ ]:
# analysis on the data frame
# Q. find the name of the people who are present in citizen file  
# get first 5 people name
# find all the people names of bottom five
# find names ,city and their expertism of citizen
# find the name of the people who are living in "TS"
# find name , ages of people ho are living in either in ap or in ts
# find the name of the city where python expert are wroking.
# find the names of the people whose name start with "a"
# find the average age of "ts" people.
# find the name and city who are living in age range of 30 to 60
# find differeNt age group people in "TS"
# find the city name where highest number of people are living