# adding row to a data frame

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\workingPeople.csv")
print(df)

    Unnamed: 0   id        name        city designation
0            0   10      dhurvi       delhi          tl
1            1   20        itty       delhi          se
2            2   30      deepak      mumbai          se
3            3   40        dori      mumbai          pm
4            4   50      lovely        pune          hr
5            5   60     pragati        pune          hr
6            6   70      shayam        pune          tl
7            7   80     sandeep      ranchi          pm
8            8   90    sangeeta    kolkatta          hr
9            9  100        usha        pune          se
10          10  110     mahadeo      orrisa          tl
11          11  120        prem     chennai          tl
12          12  130       bablu     haryana          se
13          13  140      harish  chandigarh          se
14          14  150     harshit   ludhiyana          pm
15          15  160       anand    amritsar          hr
16          16  170     rishita       patna          hr
17          17  180     parwati     guahati          tl
18          18  190     jagdish     chennai          pm
19          19  200       karan    kolkatta          hr
20          20  210       sanoj      orrisa          se
21          21  220    anushkha     chennai          tl
22          22  230   daleshwar     haryana          tl
23          23  240      kishor  chandigarh          se
24          24  250       horil   ludhiyana          se
25          25  260      rajesh    amritsar          pm
26          26  270     chander       patna          hr
27          27  280       badri     guahati          hr
28          28  290  parmeshwar     chennai          tl
29          29  300        ramu    kolkatta          pm
30          30  310    mahendra       delhi          hr
31          31  320     jagdish      mumbai          se
32          32  330    ramapati    banglore          tl

In [3]:
len(df)

33

In [4]:
# to add a new row
# syntax: df.loc[len(df)+1] = [value1, value2, value3, ...]

In [5]:
df.loc[len(df)+1] = [5, "John", 25, "New York", 50000]
print(df.tail())

    Unnamed: 0    id      name      city designation
29          29   300      ramu  kolkatta          pm
30          30   310  mahendra     delhi          hr
31          31   320   jagdish    mumbai          se
32          32   330  ramapati  banglore          tl
34           5  John        25  New York       50000

# Pandas dataframe rename() method
- by using this method we can alter or change the axes labels

In [ ]:
#syntax:
# df.rename(mapper=None,index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='raise')

In [9]:
# example
df= pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df)
print("**" * 20)
print(df.rename(columns={'A': 'a', 'B': 'b'}))
print("**" * 20)
# rename columns name

   A  B
0  1  4
1  2  5
2  3  6
****************************************
   a  b
0  1  4
1  2  5
2  3  6
****************************************

In [6]:
df=pd.read_csv("D:\\clone\\DataAnalyst_DPK\\files\\studentLife.csv")
print(df)

   Unnamed: 0   id     name      city        state  age  experience  salary
0           0   10   dhurvi     delhi        delhi   20           1   10000
1           1   20     itty     delhi        delhi   21           2   20000
2           2   30   deepak    mumbai  maharashtra   22           3   30000
3           3   40     dori    mumbai  maharashtra   23           4   40000
4           4   50   lovely      pune  maharashtra   24           5   50000
5           5   60  pragati      pune  maharashtra   25           6   60000
6           6   70   shayam      pune  maharashtra   26           7   70000
7           7   80     aadi       goa          goa   27           8   80000
8           8   90    bablu  kolkatta     kolkatta   28           9   90000
9           9  100     anuj  hydrabad     hydrabad   29          10  100000

In [10]:
# other than rename
lst=[[10,20,30,40],["rs","ps","it","ds"]]
df= pd.DataFrame(lst,index=["ids","names"])
print(df)

        0   1   2   3
ids    10  20  30  40
names  rs  ps  it  ds

In [11]:
# other than rename
lst=[[10,20,30,40],["rs","ps","it","ds"]]
df= pd.DataFrame(lst,index=["ids","names"],columns=["A","B","C","D"])
print(df)

        A   B   C   D
ids    10  20  30  40
names  rs  ps  it  ds

# Pandas append() method

In [ ]:
#syntax

In [13]:
df1= pd.DataFrame([["itty",100,"science",1000],["deep",101,"commerce",4000]],columns=["name","id","course","salary"])
print(df1)
print("**" * 20)
df2= pd.DataFrame([["dori",103,"science",5000],["ps",104,"science",6500]],columns=["name","id","course","salary"])
print(df2)
print("**" * 20)

   name   id    course  salary
0  itty  100   science    1000
1  deep  101  commerce    4000
****************************************
   name   id   course  salary
0  dori  103  science    5000
1    ps  104  science    6500
****************************************

In [14]:
df3=df1.append(df2)
print(df3)

AttributeError: 'DataFrame' object has no attribute 'append'

In [15]:
# this has been removed

# apply()
- df.apply(np.sum)
- df.apply(np.sum,axis=1)