# Data Type in Python

In [ ]:
# In Python there are 14 data types
"""
And they are classified into six data types

1. Fundamental category data types

2. Sequence Category data types

3. List Category data types [Collections data types]

4.Set Category data types [Collections data types]

5. Dict Category data types [Collections data types]

6. None Category data types 

"""

In [ ]:
"""
1. Fundamental category data types

eg:-
1.int
2.float
3.bool
4.complex

---------------------

2. Sequence Category data types
eg:-

1.str
2.bytes
3.bytearray
4.range

-----------------------

3. List Category data types [Collections data types]

eg:-

1.list
2.tuple

-----------------------

4.Set Category data types [Collections data types]

eg:-

1.set
2.frozenset

-----------------------

5. Dict Category data types [Collections data types]

 eg:-

 1.dict

 --------------------

 6. None Category data types 

eg:-

1. None types


"""

In [ ]:
"""

1. Fundamental category data types

- purpose of Fundamental category data types is to " store single value "

eg:-

1.int
2.float
3.bool
4.complex


"""

In [1]:
# int
a= 89
print(a,type(a))

89 <class 'int'>

In [3]:
# int
"""
- "int" is pre-define class and treated as fundamental data type.

-to store "whole number / integer value
without decimal places

 
- we have four type of number system

1. decimal number system
2. binary number system 
3. octal number system
4. hex decimal number system
"""

a=100 
b=100 
c=100
d=100
e=a+b+c+d
print(d,type(d))

100 <class 'int'>

In [ ]:
# decimal number system:-
"""
our day to day operation

digits: 1 2 3 4 5 6 7 8 9 10 

base : 10

- all base 10 number are called decimal

--------------------
2.Binary number systems

- these are understood by OS and Processors.

-digit-0,1
base- 2

-all base 2 value are called decimal

- Binary data must be preceded with a letter 0b or 0B

syntax: 
varname = 0b binary value

or 

varname = 0B decimal value


in python binary number system are converted into decimal numbers system implicitly


---------------------



"""

In [4]:
a=0b11
print(a)

3

In [5]:
b= 0b1011
print(b)

11

 # hexa decimal number
 
 varname=bin(decimal/hexa)
 
 eg:-
 bin(11)

In [7]:
bin(11)

'0b1011'

In [8]:
a=0b1011
print(a)

11

In [ ]:
""" 
Hexa decimal :-

this number system has :-
  digits:-
  0,1,2,3,4,5,6,7,8,9
  a(10), b(11), c(12), d(13), e(14), f(15)
  
  base:-16
  
  
-------------------------

Float:-

-fundamental data types
-purpose is to store the real constant values.



"""

In [2]:
a=3.4
print("%0.50f" %a)

3.39999999999999991118215802998747676610946655273438

In [3]:
a=3.5
print("%0.50f" %a)

3.50000000000000000000000000000000000000000000000000

In [ ]:
#based on IEEE  float value changes .

# float

""" 
- number with decimal value.
- int can treated as float but float can't be treated as integer

eg:

"""

In [5]:
a=50
b=3.5
c=a*b
print(c,type(c))

175.0 <class 'float'>