In [ ]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]

Q. Find the element which occurence is max time

In [2]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]
lst.sort()
print(lst)

[0, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 40, 50, 50, 60, 70, 70, 70, 80, 90]

In [4]:
lst.count(10)

4

In [5]:
max(lst)

90

In [6]:
# number of repeated elements

In [7]:
mv=max(lst,key=lst.count)
print(mv)

20

# Inner list or nested list

- my requirement is to store -sno,sname,list of 3 subject internal marks, list of 3 subject external marks,cname

- lst=[10,"rs",17,15,18,78,70,79,"oucet"]

- lst=[10,"rs",[17,15,18],[78,70,79],"oucet"]

- matrix

In [8]:
lst=[10,"rs",[17,15,18],[78,70,79],"oucet"]
lst[2]

[17, 15, 18]

In [9]:
lst[3]

[78, 70, 79]

In [10]:
lst[2][1]

15

In [11]:
lst[-2][-2:]

[70, 79]

In [13]:
lst[2].append(18)
print(lst)

[10, 'rs', [17, 15, 18, 18, 18], [78, 70, 79], 'oucet']

In [14]:
lst[3].insert(1,74)
print(lst)

[10, 'rs', [17, 15, 18, 18, 18], [78, 74, 70, 79], 'oucet']

In [15]:
lst[2].sort()
print(lst)

[10, 'rs', [15, 17, 18, 18, 18], [78, 74, 70, 79], 'oucet']

In [17]:
lst[-2].sort(reverse=True)
print(lst)

[10, 'rs', [15, 17, 18, 18, 18], [79, 78, 74, 70], 'oucet']

In [18]:
del lst[2][::2]
print(lst)

[10, 'rs', [17, 18], [79, 78, 74, 70], 'oucet']

In [19]:
del lst[-2][1::2]
print(lst)

[10, 'rs', [17, 18], [79, 74], 'oucet']

In [20]:
matrix1=[[10,20,30],[40,50,60],[70,80,90]]
for row in matrix1:
    print(row)
    
matrix2=[[1,2,3],[4,5,6],[7,8,9]]
for row in matrix2:
    print(row)
    
matrix3=matrix1+matrix2
print(matrix3)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[[10, 20, 30], [40, 50, 60], [70, 80, 90], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

# tuple

- it is pre defined class treated as list as category data type.

- Real time importance of tuple is to "store constant value"

- eg: your bank account number , and your cname never changes in bank history , only your balance changed .

- to store tuple we use braces ()and values are separated by commas

In [21]:
t1=(10,20,30,40,10,30,50,60)
print(t1,type(t1))

(10, 20, 30, 40, 10, 30, 50, 60) <class 'tuple'>

In [22]:
t1.sort()
print(t1,type(t1))

AttributeError: 'tuple' object has no attribute 'sort'

In [2]:
t1=(10,20,30,40,10,30,50,60)
for i,v in enumerate(t1):
    print(i,"--->",v)

0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 40
4 ---> 10
5 ---> 30
6 ---> 50
7 ---> 60

In [3]:
t1[1]="rossum"

TypeError: 'tuple' object does not support item assignment

In [4]:
# therefore it store constant values hence here no update , no del , no sort will occurred

In [5]:
s="mississippi"
t1=tuple(s)
print(t1,type(t1))

('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') <class 'tuple'>

In [6]:
len(t1)

11

In [7]:
t1=()
print(t1,type(t1))

() <class 'tuple'>

In [8]:
t2=10,20,30 
print(t2,type(t2))

(10, 20, 30) <class 'tuple'>

In [9]:
t4=10,
print(t4,type(t4))

(10,) <class 'tuple'>

In [10]:
x=(10)
print(x,type(x))

10 <class 'int'>

In [11]:
y=("kvr")
print(y,type(y))

kvr <class 'str'>

In [12]:
y=("kvr",)
print(y,type(y))

('kvr',) <class 'tuple'>

In [13]:
len(y)

1

In [14]:
# tuple is immutable

In [15]:
# pre defined function in list
""" 
-append()
-insert()
-remove()
-pop(index)
-pop()
-clear()
-index()
-count()
-sort()
-reverse()
-copy()
-extend()
"""


# pre defined function in tuple

""" 
-index()
-count()
"""

#rest of the method are not present in tuple

' \n-index()\n-count()\n'

In [16]:
t1=(10,20,30,10,30,20,10,50,10,30,20,60,50)
print(t1,type(t1))
max(t1)
max(t1,key=t1.count)

(10, 20, 30, 10, 30, 20, 10, 50, 10, 30, 20, 60, 50) <class 'tuple'>

10

In [17]:
min(t1)

10

In [18]:
max(t1)

60

In [19]:
t1=(10,20,30,10,30,20,10,50,10,30,20,60,50)
for i,v in enumerate(t1):
    print(i,"--->",v)

0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 10
4 ---> 30
5 ---> 20
6 ---> 10
7 ---> 50
8 ---> 10
9 ---> 30
10 ---> 20
11 ---> 60
12 ---> 50

In [20]:
#total tuple can be removed but you cannot removed individually

In [2]:
#process to sort the data in tuple

In [3]:
t1=(10,-3,5,7,50,20,25,-1,0,100)
lst=list(t1)
print(lst)

[10, -3, 5, 7, 50, 20, 25, -1, 0, 100]

In [8]:
lst.sort()
print(lst,type(lst))

[-3, -1, 0, 5, 7, 10, 20, 25, 50, 100] <class 'list'>

In [7]:
t2=tuple(lst)
print(t2,type(t2))

(-3, -1, 0, 5, 7, 10, 20, 25, 50, 100) <class 'tuple'>

In [9]:
# another method

In [10]:

t1=(10,-3,5,7,50,20,25,-1,0,100)
x=sorted(t1)
print(x,type(x))

[-3, -1, 0, 5, 7, 10, 20, 25, 50, 100] <class 'list'>

In [11]:
x[::-1]

[100, 50, 25, 20, 10, 7, 5, 0, -1, -3]

In [12]:
x=tuple(sorted(t1))
print(x,type(x))

(-3, -1, 0, 5, 7, 10, 20, 25, 50, 100) <class 'tuple'>