# set
- union

In [2]:
s1={10,20,30,40}
print(s1,type(s1))
s2={10,20,25,35}
print(s2,type(s2))

# to get combination of s1 and s2
# use of union mean combining the elements and removing the duplicate 

s3=s1.union(s2)
print(s3,type(s3))

{40, 10, 20, 30} <class 'set'>
{25, 10, 35, 20} <class 'set'>
{35, 40, 10, 20, 25, 30} <class 'set'>

- union
    syntax:-

    setObj3=setObj1.union(setObj2)

    - this function is used for obtaining unique values of setObj1 and setObj2 and place them in setObj3.

In [4]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.union(y)
print(z,type(z))

{'restapi', 'html', 'django', 'python', 'mysql', 'css'} <class 'set'>

# intersection()

- syntax:-
    - setObj3=setObj1.intersection(setObj2)

In [5]:
s1={10,20,30,40}
print(s1,type(s1))
s2={10,20,25,35}
print(s2,type(s2))

s3=s2.intersection(s1)
print(s3,type(s3))

{40, 10, 20, 30} <class 'set'>
{25, 10, 35, 20} <class 'set'>
{10, 20} <class 'set'>

In [7]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.intersection(y)
print(z,type(z),len(z))

set() <class 'set'> 0

In [8]:
s1={10,20,30,40,50}
s2={10,20,25,35}
s3={1,5,"python"}
s4=s1.union(s2,s3)
print(s4,type(s4))

{1, 35, 5, 'python', 40, 10, 50, 20, 25, 30} <class 'set'>

In [9]:
s1={10,20,30,40,50}
s2={10,20,25,35}
s3={1,5,"python"}
s4=s1.intersection(s2,s3)
print(s4,type(s4))

set() <class 'set'>

- difference()

    this function remove the common elements from from both setObj1 and setObj2 and takes remaining elements from setObj1 and place them in setObj3

In [10]:
s1={10,20,30,40,50}
s2={10,20,25,35}
s3={1,5,"python"}
s4=s1.difference(s2,s3)
print(s4,type(s4))

{40, 50, 30} <class 'set'>

In [11]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.difference(y)
print(z,type(z),len(z))

{'html', 'django', 'python'} <class 'set'> 3

In [12]:
k={1,2,3}
v={1,2,3}
r=k.difference(v)
print(r,type(r),len(r))

set() <class 'set'> 0

# symmetric_difference()

- setObj3=setObj1.symmetric_diffrence(setObj2)

- this element remove the common elements from both setObj1 and setObj2 and takes remaining elements from setObj and setObj2 and place them in setObj3

In [13]:
s1={10,20,30,40}
s2={10,20,25,35}
s3=s1.symmetric_difference(s2)
print(s3)

{35, 40, 25, 30}

In [14]:
k={1,2,3}
v={1,2,3}
r=k.symmetric_difference(v)
print(r,type(r),len(r))

set() <class 'set'> 0

In [15]:
x={"python","html","django"}
y={"css","restapi","mysql"}
z=x.symmetric_difference(y)
print(z,type(z),len(z))

{'restapi', 'python', 'css', 'html', 'django', 'mysql'} <class 'set'> 6

In [1]:
# symetric difference update

consider the following :-

set cricket player  = {"rohit","kl","ms","vk}

set of tennis players ={"rk","lm","vk","jk"}

write the code for the following 
# Q
- solve the following using set function.

1. find the names of all the players
-->union
2. find the names of the players who are playing all types of games
3. find the player who are playing both cricket and tennis.
-->intersection
4. find the player who are playing only cricket but not tennis
-->
5. find the player who are playing tennis but not cricket
6. find the player who are exclusively playing both cricket and tennis.

---------------------------------------
# Q
consider the following :-

set cricket player  = {"rohit","kl","ms","vk}

set of tennis players ={"rk","lm","vk","jk"}

write the code for the following 

- solve the following without using set function.

1. find the names of all the players
-->union
2. find the names of the players who are playing all types of games
3. find the player who are playing both cricket and tennis.
-->intersection
4. find the player who are playing only cricket but not tennis
-->
5. find the player who are playing tennis but not cricket
6. find the player who are exclusively playing both cricket and tennis.

In [1]:
# find names of all the player who are playing all types of games---union()

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}

tournament=cric.union(tennis)
print(tournament)

{'kinney', 'travis', 'rossum', 'kohli', 'rohit'}

In [2]:
# who play both games
cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.intersection(tennis)
print(tournament)

{'rossum'}

In [3]:
#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.difference(tennis)
print(tournament)

{'rohit', 'kohli'}

In [4]:
#only tennis player but not cricket

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=tennis.difference(cric)
print(tournament)

{'travis', 'kinney'}

In [5]:
# exclusively playing cricket and tennis 
# ie., except "rossum" all the palyer

#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.symmetric_difference(tennis)
print(tournament)

{'rohit', 'travis', 'kohli', 'kinney'}

without using this pre made function

In [6]:
# here we will use bitwise operators

In [7]:
#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.difference(tennis)
print(tournament)

{'kohli', 'rohit', 'travis', 'kinney', 'rossum'}

In [8]:
# find names of all the player who are playing all types of games---union()

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}

tournament=cric.union(tennis)
print(tournament)


# also

torunamnent2=cric|tennis
print(torunamnent2)

{'kohli', 'rohit', 'travis', 'kinney', 'rossum'}
{'kohli', 'rohit', 'travis', 'kinney', 'rossum'}

In [9]:
# who play both games
cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.intersection(tennis)
print(tournament)

# also

torunamnent2=cric&tennis
print(torunamnent2)

{'rossum'}
{'rossum'}

In [10]:
#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.difference(tennis)
print(tournament)


# also

torunamnent2=cric-tennis
print(torunamnent2)

{'rohit', 'kohli'}
{'rohit', 'kohli'}

In [11]:
#only tennis player but not cricket

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=tennis.difference(cric)
print(tournament)

# also

torunamnent2=tennis-cric
print(torunamnent2)

{'travis', 'kinney'}
{'travis', 'kinney'}

In [12]:
# exclusively playing cricket and tennis 
# ie., except "rossum" all the palyer

#only cricket player but not tennis

cric={"rohit","kohli","rossum"}
tennis={"travis","kinney","rossum"}
tournament=cric.symmetric_difference(tennis)
print(tournament)

# also

torunamnent2=cric^tennis
print(torunamnent2)

{'rohit', 'travis', 'kohli', 'kinney'}
{'rohit', 'travis', 'kohli', 'kinney'}