# InnerTuple

In [1]:
t1=(10,"rs",(16,17,18),(78.79,80),"oucet")
print(t1,type(t1))

(10, 'rs', (16, 17, 18), (78.79, 80), 'oucet') <class 'tuple'>

In [2]:
for val in t1:
    print(val,type(val),type(t1))

10 <class 'int'> <class 'tuple'>
rs <class 'str'> <class 'tuple'>
(16, 17, 18) <class 'tuple'> <class 'tuple'>
(78.79, 80) <class 'tuple'> <class 'tuple'>
oucet <class 'str'> <class 'tuple'>

In [3]:
t1[0:3]

(10, 'rs', (16, 17, 18))

In [5]:
# you cannot do any changes 
# indexing and slicing is used

In [6]:
t1[2].count(16)

1

## list in tuple 

## tuple in list

In [8]:
# tuple in list
t1=(10,"rs",[16,17,18],[67,68,69],"oucet")
print(t1,type(t1))

(10, 'rs', [16, 17, 18], [67, 68, 69], 'oucet') <class 'tuple'>

In [13]:
for val in t1:
    print(val,type(val))
    print(t1)

10 <class 'int'>
(10, 'rs', [16, 17, 18, 19, 19], [67, 68, 69], 'oucet')
rs <class 'str'>
(10, 'rs', [16, 17, 18, 19, 19], [67, 68, 69], 'oucet')
[16, 17, 18, 19, 19] <class 'list'>
(10, 'rs', [16, 17, 18, 19, 19], [67, 68, 69], 'oucet')
[67, 68, 69] <class 'list'>
(10, 'rs', [16, 17, 18, 19, 19], [67, 68, 69], 'oucet')
oucet <class 'str'>
(10, 'rs', [16, 17, 18, 19, 19], [67, 68, 69], 'oucet')

In [12]:
t1[2].append(19)
print(t1)

(10, 'rs', [16, 17, 18, 19, 19], [67, 68, 69], 'oucet')

In [14]:
t1[3].insert(1,77)
print(t1)

(10, 'rs', [16, 17, 18, 19, 19], [67, 77, 68, 69], 'oucet')

In [16]:
t1[2].sort()
print(t1)

(10, 'rs', [16, 17, 18, 19, 19], [67, 77, 68, 69], 'oucet')

In [17]:
t1.pop(2)
print(t1)

AttributeError: 'tuple' object has no attribute 'pop'

In [18]:
del t1[2][1:3]
print(t1)

(10, 'rs', [16, 19, 19], [67, 77, 68, 69], 'oucet')

In [19]:
del t1[3][0]
print(t1)

(10, 'rs', [16, 19, 19], [77, 68, 69], 'oucet')

# tuple in list

In [20]:
l1=[10,"rs",(16,17,18),(77,78,79),"oucet"]
print(t1)

(10, 'rs', [16, 19, 19], [77, 68, 69], 'oucet')

In [21]:
tuple(sorted(l1[2]))[::-1]

(18, 17, 16)

In [26]:
l1.append(("del","mum","hyd","blr"))
print(l1)

[10, 'rs', (16, 17, 18), (77, 78, 79), 'oucet', ('del', 'mum', 'hyd', 'blr'), ('del', 'mum', 'hyd', 'blr'), ('del', 'mum', 'hyd', 'blr'), ('del', 'mum', 'hyd', 'blr')]

# Set Category data type:-

- the purpose of set category data type is that " to store multiple value either of same type or different type or both types in single object with unique element only.(duplicate are not allowed)

- we have 2 data types in list category . they are 
    - 1. set (mutable an immutable)
    - 2. Frozenset (immutable)

- what we learn 
property of set 
- what is set
- notation of set
- type of set
- operation on set
- pre defined function in set
- nested or inner set with tuple and list 
- programming examples

In [28]:
# notation for set
# the value of set must be stored within curly braces {} and values are separated by commas.

# syntax: setobj={val1, val2,...val-n}

In [41]:
""" 
--> set object never maintain insertion order because PVM display any of the possibility of element of set .

--> on set we cannot perform indexing and slicing because set never maintain insertion order

--> set belong to both mutable and immutable , [mutable when we perform add method], [immutable because we cannot perform indexing and slicing or item assignment]

"""

' \n--> set object never maintain insertion order because PVM display any of the possibility of element of set .\n\n--> on set we cannot perform indexing and slicing because set never maintain insertion order\n\n--> set belong to both mutable and immutable , [mutable when we perform add method], [immutable because we cannot perform indexing and slicing or item assignment]\n\n'

In [29]:
s1={10,20,30,40,20,10,30,50,70,10}
print(s1,type(s1))

{50, 20, 70, 40, 10, 30} <class 'set'>

In [30]:
# you can't predict in which order the set elements will come .

# hence this is commonly used in question paper set (a,b,c,d)

In [34]:
s2={"python","js","html","css","react","tailwind","javascript","illustrator","photoshop",2025,1995}
print(s2,type(s2))

{'react', 'python', 'javascript', 'html', 'css', 2025, 'js', 1995, 'photoshop', 'illustrator', 'tailwind'} <class 'set'>

In [36]:
s2[2]

TypeError: 'set' object is not subscriptable

In [37]:
s1={10,"rs",34.56,True}
print(s1,type(s1),id(s1))

{'rs', 10, 34.56, True} <class 'set'> 1446566711744

In [40]:
s1.add(2+3j)
print(s1,type(s1),id(s1))

{True, 34.56, 10, (2+3j), 'rs'} <class 'set'> 1446566711744

In [42]:
s1={}
print(s1,type(s1),id(s1))

{} <class 'dict'> 1446567164288

In [43]:
s1=set()
print(s1,type(s1),id(s1))

set() <class 'set'> 1446566714432

In [44]:
len(s1)

0

In [45]:
s2={10,20,3,4,5}
print(s2,type(s2),id(s2))

{3, 4, 5, 20, 10} <class 'set'> 1446566711520

In [46]:
# empty set

# whose length is zero

# syntax: setobj=set()

In [47]:
# non-empty set

# whose length is greater than Zero.

# syntax: setobj=set(obj)

In [48]:
# to remove duplicate

lst=[10,20,30,40,50,60,70,80,90,20,10,30,10,40,50,60,70,20]

print(len(lst))

s1=set(lst)

print(s1,type(s1))

18
{70, 40, 10, 80, 50, 20, 90, 60, 30} <class 'set'>

In [49]:
s="mississippi"
s1=set(s)
print(s1,type(s1))

{'p', 'i', 'm', 's'} <class 'set'>

In [50]:
# pre defined function in set:-


1.add()
2.remove()
3.pop() 
4.clear()
5.discard()
6.clear()
7.isDisjoint()
8.issubset
9.issuperset()
10.union()
11.intersect()
12.difference()
13.symmetric_difference()
14.symmetric_difference_update()
15.update()

### pre-defined function in set 

- we know that on object of set , we cannot perform indexing and slicing operation because set never maintain insertion order.

-  but on set object we can perform diffrent operations  by using pre-defined function which are present in set object.

In [51]:
#. add()
s1={10,"rs","python",True,}
s1.add("javascript")
print(s1,type(s1),id(s1))

{'python', 'javascript', True, 10, 'rs'} <class 'set'> 1446566714880

In [52]:
s1.add(3.14)
print(s1,type(s1),id(s1))

{'python', 'javascript', True, 3.14, 10, 'rs'} <class 'set'> 1446566714880

In [ ]:
# item added in the same address.

# remove 

- this function is used for removing values from set objects.

- if the value does not exist in the set and try to remove then we get keyError.

- in place of remove we use discard we did't get any error .

In [ ]:
# pop()

# setobj.pop()

In [53]:
s1={10,"rs",3.14,True,2+5j}
s1.pop()
print(s1)

{(2+5j), 3.14, 'rs', 10}

In [ ]:
# any arbitrary element will be removed since it does not follow the indexing number .

In [54]:
# clear
print(s1)

{(2+5j), 3.14, 'rs', 10}

In [55]:
s1.clear()
len(s1)

0

In [56]:
# this function is used for removing all element from non-empty set object.

# if we call this function empty set object then we get none

In [57]:
print(s1.clear())

None

In [58]:
print(set().clear())

None

# isdisjoint()

In [60]:
s1={10,20,30,40,50}
s2={5,15,25,35,45,55}
s3={5,17,19}

#s2=s3 are joint set
# 5 is present in both s2 and s3

# this property can be used in testing eg:-

# property of corona virus
# if a person matches any of the property then it is said to be infected.

print(s1.isdisjoint(s3))
print(s2.isdisjoint(s3))

True
False

In [61]:
# syntax:
# setobj1.isdisjoint(setobj2)

# this function return true provided there is no common element present in setobj1 and setobj2

# this function return false provided there is one common element present in setobj1 and setobj2 called joint set or non disjoint set

In [62]:
s1=set()
s2=set()
s1.isdisjoint(s2)

True

In [63]:
set().isdisjoint(set())

True

# issuperset() , issubset()

In [64]:
s1.issubset(s2)

True

In [65]:
s1.issuperset(s2)

True

# Solve the following problem by using sets

consider the following :-

set cricket player  = {"rohit","kl","ms","vk}

set of tennis players ={"rk","lm","vk","jk"}

write the code for the following 
# Q
- solve the following using set function.

1. find the names of all the players
-->union
2. find the names of the players who are playing all types of games
3. find the player who are playing both cricket and tennis.
-->intersection
4. find the player who are playing only cricket but not tennis
-->
5. find the player who are playing tennis but not cricket
6. find the player who are exclusively playing both cricket and tennis.

---------------------------------------
# Q
consider the following :-

set cricket player  = {"rohit","kl","ms","vk}

set of tennis players ={"rk","lm","vk","jk"}

write the code for the following 

- solve the following without using set function.

1. find the names of all the players
-->union
2. find the names of the players who are playing all types of games
3. find the player who are playing both cricket and tennis.
-->intersection
4. find the player who are playing only cricket but not tennis
-->
5. find the player who are playing tennis but not cricket
6. find the player who are exclusively playing both cricket and tennis.

In [19]:
lst=[10,20,30,10,20,40,20,30,50,50,60,70,10,30,70,70,80,90,20,20,30,0,10,20]
lst.sort()
print(lst,id(lst))

for i,v in enumerate(lst):
    if(v==10):
        print(i,"-->",v)
        
print(len(lst))
print(max(lst))
print(min(lst))
# to find the unique number in list convert this into set 
s1=set(lst)
print(s1)
# after getting the unique number then convert it into list again to sort the list
lst1=list(s1)
lst1.sort()
print(lst1)

[0, 10, 10, 10, 10, 20, 20, 20, 20, 20, 20, 30, 30, 30, 30, 40, 50, 50, 60, 70, 70, 70, 80, 90] 2242755046080
1 --> 10
2 --> 10
3 --> 10
4 --> 10
24
90
0
{0, 70, 40, 10, 80, 50, 20, 90, 60, 30}
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]