- Fundamental data types - used to store single value.

- Sequence Data Types - used to store sequence of values.

- now my requirement is 
i want to store 100,10,120,1000,-420,3000,12.34

- numerical values ---duplicate and unique values .

- now my requirement is 10,"rossum",4.13,True

- therefore to store this kind of data we require list data types.

- eg: eno,ename,sal,dsg,city

# List category data types (collection data types)

- the purpose of list data types is to " store multiple values either of same types or different types or same type in single object with unique and duplicate values.

- we have 2 data types in List category , they are 

    1. List [mutable]
    2. tuple(immutable)

# List

In [ ]:
"""
- purpose of list
- create an object of list 
- type of list
- memory management of list 
- operation on list 
- pre defined function in list 
- inner list or nested list 
- programming example
"""

- Property of list:-

   - list is a pre defined class and treated as list category data types.

   - the purpose of list category is to "store multiple values either of same type or different type or both the types in single object with unique and duplicates"

- Notation of list.

    - to store list data we use "square brackets [], and values are separated by commas.

    - syntax: varname=[val1,val2,...]

- object of list maintained insertion order.

- on object of list we can perform indexing and slicing operation.

In [1]:
list1=["RS",True,780,2+3j]
print(list1,type(list1))

['RS', True, 780, (2+3j)] <class 'list'>

In [2]:
list1[::2]

['RS', 780]

In [3]:
list1[0]="guido van rossum"
print(list1,type(list1))

['guido van rossum', True, 780, (2+3j)] <class 'list'>

In [ ]:
# list object belongs to mutable because it allow modification, updations,assignment by slicing and indexing.

In [4]:
# how to create an empty list
# list1=[]

In [5]:
# or list1=list()
# this will create empty list

In [7]:
list2=[" ",12,"pop-corn"]
list2[0]

' '

In [9]:
s="mississippi"
list1=list(s)
print(s,type(s))
print(list1,type(list1))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] <class 'list'>

In [10]:
a=10
list1=list(a)

TypeError: 'int' object is not iterable

In [11]:
list1=list(1.2)

TypeError: 'float' object is not iterable

In [12]:
list1=list(True)

TypeError: 'bool' object is not iterable

In [13]:
list1=list(1+3j)

TypeError: 'complex' object is not iterable

In [14]:
# all fundamental values are not possible to convert list because they are all non iterable.

In [16]:
list1=list([1,2,3])
print(list1)

[1, 2, 3]

In [17]:
s="mississippi"
list1=list(s)
print(s,type(s))
print(list1,type(list1))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] <class 'list'>

In [19]:
list2=list(list1)
print(list2,type(list2))

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] <class 'list'>

In [21]:
list3=list(s)
print(list3)

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

# pre define function in list

In [ ]:
- we know that on the object of list , we can perform both indexing and slicing operation .

- with indexing we get , access single value and we can update single value of list object 

- with slicing operation we get / access multiple values and we can update multiple values of list object.

- hence with index and slicing operation on list we can access ad update value(s)

In [24]:
lst=[10,"rs"]
print(lst,id(lst))

[10, 'rs'] 2881654441344

In [ ]:
lst.append()