- key()

- dictobj.keys()

- this function is used for obtaining value of key and placed in varname and whose type <class,'dict_keys>

In [1]:
d1={10:"python",20:"java",30:"c",40:"javascript"}
d1.keys()

dict_keys([10, 20, 30, 40])

In [2]:
ks=d1.keys()
print(ks)

dict_keys([10, 20, 30, 40])

In [5]:
for k in d1.keys():
    print(k)

10
20
30
40

In [6]:
for v in d1.values():
    print(v)

python
java
c
javascript

- item()

In [7]:
d1.items()

dict_items([(10, 'python'), (20, 'java'), (30, 'c'), (40, 'javascript')])

In [8]:
for k,v in d1.items():
    print(k,"-->",v)

10 --> python
20 --> java
30 --> c
40 --> javascript

- combination of dict with list ,tuple,set

In [9]:
#dict in dict
#list in dict
#tuple in dict
#set in dict
#dict in list

In [30]:
#dict iin dict
d1={"sno":10,"name":"rs","IM":{"cm":17,"os":16,"py":19},"EM":{"cm":67,"os":78,"py":67},"cname":"oucet"}

print(d1,id(d1),type(d1))

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19}, 'EM': {'cm': 67, 'os': 78, 'py': 67}, 'cname': 'oucet'} 2494851939520 <class 'dict'>

In [31]:
for kv in d1.items():
    print(kv,type(kv))

('sno', 10) <class 'tuple'>
('name', 'rs') <class 'tuple'>
('IM', {'cm': 17, 'os': 16, 'py': 19}) <class 'tuple'>
('EM', {'cm': 67, 'os': 78, 'py': 67}) <class 'tuple'>
('cname', 'oucet') <class 'tuple'>

In [32]:
for k,v in d1.items():
    print(k,"-->",v,type(v),"-->",type(d1))

sno --> 10 <class 'int'> --> <class 'dict'>
name --> rs <class 'str'> --> <class 'dict'>
IM --> {'cm': 17, 'os': 16, 'py': 19} <class 'dict'> --> <class 'dict'>
EM --> {'cm': 67, 'os': 78, 'py': 67} <class 'dict'> --> <class 'dict'>
cname --> oucet <class 'str'> --> <class 'dict'>

In [33]:
# INTERNAL MARKS
for k,v in d1["IM"].items():
    print(k,"-->",v)

cm --> 17
os --> 16
py --> 19

In [34]:
# EXTERNAL MARKS
for k,v in d1["EM"].items():
    print(k,"-->",v)

cm --> 67
os --> 78
py --> 67

In [35]:
d1["IM"].pop("os")
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'py': 19}, 'EM': {'cm': 67, 'os': 78, 'py': 67}, 'cname': 'oucet'}

In [36]:
# 47.35

In [2]:
d1={"sno":10,"name":"rs","IM":{"cm":17,"os":16,"py":19},"EM":{"cm":67,"os":78,"py":67},"cname":"oucet"}

d1["EM"]["cm"]=17
d1["IM"]["OS]"]=16
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 17, 'os': 78, 'py': 67}, 'cname': 'oucet'}

In [5]:

d1["EM"]["py"]=65
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 67, 'os': 78, 'py': 65}, 'cname': 'oucet'}

In [6]:
# calculate total marks

d1["total"]=dict()
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 67, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': {}}

In [8]:
d1["total"]=d1["IM"]["py"]+d1["EM"]["py"]
d1["total"]=d1["IM"]["cm"]+d1["EM"]["cm"]
d1["total"]=d1["IM"]["os"]+d1["EM"]["os"]
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 67, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': 94}

In [9]:
#above we get the latest value only so we
d1["total"]=dict()
d1["total"]["cm"]=d1["IM"]["cm"]+d1["EM"]["cm"]
d1["total"]["os"]=d1["IM"]["os"]+d1["EM"]["os"]
d1["total"]["py"]=d1["IM"]["py"]+d1["EM"]["py"]
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 67, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': {'cm': 84, 'os': 94, 'py': 84}}

In [10]:
#another method
d1["total"]["py"]=d1["IM"].get("py")+d1["EM"].get("py")
print(d1)

{'sno': 10, 'name': 'rs', 'IM': {'cm': 17, 'os': 16, 'py': 19, 'OS]': 16}, 'EM': {'cm': 67, 'os': 78, 'py': 65}, 'cname': 'oucet', 'total': {'cm': 84, 'os': 94, 'py': 84}}

- dict in dict --possible

In [11]:
# List in dict

In [13]:
d1={"sno":10,"name":"rs","IM":[18,13,17],"EM":[55,66,68],"cname":"JNTU"}
for k,v in d1.items():
    print(k,"-->",v,type(v),"-->",type(d1))

sno --> 10 <class 'int'> --> <class 'dict'>
name --> rs <class 'str'> --> <class 'dict'>
IM --> [18, 13, 17] <class 'list'> --> <class 'dict'>
EM --> [55, 66, 68] <class 'list'> --> <class 'dict'>
cname --> JNTU <class 'str'> --> <class 'dict'>

In [14]:
#sort
d1["IM"].sort()
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18], 'EM': [55, 66, 68], 'cname': 'JNTU'}

In [19]:
# another method of sorting 
d1.get("EM").sort(reverse=True)
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18], 'EM': [68, 66, 55], 'cname': 'JNTU'}

In [20]:
# add one more internal marks

d1["IM"].append(19)
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18, 19], 'EM': [68, 66, 55], 'cname': 'JNTU'}

In [21]:
# another method
d1.get("EM").append(78)
print(d1)

{'sno': 10, 'name': 'rs', 'IM': [13, 17, 18, 19], 'EM': [68, 66, 55, 78], 'cname': 'JNTU'}

In [22]:
# get the value of IM na EM only

x=["IM","EM"]
for k in x:
    print(k)

IM
EM

In [23]:
for k in x:
    print(d1.get(k))

[13, 17, 18, 19]
[68, 66, 55, 78]

In [25]:
#tuple in dict-possiblea

In [26]:
d1={"sno":10,"name":"rs","IM":(18,13,17),"EM":(55,66,68),"cname":"JNTU"}

for k,v in d1.items():
    print(k,"-->",v,type(v),"-->",type(d1))

sno --> 10 <class 'int'> --> <class 'dict'>
name --> rs <class 'str'> --> <class 'dict'>
IM --> (18, 13, 17) <class 'tuple'> --> <class 'dict'>
EM --> (55, 66, 68) <class 'tuple'> --> <class 'dict'>
cname --> JNTU <class 'str'> --> <class 'dict'>

In [27]:
#set in dict -possible

In [29]:
prod={"tv":1.0,"mobile":0.35,"tab":0.25,"ref":1.5}
# find the highest price of the product
hp=max(prod,key=prod.get)
print(hp)

ref

In [30]:
print("product name:{} and price is:{}".format(hp,prod.get(hp)))

product name:ref and price is:1.5

In [31]:
tpl=(10,"rs",{"cm":13,"os":16,"py":14},"oucet")
print(tpl)

(10, 'rs', {'cm': 13, 'os': 16, 'py': 14}, 'oucet')

In [32]:
for val in tpl:
    print(val,"-->",type(tpl))

10 --> <class 'tuple'>
rs --> <class 'tuple'>
{'cm': 13, 'os': 16, 'py': 14} --> <class 'tuple'>
oucet --> <class 'tuple'>

In [33]:
tpl[2]["cm"]=18
print(tpl)

(10, 'rs', {'cm': 18, 'os': 16, 'py': 14}, 'oucet')

In [34]:
s1={10,"rs",{"cm":13,"os":16,"py":14},"oucet"}
print(s1)

TypeError: unhashable type: 'dict'

In [35]:
# dict in set is not possible]

In [36]:
list in list # P
list in tuple #P
list in set #NP
list in dict #P


tuple in tuple #P
tuple in list #P
tuple in set #P
tuple in dict #P


set in set #NP
set in list #P
set in tuple #P
set in dict #P

dict in dict #P
dict in list #P
dict in tuple #P
dict in set #NP

TypeError: argument of type 'type' is not iterable

# none type

In [37]:
l1=[10,20,30,40]
l1.clear()
print(l1)

[]

In [38]:
None==0

False

In [39]:
None==""

False

In [40]:
None==None

True