# Type casting in python

the process of converting one possible type value into another type of value is called type casting.

we have 5 fundamental type casting techniques . they are :-


  1. int()

  2. float()

  3. bool()

  4. complex()

  5. str()


  1.int():-

    it is used for converting one possible type value into another type of value.
    

    eg:-

In [ ]:
# float type into int type .

# bool type into int type .

# complex into int type.

# str into int type .

In [4]:
a=12.34
print(a,type(a))

12.34 <class 'float'>

In [3]:
b=int(a)
print(b,type(b))

12 <class 'int'>

In [5]:
a=0.25
print(a,type(a))

0.25 <class 'float'>

In [6]:
b=int(a)
print(b,type(b))

0 <class 'int'>

In [7]:
a=True
print(a,type(a))

True <class 'bool'>

In [8]:
b=int(a)
print(b,type(b))

1 <class 'int'>

- conversion of bool type to int is possible

- conversion of float type to int is possible

In [9]:
a=2+3j
print(a,type(a))

(2+3j) <class 'complex'>

In [10]:
b=int(a)
print(b,type(b))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

- conversion of complex data type to int is not possible , hence TypeError occur

- How to spell:

"10"-----strInt
"10.75"-----str Float
"True"-----strBoolean
"2+5j"-----strComplex 


case:1

str int into int type

case:2

str float into int type

case:3

str bool into int type

case:4

str complex into int type

In [12]:
a="123"

print(a,type(a))

b=int(a)

print(b,type(b))

123 <class 'str'>
123 <class 'int'>

In [13]:
# str into int is possible

In [14]:
a="123.45"
print(a,type(a))
b=int(a)
print(b,type(b))

123.45 <class 'str'>

ValueError: invalid literal for int() with base 10: '123.45'

In [16]:
# str into float is not possible
# here we get ValueError

In [17]:
a="True"
print(a,type(a))
b=int(a)
print(b,type(b))

True <class 'str'>

ValueError: invalid literal for int() with base 10: 'True'

In [18]:
# str into bool is not possible

In [19]:
a="2+3j"
b=int(a)
print(b,type(b))

ValueError: invalid literal for int() with base 10: '2+3j'

In [20]:
# str into complex is not possible

In [21]:
# int type into float type is possible

In [22]:
a=12

print(a,type(a))

b=float(a)

print(b,type(b))

12 <class 'int'>
12.0 <class 'float'>

In [23]:
# bool type to float type --POSSIBLE

In [24]:
a=False
b=float(a)

print(b,type(b))

0.0 <class 'float'>

In [25]:
# complex type into float type --NOT POSSIBLE

In [26]:
# str int into float type --POSSIBLE

In [27]:
a="12"
b=float(a)

print(b,type(b))

12.0 <class 'float'>

In [28]:
# str float into float type --possible

In [29]:
a="12.34"
b=float(a)

print(b,type(b))

12.34 <class 'float'>

In [30]:
# str bool into float type --Not possible

In [31]:
 # syntax: varname = bool(int/float/complex/str)

- ALL NON-ZERO VALUE TREATED AS TRUE
- ALL ZERO VALUE TREATED AS FALSE

In [32]:
a=100

print(a,type(a))

b=bool(a)

print(b,type(b))

100 <class 'int'>
True <class 'bool'>

In [33]:
a=-100

print(a,type(a))

b=bool(a)

print(b,type(b))

-100 <class 'int'>
True <class 'bool'>

In [36]:
a=0.0000000001
print(a,type(a))
b=bool(a)
print(b,type(b))

1e-10 <class 'float'>
True <class 'bool'>

In [38]:
a="0"
print(a,type(a))
b=bool(a)
print(b,type(b))

0 <class 'str'>
True <class 'bool'>

In [39]:
a="0.0"
print(a,type(a))
b=bool(a)
print(b,type(b))

0.0 <class 'str'>
True <class 'bool'>

In [1]:
a=10
print(a,type(a))

10 <class 'int'>

In [3]:
a=10
print(a,type(a))
b=complex(a)
print(b,type(b))

10 <class 'int'>
(10+0j) <class 'complex'>

In [4]:
a=10.52
print(a,type(a))
b=complex(a)
print(b,type(b))

10.52 <class 'float'>
(10.52+0j) <class 'complex'>

In [5]:
#int tye to complex type is -POSSIBLE

In [6]:
#float type to complex type is -POSSIBLE

In [7]:
a=True
print(a,type(a))
b=complex(a)
print(b,type(b))

True <class 'bool'>
(1+0j) <class 'complex'>

In [8]:
#str int into complex type is -POSSIBLE

In [9]:
# str float type to complex type is -POSSible

In [10]:
# str bool into complex type - NOT POSSIBLE

In [1]:
# str complex into complex -POSSIBLE