Python

# Basic syntax rules in python :-

# Case sensitive

# eg:-

name="krish"

Name="deepak"

print(name)
print(Name)

In [1]:
name="deepak"
Name="kumar"
print(name)
print(Name)

deepak
kumar

In [3]:
# Variable is used to value

# indentation -define code of blocks

age=35
if age>39:
    print("you are eligible to become politici")
    
else:
    print("you are not eligible to become")

you are not eligible to become

In [6]:
#use of (\) for continuation to next line

#eg:-
total=1+2+3+4+5+6+7+8+9+10+\
11+12
print(total)

78

In [7]:
# multiple statements on a single line 
x=5; y=10;z=x+y
print(x,y,z)

5 10 15

In [12]:
#understanding  symantic in python 

age=32
type(age)
name="deepak"

type(name)

# to check type of data use (type)

str

In [13]:
# declaration and assigning the variable

age=32
height=6.1
name="deepak"
is_student=True

print("my age is {} , height is {}, and my name is {} ".format(age, height, name))

my age is 32 , height is 6.1, and my name is deepak

In [14]:
# Naming convention

# varible name should always be descriptive

# valid variable name 

first_name="deepak"
print(first_name)

deepak

In [15]:
#invalid variable name
first-name="deepak"
print(first-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2152069108.py, line 2)

In [ ]:
# python is dynamically typed ie., its variable is determine during runtime

age=28 # int
height=5.3 #float
name="deepak" # string str

In [16]:
type(height)

float

In [18]:
#type conversion

age=25
print(type(age))

#type conversion

age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>