In [40]:
# Write a program to generate the following series --- 1,4,9,16,25, ....
# Input format:
# The input containing an integer which denotes 'n'
# Output format:
# Print the series and refer the sample output for formatting
# Sample Input:
# 7
# Sample Output:
# 1 4 9 16 25 36 49
# Read input
n = int(input())

for i in range(1, n + 1):
    print(i * i , end=" ")

 7

1 4 9 16 25 36 49

In [18]:
# Write a program to generate the following series --- 6,11,21,36,56,...
# Input format:
# The input containing an integer which denotes 'n'
# Output format:
# Print the series and refer the sample output for formatting.
# Sample Input:
# 6
# Sample Output:
# 6 11 21 36 56 81
# tn = 6
# n=5
# tn=n(n+1)+1
# print(tn)
# Read input
n = int(input())
for i in range(1, n + 1):
    print(i * (i + 1) + 1, end=" ")

 6

3 7 13 21 31 43

In [28]:
# Write a program to generate the first n terms in the series --- 3, 9,
# 27, 81,...,.
# Input format:
# The input containing an integer which denotes 'n'
# Output format:
# Print the series and refer the sample output for formatting
# Sample Input:
# 6
# Sample Output:
# 3 9 27 81 243 729
n = int(input())

for i in range(n):
   print(3 ** (i + 1), end=" ")

 6

3 9 27 81 243 729

In [30]:
# Write a program to generate the following series ---
# 0.5,1.5,4.5,13.5,...
# Input format:
# The input containing an integer which denotes 'n'
# Output format:
# Print the series and refer the sample output for formatting.
# Sample Input:
# 5
# Sample Output:
# 0.5 1.5 4.5 13.5 40.5
n = int(input())

for i in range(n):
   print(0.5 * (3 ** i), end=" ")

 5

0.5 1.5 4.5 13.5 40.5

In [36]:
# Write a program to generate the following series -- 121,225,361,...
# Input format:
# The input containing an integer which denotes 'n'
# Output format:
# Print the series and refer the sample output for formatting.
# Sample Input:
# 4
# Sample Output:
# 121 225 361 529
# THANK
# Read input
n = int(input())

for i in range(n):
    num = 11 + (i * 4)  
    print(num ** 2, end=" ")

 5

121 225 361 529 729

In [42]:
#thanks you